src/client/McK.EIG.ROI.Client/Web References/Web_References.ROISupplementaryWS/ROISupplementaryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:eig="urn:eig.mckesson.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ROISupplementaryService" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>

        This WSDL contains the ROI supplementary Services
     </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:complexType name="SupplementalDocument">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="patientId" type="xsd:long" />
          <xsd:element name="comment" type="xsd:string" />
          <xsd:element name="dateOfService" nillable="true" type="xsd:dateTime" />
          <xsd:element name="department" type="xsd:string" />
          <xsd:element name="docFacility" type="xsd:string" />
          <xsd:element name="docName" type="xsd:string" />
          <xsd:element name="encounter" type="xsd:string" />
          <xsd:element name="pageCount" type="xsd:string" />
          <xsd:element name="subtitle" type="xsd:string" />
          <xsd:element name="freeformFacility" type="eig:FreeFormFacility" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FreeFormFacility">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="freeFormFacilityName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementalAttachment">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="patientId" type="xsd:long" />
          <xsd:element name="comment" type="xsd:string" />
          <xsd:element name="dateOfService" nillable="true" type="xsd:dateTime" />
          <xsd:element name="attachmentDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="dateReceived" nillable="true" type="xsd:dateTime" />
          <xsd:element name="docFacility" type="xsd:string" />
          <xsd:element name="encounter" type="xsd:string" />
          <xsd:element name="fileext" type="xsd:string" />
          <xsd:element name="filename" type="xsd:string" />
          <xsd:element name="filetype" type="xsd:string" />
          <xsd:element name="isDeleted" type="xsd:string" />
          <xsd:element name="pageCount" type="xsd:string" />
          <xsd:element name="path" type="xsd:string" />
          <xsd:element name="printable" type="xsd:string" />
          <xsd:element name="submittedBy" type="xsd:string" />
          <xsd:element name="subtitle" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="uuid" type="xsd:string" />
          <xsd:element name="volume" type="xsd:string" />
          <xsd:element name="externalSource" type="xsd:string" />
          <xsd:element name="freeformFacility" type="eig:FreeFormFacility" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementarityDocument">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="comment" type="xsd:string" />
          <xsd:element name="dateOfService" nillable="true" type="xsd:dateTime" />
          <xsd:element name="department" type="xsd:string" />
          <xsd:element name="docFacility" type="xsd:string" />
          <xsd:element name="docName" type="xsd:string" />
          <xsd:element name="encounter" type="xsd:string" />
          <xsd:element name="pageCount" type="xsd:string" />
          <xsd:element name="subtitle" type="xsd:string" />
          <xsd:element name="freeformFacility" type="eig:FreeFormFacility" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementarityAttachment">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="attachmentDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="dateReceived" nillable="true" type="xsd:dateTime" />
          <xsd:element name="comment" type="xsd:string" />
          <xsd:element name="dateOfService" nillable="true" type="xsd:dateTime" />
          <xsd:element name="docFacility" type="xsd:string" />
          <xsd:element name="encounter" type="xsd:string" />
          <xsd:element name="fileext" type="xsd:string" />
          <xsd:element name="filename" type="xsd:string" />
          <xsd:element name="filetype" type="xsd:string" />
          <xsd:element name="isDeleted" type="xsd:string" />
          <xsd:element name="pageCount" type="xsd:string" />
          <xsd:element name="path" type="xsd:string" />
          <xsd:element name="printable" type="xsd:string" />
          <xsd:element name="submittedBy" type="xsd:string" />
          <xsd:element name="subtitle" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="uuid" type="xsd:string" />
          <xsd:element name="volume" type="xsd:string" />
          <xsd:element name="externalSource" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementalPatient">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="address1" type="xsd:string" />
          <xsd:element name="address2" type="xsd:string" />
          <xsd:element name="address3" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="dateOfBirth" type="xsd:string" />
          <xsd:element name="epn" type="xsd:string" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="gender" type="xsd:string" />
          <xsd:element name="homephone" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="ssn" type="xsd:string" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="vip" type="xsd:boolean" />
          <xsd:element name="workphone" type="xsd:string" />
          <xsd:element name="zip" type="xsd:string" />
          <xsd:element name="countryCode" type="xsd:string" />
          <xsd:element name="countryName" type="xsd:string" />
          <xsd:element name="newCountry" type="xsd:boolean" />
          <xsd:element name="hasRequest" type="xsd:boolean" />
          <xsd:element name="freeformFacility" type="eig:FreeFormFacility" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchCondition">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="operation" type="xsd:string" />
          <xsd:element name="dataType" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
          <xsd:element name="valueTo" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchCriteria">
        <xsd:sequence>
          <xsd:element name="maxCount" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="conditions" type="eig:SearchCondition" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PatientsSearchResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="patients" type="eig:SupplementalPatient" />
          <xsd:element name="maxCountExceeded" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementarityDocuments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supplementarityDocument" type="eig:SupplementarityDocument" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementarityDocumentResult">
        <xsd:sequence>
          <xsd:element name="supplementarityDocumentResult" type="eig:SupplementarityDocuments" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementalDocuments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supplementalDocument" type="eig:SupplementalDocument" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementalDocumentResult">
        <xsd:sequence>
          <xsd:element name="supplementalDocumentResult" type="eig:SupplementalDocuments" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementarityAttachments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supplementarityAttachment" type="eig:SupplementarityAttachment" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementarityAttachmentResult">
        <xsd:sequence>
          <xsd:element name="supplementarityAttachmentResult" type="eig:SupplementarityAttachments" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementalAttachments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supplementalAttachment" type="eig:SupplementalAttachment" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementalAttachmentResult">
        <xsd:sequence>
          <xsd:element name="supplementalAttachmentResult" type="eig:SupplementalAttachments" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchSupplementalPatient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchCriteria" type="eig:SearchCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchSupplementalPatientResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="eig:PatientsSearchResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkDuplicates">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="lastName" type="xsd:string" />
            <xsd:element name="firstName" type="xsd:string" />
            <xsd:element name="supplementalId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkDuplicatesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementalPatient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="patient" type="eig:SupplementalPatient" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementalPatientResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementarityDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementarityDocument" type="eig:SupplementarityDocument" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementarityDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementalDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementalDocument" type="eig:SupplementalDocument" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementalDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementarityAttachment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementarityAttachment" type="eig:SupplementarityAttachment" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementarityAttachmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementarityAttachmentsResult" type="eig:SupplementarityAttachmentResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementalAttachment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementalAttachment" type="eig:SupplementalAttachment" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSupplementalAttachmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementalAttachmentsResult" type="eig:SupplementalAttachmentResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementalPatient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="patient" type="eig:SupplementalPatient" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementalPatientResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementarityDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementarityDocument" type="eig:SupplementarityDocument" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementarityDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementalDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementalDocument" type="eig:SupplementalDocument" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementalDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementarityAttachment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementarityAttachment" type="eig:SupplementarityAttachment" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementarityAttachmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementarityAttachmentsResult" type="eig:SupplementarityAttachmentResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementalAttachment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementalAttachment" type="eig:SupplementalAttachment" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSupplementalAttachmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementalAttachmentsResult" type="eig:SupplementalAttachmentResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementalPatient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementalPatientResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementarityDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="requestId" type="xsd:long" />
            <xsd:element name="patientId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementarityDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementalDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementalDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementarityAttachment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="requestId" type="xsd:long" />
            <xsd:element name="patientId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementarityAttachmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementalAttachment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSupplementalAttachmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementalPatient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="isSearchRetrieve" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementalPatientResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="patient" type="eig:SupplementalPatient" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementarityDocuments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mrn" type="xsd:string" />
            <xsd:element name="facility" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementarityDocumentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementarityDocumentsResult" type="eig:SupplementarityDocumentResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementalDocuments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementalDocumentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementalDocumentsResult" type="eig:SupplementalDocumentResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementarityAttachments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="mrn" type="xsd:string" />
            <xsd:element name="facility" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementarityAttachmentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementarityAttachmentsResult" type="eig:SupplementarityAttachmentResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementalAttachments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSupplementalAttachmentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplementalAttachmentsResult" type="eig:SupplementalAttachmentResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="checkDuplicates">
    <wsdl:part name="parameters" element="eig:checkDuplicates" />
  </wsdl:message>
  <wsdl:message name="checkDuplicatesResponse">
    <wsdl:part name="parameters" element="eig:checkDuplicatesResponse" />
  </wsdl:message>
  <wsdl:message name="searchSupplementalPatient">
    <wsdl:part name="parameters" element="eig:searchSupplementalPatient" />
  </wsdl:message>
  <wsdl:message name="searchSupplementalPatientResponse">
    <wsdl:part name="parameters" element="eig:searchSupplementalPatientResponse" />
  </wsdl:message>
  <wsdl:message name="createSupplementalPatient">
    <wsdl:part name="parameters" element="eig:createSupplementalPatient" />
  </wsdl:message>
  <wsdl:message name="createSupplementalPatientResponse">
    <wsdl:part name="parameters" element="eig:createSupplementalPatientResponse" />
  </wsdl:message>
  <wsdl:message name="createSupplementarityDocument">
    <wsdl:part name="parameters" element="eig:createSupplementarityDocument" />
  </wsdl:message>
  <wsdl:message name="createSupplementarityDocumentResponse">
    <wsdl:part name="parameters" element="eig:createSupplementarityDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="createSupplementalDocument">
    <wsdl:part name="parameters" element="eig:createSupplementalDocument" />
  </wsdl:message>
  <wsdl:message name="createSupplementalDocumentResponse">
    <wsdl:part name="parameters" element="eig:createSupplementalDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="createSupplementarityAttachment">
    <wsdl:part name="parameters" element="eig:createSupplementarityAttachment" />
  </wsdl:message>
  <wsdl:message name="createSupplementarityAttachmentResponse">
    <wsdl:part name="parameters" element="eig:createSupplementarityAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="createSupplementalAttachment">
    <wsdl:part name="parameters" element="eig:createSupplementalAttachment" />
  </wsdl:message>
  <wsdl:message name="createSupplementalAttachmentResponse">
    <wsdl:part name="parameters" element="eig:createSupplementalAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="updateSupplementalPatient">
    <wsdl:part name="parameters" element="eig:updateSupplementalPatient" />
  </wsdl:message>
  <wsdl:message name="updateSupplementalPatientResponse">
    <wsdl:part name="parameters" element="eig:updateSupplementalPatientResponse" />
  </wsdl:message>
  <wsdl:message name="updateSupplementarityDocument">
    <wsdl:part name="parameters" element="eig:updateSupplementarityDocument" />
  </wsdl:message>
  <wsdl:message name="updateSupplementarityDocumentResponse">
    <wsdl:part name="parameters" element="eig:updateSupplementarityDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="updateSupplementalDocument">
    <wsdl:part name="parameters" element="eig:updateSupplementalDocument" />
  </wsdl:message>
  <wsdl:message name="updateSupplementalDocumentResponse">
    <wsdl:part name="parameters" element="eig:updateSupplementalDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="updateSupplementarityAttachment">
    <wsdl:part name="parameters" element="eig:updateSupplementarityAttachment" />
  </wsdl:message>
  <wsdl:message name="updateSupplementarityAttachmentResponse">
    <wsdl:part name="parameters" element="eig:updateSupplementarityAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="updateSupplementalAttachment">
    <wsdl:part name="parameters" element="eig:updateSupplementalAttachment" />
  </wsdl:message>
  <wsdl:message name="updateSupplementalAttachmentResponse">
    <wsdl:part name="parameters" element="eig:updateSupplementalAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementalPatient">
    <wsdl:part name="parameters" element="eig:deleteSupplementalPatient" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementalPatientResponse">
    <wsdl:part name="parameters" element="eig:deleteSupplementalPatientResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementarityDocument">
    <wsdl:part name="parameters" element="eig:deleteSupplementarityDocument" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementarityDocumentResponse">
    <wsdl:part name="parameters" element="eig:deleteSupplementarityDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementalDocument">
    <wsdl:part name="parameters" element="eig:deleteSupplementalDocument" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementalDocumentResponse">
    <wsdl:part name="parameters" element="eig:deleteSupplementalDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementarityAttachment">
    <wsdl:part name="parameters" element="eig:deleteSupplementarityAttachment" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementarityAttachmentResponse">
    <wsdl:part name="parameters" element="eig:deleteSupplementarityAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementalAttachment">
    <wsdl:part name="parameters" element="eig:deleteSupplementalAttachment" />
  </wsdl:message>
  <wsdl:message name="deleteSupplementalAttachmentResponse">
    <wsdl:part name="parameters" element="eig:deleteSupplementalAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="getSupplementalPatient">
    <wsdl:part name="parameters" element="eig:getSupplementalPatient" />
  </wsdl:message>
  <wsdl:message name="getSupplementalPatientResponse">
    <wsdl:part name="parameters" element="eig:getSupplementalPatientResponse" />
  </wsdl:message>
  <wsdl:message name="getSupplementarityDocuments">
    <wsdl:part name="parameters" element="eig:getSupplementarityDocuments" />
  </wsdl:message>
  <wsdl:message name="getSupplementarityDocumentsResponse">
    <wsdl:part name="parameters" element="eig:getSupplementarityDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="getSupplementalDocuments">
    <wsdl:part name="parameters" element="eig:getSupplementalDocuments" />
  </wsdl:message>
  <wsdl:message name="getSupplementalDocumentsResponse">
    <wsdl:part name="parameters" element="eig:getSupplementalDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="getSupplementarityAttachments">
    <wsdl:part name="parameters" element="eig:getSupplementarityAttachments" />
  </wsdl:message>
  <wsdl:message name="getSupplementarityAttachmentsResponse">
    <wsdl:part name="parameters" element="eig:getSupplementarityAttachmentsResponse" />
  </wsdl:message>
  <wsdl:message name="getSupplementalAttachments">
    <wsdl:part name="parameters" element="eig:getSupplementalAttachments" />
  </wsdl:message>
  <wsdl:message name="getSupplementalAttachmentsResponse">
    <wsdl:part name="parameters" element="eig:getSupplementalAttachmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="SupplementaryPortType">
    <wsdl:operation name="searchSupplementalPatient">
      <wsdl:input message="eig:searchSupplementalPatient" />
      <wsdl:output message="eig:searchSupplementalPatientResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkDuplicates">
      <wsdl:input message="eig:checkDuplicates" />
      <wsdl:output message="eig:checkDuplicatesResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSupplementalPatient">
      <wsdl:input message="eig:createSupplementalPatient" />
      <wsdl:output message="eig:createSupplementalPatientResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSupplementarityDocument">
      <wsdl:input message="eig:createSupplementarityDocument" />
      <wsdl:output message="eig:createSupplementarityDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSupplementalDocument">
      <wsdl:input message="eig:createSupplementalDocument" />
      <wsdl:output message="eig:createSupplementalDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSupplementarityAttachment">
      <wsdl:input message="eig:createSupplementarityAttachment" />
      <wsdl:output message="eig:createSupplementarityAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSupplementalAttachment">
      <wsdl:input message="eig:createSupplementalAttachment" />
      <wsdl:output message="eig:createSupplementalAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateSupplementalPatient">
      <wsdl:input message="eig:updateSupplementalPatient" />
      <wsdl:output message="eig:updateSupplementalPatientResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateSupplementarityDocument">
      <wsdl:input message="eig:updateSupplementarityDocument" />
      <wsdl:output message="eig:updateSupplementarityDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateSupplementalDocument">
      <wsdl:input message="eig:updateSupplementalDocument" />
      <wsdl:output message="eig:updateSupplementalDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateSupplementarityAttachment">
      <wsdl:input message="eig:updateSupplementarityAttachment" />
      <wsdl:output message="eig:updateSupplementarityAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateSupplementalAttachment">
      <wsdl:input message="eig:updateSupplementalAttachment" />
      <wsdl:output message="eig:updateSupplementalAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementalPatient">
      <wsdl:input message="eig:deleteSupplementalPatient" />
      <wsdl:output message="eig:deleteSupplementalPatientResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementarityDocument">
      <wsdl:input message="eig:deleteSupplementarityDocument" />
      <wsdl:output message="eig:deleteSupplementarityDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementalDocument">
      <wsdl:input message="eig:deleteSupplementalDocument" />
      <wsdl:output message="eig:deleteSupplementalDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementarityAttachment">
      <wsdl:input message="eig:deleteSupplementarityAttachment" />
      <wsdl:output message="eig:deleteSupplementarityAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementalAttachment">
      <wsdl:input message="eig:deleteSupplementalAttachment" />
      <wsdl:output message="eig:deleteSupplementalAttachmentResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSupplementalPatient">
      <wsdl:input message="eig:getSupplementalPatient" />
      <wsdl:output message="eig:getSupplementalPatientResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSupplementarityDocuments">
      <wsdl:input message="eig:getSupplementarityDocuments" />
      <wsdl:output message="eig:getSupplementarityDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSupplementalDocuments">
      <wsdl:input message="eig:getSupplementalDocuments" />
      <wsdl:output message="eig:getSupplementalDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSupplementarityAttachments">
      <wsdl:input message="eig:getSupplementarityAttachments" />
      <wsdl:output message="eig:getSupplementarityAttachmentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getSupplementalAttachments">
      <wsdl:input message="eig:getSupplementalAttachments" />
      <wsdl:output message="eig:getSupplementalAttachmentsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SupplementarySoapBinding" type="eig:SupplementaryPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchSupplementalPatient">
      <soap:operation soapAction="urn:eig.mckesson.com/searchSupplementalPatient" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDuplicates">
      <soap:operation soapAction="urn:eig.mckesson.com/checkDuplicates" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSupplementalPatient">
      <soap:operation soapAction="urn:eig.mckesson.com/createSupplementalPatient" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSupplementarityDocument">
      <soap:operation soapAction="urn:eig.mckesson.com/createSupplementarityDocument" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSupplementalDocument">
      <soap:operation soapAction="urn:eig.mckesson.com/createSupplementalDocument" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSupplementarityAttachment">
      <soap:operation soapAction="urn:eig.mckesson.com/createSupplementarityAttachment" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSupplementalAttachment">
      <soap:operation soapAction="urn:eig.mckesson.com/createSupplementalAttachment" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSupplementalPatient">
      <soap:operation soapAction="urn:eig.mckesson.com/updateSupplementalPatient" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSupplementarityDocument">
      <soap:operation soapAction="urn:eig.mckesson.com/updateSupplementarityDocument" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSupplementalDocument">
      <soap:operation soapAction="urn:eig.mckesson.com/updateSupplementalDocument" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSupplementarityAttachment">
      <soap:operation soapAction="urn:eig.mckesson.com/updateSupplementarityAttachment" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSupplementalAttachment">
      <soap:operation soapAction="urn:eig.mckesson.com/updateSupplementalAttachment" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementalPatient">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteSupplementalPatient" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementarityDocument">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteSupplementarityDocument" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementalDocument">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteSupplementalDocument" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementarityAttachment">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteSupplementarityAttachment" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSupplementalAttachment">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteSupplementalAttachment" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupplementalPatient">
      <soap:operation soapAction="urn:eig.mckesson.com/getSupplementalPatient" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupplementarityDocuments">
      <soap:operation soapAction="urn:eig.mckesson.com/getSupplementarityDocuments" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupplementalDocuments">
      <soap:operation soapAction="urn:eig.mckesson.com/getSupplementalDocuments" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupplementarityAttachments">
      <soap:operation soapAction="urn:eig.mckesson.com/getSupplementarityAttachments" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupplementalAttachments">
      <soap:operation soapAction="urn:eig.mckesson.com/getSupplementalAttachments" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ROISupplementaryService">
    <wsdl:documentation>

			This service implements all ROI Supplementary Service Calls
		  </wsdl:documentation>
    <wsdl:port name="SupplementaryPort" binding="eig:SupplementarySoapBinding">
      <soap:address location="http://127.0.0.1:8080/roi/services/SupplementaryService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>