src/serverandcommon-pt/src/server-workflow/workflow-webapp/src/main/webapp/WEB-INF/eig/workflow/xsd/processlist_v1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    attributeFormDefault="unqualified"
	elementFormDefault="unqualified"
	targetNamespace="http://eig.mckesson.com/xsd/2009/01"
	xmlns:processlist_v1_0="http://eig.mckesson.com/xsd/2009/01"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="transactionId" type="xsd:long" />
    <xsd:element name="applicationId" type="xsd:string" />

    <xsd:element name="getAllProcesses"                   type="processlist_v1_0:getAllProcesses" />
    <xsd:element name="getAllProcessesResponse"           type="processlist_v1_0:getAllProcessesResponse" />
    <xsd:element name="getAssignedProcesses"              type="processlist_v1_0:getAssignedProcesses" />
    <xsd:element name="getAssignedProcessesResponse"      type="processlist_v1_0:getAssignedProcessesResponse" />
    <xsd:element name="getProcesses" 					  type="processlist_v1_0:getProcesses"/>
	<xsd:element name="getProcessesResponse" 			  type="processlist_v1_0:getProcessesResponse"/>
    <xsd:element name="updateProcessAssignements"         type="processlist_v1_0:updateProcessAssignements" />
    <xsd:element name="updateProcessAssignementsResponse" type="processlist_v1_0:updateProcessAssignementsResponse" />
    <xsd:element name="getOwnedProcesses" 				  type="processlist_v1_0:getOwnedProcesses"/>
	<xsd:element name="getOwnedProcessesResponse" 		  type="processlist_v1_0:getOwnedProcessesResponse"/>
	<xsd:element name="getOwnedProcessesInfo" 			  type="processlist_v1_0:getOwnedProcessesInfo"/>
	<xsd:element name="getOwnedProcessesInfoResponse" 	  type="processlist_v1_0:getOwnedProcessesInfoResponse"/>

	<xsd:complexType name="getAssignedProcesses">
		<xsd:sequence>
			<xsd:element name="applicationId" type="xsd:int" />
			<xsd:element minOccurs="0" name="assignedTo" type="processlist_v1_0:Actor" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Actor">
		<xsd:complexContent>
			<xsd:extension base="processlist_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element name="appID"      type="xsd:int" />
					<xsd:element name="entityID"   type="xsd:long" />
					<xsd:element name="entityType" type="xsd:int" />
					<xsd:element name="version"    type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType abstract="true" name="basicWorkflowDO">
		<xsd:sequence />
	</xsd:complexType>

	<xsd:complexType name="getAssignedProcessesResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="processInfoList" type="processlist_v1_0:ProcessInfoList" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProcessList">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="processList" type="processlist_v1_0:Process" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Process">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="assignedActors" nillable="true" type="processlist_v1_0:ProcessActorACL" />
			<xsd:element minOccurs="0" name="createDateTime" type="xsd:dateTime" />
			<xsd:element minOccurs="0" name="modifiedDateTime" type="xsd:dateTime" />
			<xsd:element name="modifiedUserId" type="xsd:long" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ownerActors" nillable="true" type="processlist_v1_0:Actor" />
			<xsd:element minOccurs="0" name="owners" type="processlist_v1_0:Actors" />
			<xsd:element minOccurs="0" name="processACLS" type="processlist_v1_0:ProcessActorACLS" />
			<xsd:element name="processId" type="xsd:long" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="processVersions" type="processlist_v1_0:ProcessVersion" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProcessVersion">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="createdBy" type="xsd:string" />
			<xsd:element minOccurs="0" name="createdTS" type="xsd:dateTime" />
			<xsd:element minOccurs="0" name="domainList" type="processlist_v1_0:DomainList" />
			<xsd:element minOccurs="0" name="exceptionEmailAddress" type="xsd:string" />
			<xsd:element minOccurs="0" name="effectiveDate" type="xsd:dateTime" />
			<xsd:element minOccurs="0" name="expirationDate" type="xsd:dateTime" />
			<xsd:element name="id" type="xsd:long" />
			<xsd:element minOccurs="0" name="isValid" type="xsd:boolean" />
			<xsd:element minOccurs="0" name="lockedBy" type="xsd:string" />
			<xsd:element minOccurs="0" name="maxInstanceDuration" type="xsd:int" />
			<xsd:element minOccurs="0" name="notifyExceptions" type="xsd:unsignedShort" />
			<xsd:element minOccurs="0" name="process" type="processlist_v1_0:Process" />
			<xsd:element minOccurs="0" name="processAttributeList" type="processlist_v1_0:ProcessAttributeList" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="processAttributes" nillable="true" type="processlist_v1_0:ProcessAttribute" />
			<xsd:element minOccurs="0" name="processDefinition" type="xsd:string" />
			<xsd:element minOccurs="0" name="processDescription" type="xsd:string" />
			<xsd:element minOccurs="0" name="processGraph" type="xsd:string" />
			<!--<xsd:element name="processId" type="xsd:long" />-->
			<xsd:element minOccurs="0" name="processName" type="xsd:string" />
			<xsd:element minOccurs="0" name="retentionPeriod" type="xsd:int" />
			<xsd:element minOccurs="0" name="status" type="xsd:string" />
			<xsd:element minOccurs="0" name="updatedBy" type="xsd:string" />
			<xsd:element minOccurs="0" name="updatedTS" type="xsd:dateTime" />
			<xsd:element name="versionId" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProcessActorACL">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="actor" type="processlist_v1_0:Actor" />
			<xsd:element minOccurs="0" name="createdTS" type="xsd:dateTime" />
			<xsd:element minOccurs="0" name="permissionName" type="xsd:string" />
			<xsd:element name="processId" type="xsd:long" />
			<xsd:element minOccurs="0" name="updatedTS" type="xsd:dateTime" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProcessActorACLS">
		<xsd:complexContent>
			<xsd:extension base="processlist_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="processActorACLS" nillable="true" type="processlist_v1_0:ProcessActorACL" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Actors">
		<xsd:complexContent>
			<xsd:extension base="processlist_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="actors" type="processlist_v1_0:Actor" />
					<xsd:element name="size" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="DomainList">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="domainList" type="processlist_v1_0:Domain" />
			<xsd:element name="size" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="Domain">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="domainDescription" type="xsd:string" />
			<xsd:element name="domainId" type="xsd:long" />
			<xsd:element minOccurs="0" name="domainName" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProcessAttributeList">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="processAttributeList" type="processlist_v1_0:ProcessAttribute" />
			<xsd:element name="size" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ProcessAttribute">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="attributeName" type="xsd:string" />
			<xsd:element minOccurs="0" name="attributeType" type="xsd:string" />
			<xsd:element minOccurs="0" name="attributeValue" type="xsd:string" />
			<xsd:element minOccurs="0" name="createdTS" type="xsd:dateTime" />
			<xsd:element name="processId" type="xsd:long" />
			<xsd:element minOccurs="0" name="updatedTS" type="xsd:dateTime" />
			<xsd:element name="versionId" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="getAllProcesses">
		<xsd:sequence>
			<xsd:element name="applicationId"     type="xsd:int"/>
			<xsd:element name="canIncludeExpired" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="variableList" type="processlist_v1_0:VariableList"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="VariableList">
		<xsd:complexContent>
			<xsd:extension base="processlist_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="variables" type="processlist_v1_0:Variable" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Variable">
		<xsd:complexContent>
			<xsd:extension base="processlist_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="key" type="xsd:string" />
					<xsd:element minOccurs="0" name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="getAllProcessesResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="processInfoList" type="processlist_v1_0:ProcessInfoList" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="updateProcessAssignements">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="assignedTo" type="processlist_v1_0:Actor" />
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="processListIds" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="updateProcessAssignementsResponse">
		<xsd:sequence />
	</xsd:complexType>

	<xsd:complexType name="getProcesses">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="ownedBy" type="processlist_v1_0:Actors"/>
			<xsd:element minOccurs="0" name="assignedTo" type="processlist_v1_0:Actors"/>
			<xsd:element minOccurs="0" name="filterByProperties" type="processlist_v1_0:VariableList"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="getProcessesResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="processInfoList" type="processlist_v1_0:ProcessInfoList"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="getOwnedProcesses">
		<xsd:sequence>
			<xsd:element name="applicationId" type="xsd:int" />
			<xsd:element name="canIncludeExpired" type="xsd:boolean" />
			<xsd:element minOccurs="0" name="ownedBy" type="processlist_v1_0:Actors" />
			<xsd:element minOccurs="0" name="variableList" type="processlist_v1_0:VariableList" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="getOwnedProcessesResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="processInfoList" type="processlist_v1_0:ProcessInfoList" />
		</xsd:sequence>
	</xsd:complexType>
  
      <xsd:complexType name="ProcessInfoList">
        <xsd:sequence>
          <xsd:element name="processInfoList" maxOccurs="unbounded" minOccurs="0"
                     type="processlist_v1_0:ProcessInfo" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ProcessInfo">
        <xsd:sequence>
          <xsd:element name="processId"  
                     type="xsd:long" />
          <xsd:element name="processVersionInfo" minOccurs="0" maxOccurs="unbounded" nillable="true"  
                     type="processlist_v1_0:ProcessVersionInfo" />
          <xsd:element name="owners" 		  minOccurs="0" 
                     type="processlist_v1_0:Actors" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ProcessVersionInfo">
        <xsd:sequence>
          <xsd:element name="versionId" 
              type="xsd:long" />
          <xsd:element name="processName" 		   minOccurs="0" 
              type="xsd:string" />
          <xsd:element name="processDescription"   minOccurs="0" 
              type="xsd:string" />
          <xsd:element name="processAttributeList" minOccurs="0" 
              type="processlist_v1_0:ProcessAttributeList" />
        </xsd:sequence>
      </xsd:complexType>

	<xsd:complexType name="getOwnedProcessesInfo">
		<xsd:sequence>
			<xsd:element name="applicationId" type="xsd:int" />
			<xsd:element name="canIncludeExpired" type="xsd:boolean" />
			<xsd:element minOccurs="0" name="ownedBy" type="processlist_v1_0:Actors" />
			<xsd:element minOccurs="0" name="variableList" type="processlist_v1_0:VariableList" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="getOwnedProcessesInfoResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="processInfoList" type="processlist_v1_0:ProcessInfoList" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>