src/serverandcommon-pt/src/server-workflow/workflow-webapp/src/main/webapp/WEB-INF/eig/workflow/xsd/task_v1_0.xsd

<xsd:schema attributeFormDefault="unqualified"
	elementFormDefault="unqualified"
	targetNamespace="http://eig.mckesson.com/xsd/2009/01"
	xmlns:task_v1_0="http://eig.mckesson.com/xsd/2009/01"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:element name="transactionId" type="xsd:long" />
	<xsd:element name="applicationId" type="xsd:string" />
	<xsd:element name="actor" type="task_v1_0:Actor" />
	<xsd:element name="actors" type="task_v1_0:Actors" />
	<xsd:element name="completeTasks" type="task_v1_0:completeTasks" />
	<xsd:element name="completeTasksResponse"
		type="task_v1_0:completeTasksResponse" />
	<xsd:element name="createTask" type="task_v1_0:createTask" />
	<xsd:element name="createTaskResponse"
		type="task_v1_0:createTaskResponse" />
	<xsd:element name="deleteTasks" type="task_v1_0:deleteTasks" />
	<xsd:element name="deleteTasksResponse"
		type="task_v1_0:deleteTasksResponse" />
	<xsd:element name="disownTasks" type="task_v1_0:disownTasks" />
	<xsd:element name="disownTasksResponse"
		type="task_v1_0:disownTasksResponse" />
	<xsd:element name="generateWorklistReport"
		type="task_v1_0:generateWorklistReport" />
	<xsd:element name="generateWorklistReportResponse"
		type="task_v1_0:generateWorklistReportResponse" />
	<xsd:element name="getAssignedTasks"
		type="task_v1_0:getAssignedTasks" />
	<xsd:element name="getAssignedTasksCount"
		type="task_v1_0:getAssignedTasksCount" />
	<xsd:element name="getAssignedTasksCountResponse"
		type="task_v1_0:getAssignedTasksCountResponse" />
	<xsd:element name="getAssignedTasksResponse"
		type="task_v1_0:getAssignedTasksResponse" />
	<xsd:element name="getCreatedTasks"
		type="task_v1_0:getCreatedTasks" />
	<xsd:element name="getCreatedTasksCount"
		type="task_v1_0:getCreatedTasksCount" />
	<xsd:element name="getCreatedTasksCountResponse"
		type="task_v1_0:getCreatedTasksCountResponse" />
	<xsd:element name="getCreatedTasksResponse"
		type="task_v1_0:getCreatedTasksResponse" />
	<xsd:element name="getTaskDetails" type="task_v1_0:getTaskDetails" />
	<xsd:element name="getTaskDetailsResponse"
		type="task_v1_0:getTaskDetailsResponse" />
	<xsd:element name="getWorklistsMasterData"
		type="task_v1_0:getWorklistsMasterData" />
	<xsd:element name="getWorklistsMasterDataResponse"
		type="task_v1_0:getWorklistsMasterDataResponse" />
	<xsd:element name="makeTasksEditable"
		type="task_v1_0:makeTasksEditable" />
	<xsd:element name="makeTasksEditableResponse"
		type="task_v1_0:makeTasksEditableResponse" />
	<xsd:element name="ownTasks" type="task_v1_0:ownTasks" />
	<xsd:element name="ownTasksResponse"
		type="task_v1_0:ownTasksResponse" />
	<xsd:element name="reassignTasks" type="task_v1_0:reassignTasks" />
	<xsd:element name="reassignTasksResponse"
		type="task_v1_0:reassignTasksResponse" />
	<xsd:element name="releaseTasks" type="task_v1_0:releaseTasks" />
	<xsd:element name="releaseTasksResponse"
		type="task_v1_0:releaseTasksResponse" />
	<xsd:element name="updateTask" type="task_v1_0:updateTask" />
	<xsd:element name="updateTaskResponse"
		type="task_v1_0:updateTaskResponse" />
	<xsd:complexType name="reassignTasks">
		<xsd:sequence>
			<xsd:element name="toWorklist" type="xsd:long" />
			<xsd:element minOccurs="0" name="taskList"
				type="task_v1_0:TaskList" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType abstract="true" name="basicWorklistDO">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorkflowDO">
				<xsd:sequence />
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType abstract="true" name="basicWorkflowDO">
		<xsd:sequence />
	</xsd:complexType>
	<xsd:complexType name="reassignTasksResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskListResult"
				type="task_v1_0:TaskListResult" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getAssignedTasks">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="assignedTasksCriteria"
				type="task_v1_0:AssignedTasksCriteria" />
			<xsd:element name="index" type="xsd:int" />
			<xsd:element name="count" type="xsd:int" />
			<xsd:element minOccurs="0" name="sortOrder"
				type="task_v1_0:SortOrder" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getAssignedTasksResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskList"
				type="task_v1_0:TaskList" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="generateWorklistReport">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="worklistReportDO"
				type="task_v1_0:WorklistReportDO" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="generateWorklistReportResponse">
		<xsd:sequence />
	</xsd:complexType>
	<xsd:complexType name="releaseTasks">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskList"
				type="task_v1_0:TaskList" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="releaseTasksResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskListResult"
				type="task_v1_0:TaskListResult" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getTaskDetails">
		<xsd:sequence>
			<xsd:element name="taskID" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getTaskDetailsResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="task"
				type="task_v1_0:Task" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="makeTasksEditable">
		<xsd:sequence>
			<xsd:element name="worklistID" type="xsd:long" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="taskIDs" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="makeTasksEditableResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskListResult"
				type="task_v1_0:TaskListResult" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCreatedTasks">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="createdTasksCriteria"
				type="task_v1_0:CreatedTasksCriteria" />
			<xsd:element name="index" type="xsd:int" />
			<xsd:element name="count" type="xsd:int" />
			<xsd:element minOccurs="0" name="sortOrder"
				type="task_v1_0:SortOrder" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCreatedTasksResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskList"
				type="task_v1_0:TaskList" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="disownTasks">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="taskIDs" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="disownTasksResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskListResult"
				type="task_v1_0:TaskListResult" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getWorklistsMasterData">
		<xsd:sequence />
	</xsd:complexType>
	<xsd:complexType name="getWorklistsMasterDataResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="wlMasterData"
				type="task_v1_0:WLMasterData" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createTask">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskDetails"
				type="task_v1_0:Task" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="createTaskResponse">
		<xsd:sequence>
			<xsd:element name="createdTasksCount" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="completeTasks">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskIDs"
				type="task_v1_0:TaskList" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="completeTasksResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskListResult"
				type="task_v1_0:TaskListResult" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCreatedTasksCount">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="createdTasksCriteria"
				type="task_v1_0:CreatedTasksCriteria" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getCreatedTasksCountResponse">
		<xsd:sequence>
			<xsd:element name="createdTasksCount" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getAssignedTasksCount">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="assignedTaskcriteria"
				type="task_v1_0:AssignedTasksCriteria" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="getAssignedTasksCountResponse">
		<xsd:sequence>
			<xsd:element name="assignedTasksCount" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="updateTask">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskDetails"
				type="task_v1_0:Task" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="updateTaskResponse">
		<xsd:sequence />
	</xsd:complexType>
	<xsd:complexType name="deleteTasks">
		<xsd:sequence>
			<xsd:element name="worklistID" type="xsd:long" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="taskIDs" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="deleteTasksResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskListResult"
				type="task_v1_0:TaskListResult" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ownTasks">
		<xsd:sequence>
			<xsd:element name="worklistID" type="xsd:long" />
			<xsd:element maxOccurs="unbounded" minOccurs="0"
				name="taskIDs" type="xsd:long" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ownTasksResponse">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="taskListResult"
				type="task_v1_0:TaskListResult" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TaskList">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorklistDO">
				<xsd:sequence>
					<xsd:element name="size" type="xsd:long" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="tasks" type="task_v1_0:Task" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Task">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorklistDO">
				<xsd:sequence>
					<xsd:element name="canStartEarly"
						type="xsd:boolean" />
					<xsd:element minOccurs="0" name="comments"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="endDate"
						type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="taskOwner"
						type="task_v1_0:Actor" />
					<xsd:element name="priorityID" type="xsd:long" />
					<xsd:element minOccurs="0" name="reassignReason"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="startDate"
						type="xsd:dateTime" />
					<xsd:element minOccurs="0" name="statusID"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="createBy"
						type="task_v1_0:Actor" />
					<xsd:element minOccurs="0" name="taskDescription"
						type="xsd:string" />
					<xsd:element name="taskID" type="xsd:long" />
					<xsd:element minOccurs="0" name="taskName"
						type="xsd:string" />
					<xsd:element name="worklistID" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Actor">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element name="actorID" type="xsd:long" />
					<xsd:element name="appID" type="xsd:int" />
					<xsd:element name="entityID" type="xsd:long" />
					<xsd:element name="entityType" type="xsd:int" />
					<xsd:element name="version" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaskListResult">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorklistDO">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="idListResult"
						type="task_v1_0:IDListResult" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="processedTasksList" type="task_v1_0:Task" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="unProcessedTasksList" type="task_v1_0:Task" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IDListResult">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="errorCodes" type="xsd:string" />

					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="unprocessedIDs" type="xsd:long" />
	
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="processedIDs" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AssignedTasksCriteria">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorklistDO">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="statusIDs" type="xsd:string" />
					<xsd:element name="worklistID" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SortOrder">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="attribute"
						type="task_v1_0:Attribute" />
					<xsd:element name="isDesc" type="xsd:boolean" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Attribute">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="name"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WorklistReportDO">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorklistDO">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="csvFileName"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="dateFilter"
						type="xsd:string" />
					<xsd:element minOccurs="0" name="domain"
						type="task_v1_0:Actor" />
					<xsd:element minOccurs="0" name="endDate"
						type="xsd:dateTime" />
					<xsd:element name="fetchAllWorklists"
						type="xsd:boolean" />
					<xsd:element name="isAdmin" type="xsd:boolean" />
					<xsd:element name="isDesc" type="xsd:boolean" />
					<xsd:element minOccurs="0" name="ownerActors"
						type="task_v1_0:Actors" />
					<xsd:element name="primarySort" type="xsd:byte" />
					<xsd:element name="priorityID" type="xsd:int" />
					<xsd:element minOccurs="0" name="startDate"
						type="xsd:dateTime" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="statusIDs" type="xsd:string" />
					<xsd:element minOccurs="0" name="taskName"
						type="xsd:string" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="worklistIDs" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Actors">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorkflowDO">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="actors" type="task_v1_0:Actor" />
					<xsd:element name="size" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CreatedTasksCriteria">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorklistDO">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="createdBy"
						type="task_v1_0:Actor" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="statusIDs" type="xsd:string" />
					<xsd:element name="worklistID" type="xsd:long" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WLMasterData">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorklistDO">
				<xsd:sequence>
					<xsd:element name="defaultTaskDuration" type="xsd:string" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="priorityList" type="task_v1_0:Priority" />
					<xsd:element maxOccurs="unbounded" minOccurs="0"
						name="taskStatusList" type="task_v1_0:TaskStatus" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Priority">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorklistDO">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="displayNameKey"
						type="xsd:string" />
					<xsd:element name="priorityID" type="xsd:long" />
					<xsd:element name="sortOrder" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TaskStatus">
		<xsd:complexContent>
			<xsd:extension base="task_v1_0:basicWorklistDO">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="displayNameKey"
						type="xsd:string" />
					<xsd:element name="isActive" type="xsd:boolean" />
					<xsd:element name="sortOrder" type="xsd:int" />
					<xsd:element minOccurs="0" name="statusID"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
