src/serverandcommon-pt/src/server-workflow/workflow-webapp/src/main/webapp/WEB-INF/eig/workflow/xsd/worklist_v1_0.xsd

<xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="unqualified"
            targetNamespace="http://eig.mckesson.com/xsd/2009/01"
            xmlns:wl_v1_0="http://eig.mckesson.com/xsd/2009/01"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
           
           <xsd:element name="transactionId" type="xsd:long" />
            <xsd:element name="applicationId" type="xsd:string" /> 
            <xsd:element name="actor" type="wl_v1_0:Actor" />
            <xsd:element name="actors" type="wl_v1_0:Actors" />
            <xsd:element name="createNewWorklist"
                type="wl_v1_0:createNewWorklist" />
            <xsd:element name="createNewWorklistResponse"
                type="wl_v1_0:createNewWorklistResponse" />
            <xsd:element name="createWorklist" type="wl_v1_0:createWorklist" />
            <xsd:element name="createWorklistResponse"
                type="wl_v1_0:createWorklistResponse" />
            <xsd:element name="deleteWorklists"
                type="wl_v1_0:deleteWorklists" />
            <xsd:element name="deleteWorklistsResponse"
                type="wl_v1_0:deleteWorklistsResponse" />
            <xsd:element name="getAllAssignedWorklists"
                type="wl_v1_0:getAllAssignedWorklists" />
            <xsd:element name="getAllAssignedWorklistsCount"
                type="wl_v1_0:getAllAssignedWorklistsCount" />
            <xsd:element name="getAllAssignedWorklistsCountResponse"
                type="wl_v1_0:getAllAssignedWorklistsCountResponse" />
            <xsd:element name="getAllAssignedWorklistsResponse"
                type="wl_v1_0:getAllAssignedWorklistsResponse" />
            <xsd:element name="getAllWorklists"
                type="wl_v1_0:getAllWorklists" />
            <xsd:element name="getAllWorklistsCount"
                type="wl_v1_0:getAllWorklistsCount" />
            <xsd:element name="getAllWorklistsCountResponse"
                type="wl_v1_0:getAllWorklistsCountResponse" />
            <xsd:element name="getAllWorklistsResponse"
                type="wl_v1_0:getAllWorklistsResponse" />
            <xsd:element name="getAssignedWorklists"
                type="wl_v1_0:getAssignedWorklists" />
            <xsd:element name="getAssignedWorklistsCount"
                type="wl_v1_0:getAssignedWorklistsCount" />
            <xsd:element name="getAssignedWorklistsCountResponse"
                type="wl_v1_0:getAssignedWorklistsCountResponse" />
            <xsd:element name="getAssignedWorklistsResponse"
                type="wl_v1_0:getAssignedWorklistsResponse" />
            <xsd:element name="getCreatableWorklists"
                type="wl_v1_0:getCreatableWorklists" />
            <xsd:element name="getCreatableWorklistsCount"
                type="wl_v1_0:getCreatableWorklistsCount" />
            <xsd:element name="getCreatableWorklistsCountResponse"
                type="wl_v1_0:getCreatableWorklistsCountResponse" />
            <xsd:element name="getCreatableWorklistsResponse"
                type="wl_v1_0:getCreatableWorklistsResponse" />
            <xsd:element name="getOwnedWorklists"
                type="wl_v1_0:getOwnedWorklists" />
            <xsd:element name="getOwnedWorklistsResponse"
                type="wl_v1_0:getOwnedWorklistsResponse" />
            <xsd:element name="getTaskAclsByActor"
                type="wl_v1_0:getTaskAclsByActor" />
            <xsd:element name="getTaskAclsByActorResponse"
                type="wl_v1_0:getTaskAclsByActorResponse" />
            <xsd:element name="getWorklist" type="wl_v1_0:getWorklist" />
            <xsd:element name="getWorklistResponse"
                type="wl_v1_0:getWorklistResponse" />
            <xsd:element name="getWorklists" type="wl_v1_0:getWorklists" />
            <xsd:element name="getWorklistsCount"
                type="wl_v1_0:getWorklistsCount" />
            <xsd:element name="getWorklistsCountResponse"
                type="wl_v1_0:getWorklistsCountResponse" />
            <xsd:element name="getWorklistsResponse"
                type="wl_v1_0:getWorklistsResponse" />
            <xsd:element name="updateExistingWorklist"
                type="wl_v1_0:updateExistingWorklist" />
            <xsd:element name="updateExistingWorklistResponse"
                type="wl_v1_0:updateExistingWorklistResponse" />
            <xsd:element name="updateWorklist" type="wl_v1_0:updateWorklist" />
            <xsd:element name="updateWorklistACLs"
                type="wl_v1_0:updateWorklistACLs" />
            <xsd:element name="updateWorklistACLsResponse"
                type="wl_v1_0:updateWorklistACLsResponse" />
            <xsd:element name="updateWorklistResponse"
                type="wl_v1_0:updateWorklistResponse" />
            <xsd:complexType name="createWorklist">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="worklist"
                        type="wl_v1_0:Worklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="basicWorklistDO">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorkflowDO">
                        <xsd:sequence />
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="basicWorkflowDO">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="createWorklistResponse">
                <xsd:sequence>
                    <xsd:element name="worklistsCount" type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getWorklistsCount">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="belongsTo"
                        type="wl_v1_0:Actor" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getWorklistsCountResponse">
                <xsd:sequence>
                    <xsd:element name="worklistsCount" type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getOwnedWorklists">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="owner"
                        type="wl_v1_0:Actor" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getOwnedWorklistsResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="listWorklist"
                        type="wl_v1_0:ListWorklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="createNewWorklist">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="worklist"
                        type="wl_v1_0:Worklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="createNewWorklistResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="worklist"
                        type="wl_v1_0:Worklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updateExistingWorklist">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="worklist"
                        type="wl_v1_0:Worklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updateExistingWorklistResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="worklist"
                        type="wl_v1_0:Worklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updateWorklistACLs">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="listACL"
                        type="wl_v1_0:ListACLs" />
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="worlistIDs" type="xsd:long" />
                    <xsd:element minOccurs="0" name="assignedTo"
                        type="wl_v1_0:Actor" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updateWorklistACLsResponse">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="getCreatableWorklistsCount">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="createWLCriteria"
                        type="wl_v1_0:CreateWLCriteria" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCreatableWorklistsCountResponse">
                <xsd:sequence>
                    <xsd:element name="worklistsCount" type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAllAssignedWorklists">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="createdBy"
                        type="wl_v1_0:Actor" />
                    <xsd:element name="startIndex" type="xsd:int" />
                    <xsd:element name="count" type="xsd:int" />
                    <xsd:element minOccurs="0" name="sortOrder"
                        type="wl_v1_0:SortOrder" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAllAssignedWorklistsResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="listWorklist"
                        type="wl_v1_0:ListWorklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAllAssignedWorklistsCount">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="createdBy"
                        type="wl_v1_0:Actor" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType
                name="getAllAssignedWorklistsCountResponse">
                <xsd:sequence>
                    <xsd:element name="worklistsCount" type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAllWorklists">
                <xsd:sequence>
                    <xsd:element name="startIndex" type="xsd:int" />
                    <xsd:element name="count" type="xsd:int" />
                    <xsd:element minOccurs="0" name="sortOrder"
                        type="wl_v1_0:SortOrder" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAllWorklistsResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="listWorklist"
                        type="wl_v1_0:ListWorklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCreatableWorklists">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="createWLCriteria"
                        type="wl_v1_0:CreateWLCriteria" />
                    <xsd:element name="startIndex" type="xsd:int" />
                    <xsd:element name="count" type="xsd:int" />
                    <xsd:element minOccurs="0" name="sortOrder"
                        type="wl_v1_0:SortOrder" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getCreatableWorklistsResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="listWorklist"
                        type="wl_v1_0:ListWorklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAllWorklistsCount">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="getAllWorklistsCountResponse">
                <xsd:sequence>
                    <xsd:element name="worklistsCount" type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getWorklists">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="belongsTo"
                        type="wl_v1_0:Actor" />
                    <xsd:element name="startIndex" type="xsd:int" />
                    <xsd:element name="count" type="xsd:int" />
                    <xsd:element minOccurs="0" name="sortOrder"
                        type="wl_v1_0:SortOrder" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getWorklistsResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="listWorklist"
                        type="wl_v1_0:ListWorklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getTaskAclsByActor">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="arg0"
                        type="wl_v1_0:Actors" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getTaskAclsByActorResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return"
                        type="wl_v1_0:hashMap" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="hashMap">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:abstractMap">
                        <xsd:sequence />
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType abstract="true" name="abstractMap">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="getWorklist">
                <xsd:sequence>
                    <xsd:element name="worklistID" type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getWorklistResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="worklistsCount"
                        type="wl_v1_0:Worklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAssignedWorklists">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="assignedWLCriteria"
                        type="wl_v1_0:AssignedWLCriteria" />
                    <xsd:element name="startIndex" type="xsd:int" />
                    <xsd:element name="count" type="xsd:int" />
                    <xsd:element minOccurs="0" name="sortOrder"
                        type="wl_v1_0:SortOrder" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAssignedWorklistsResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="listWorklist"
                        type="wl_v1_0:ListWorklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="deleteWorklists">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0"
                        name="ids" type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="deleteWorklistsResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="idListResult"
                        type="wl_v1_0:IDListResult" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAssignedWorklistsCount">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="assignedWLCriteria"
                        type="wl_v1_0:AssignedWLCriteria" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getAssignedWorklistsCountResponse">
                <xsd:sequence>
                    <xsd:element name="worklistsCount" type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updateWorklist">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="worklist"
                        type="wl_v1_0:Worklist" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="updateWorklistResponse">
                <xsd:sequence />
            </xsd:complexType>
            <xsd:complexType name="Worklist">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorklistDO">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="acls" nillable="true" type="wl_v1_0:TaskACL" />
                            <xsd:element minOccurs="0" name="assignedTo"
                                type="wl_v1_0:TaskACLs" />
                            <xsd:element name="desc" type="xsd:string" />
                            <xsd:element name="name" type="xsd:string" />
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="ownerActors" nillable="true"
                                type="wl_v1_0:Actor" />
                            <xsd:element minOccurs="0" name="owners"
                                type="wl_v1_0:Actors" />
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="statusCountPair" type="wl_v1_0:StatusCountPair" />
                            <xsd:element name="statusMap">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element
                                            maxOccurs="unbounded" minOccurs="0" name="entry">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element
                                                        minOccurs="0" name="key" type="xsd:string" />
                                                    <xsd:element
                                                        minOccurs="0" name="value" type="xsd:long" />
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="totalTaskCount"
                                type="xsd:long" />
                            <xsd:element name="version" type="xsd:int" />
                            <xsd:element name="worklistID"
                                type="xsd:long" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="TaskACL">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorklistDO">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="actor"
                                type="wl_v1_0:Actor" />
                            <xsd:element name="canComplete"
                                type="xsd:boolean" />
                            <xsd:element name="canCreate"
                                type="xsd:boolean" />
                            <xsd:element name="canDelete"
                                type="xsd:boolean" />
                            <xsd:element name="canReassign"
                                type="xsd:boolean" />
                            <xsd:element name="hasMerged"
                                type="xsd:boolean" />
                            <xsd:element name="doEmailAlert" 
                            	type="xsd:boolean" />
                            <xsd:element name="taskACLID" type="xsd:long" />
                            <xsd:element name="version" type="xsd:int" />
                            <xsd:element minOccurs="0" name="worklist"
                                type="wl_v1_0:Worklist" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Actor">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorkflowDO">
                        <xsd:sequence>
                            <xsd:element name="actorID" type="xsd:long" />
                            <xsd:element name="appID" type="xsd:int" />
                            <xsd:element name="entityID" type="xsd:long" />
                            <xsd:element name="entityType" type="xsd:int" />
                            <xsd:element name="version" type="xsd:int" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="TaskACLs">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorklistDO">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="taskACLs" type="wl_v1_0:TaskACL" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Actors">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorkflowDO">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="actors" type="wl_v1_0:Actor" />
                            <xsd:element name="size" type="xsd:long" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="StatusCountPair">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="key"
                        type="xsd:string" />
                    <xsd:element minOccurs="0" name="value"
                        type="xsd:long" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListWorklist">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorklistDO">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="worklists" type="wl_v1_0:Worklist" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="ListACLs">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorklistDO">
                        <xsd:sequence>
                            <xsd:element maxOccurs="unbounded"
                                minOccurs="0" name="acls" type="wl_v1_0:TaskACL" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="CreateWLCriteria">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorklistDO">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="createdBy"
                                type="wl_v1_0:Actors" />
                            <xsd:element minOccurs="0" name="owners"
                                type="wl_v1_0:Actors" />
                            <xsd:element name="showEmptyWorklists"
                                type="xsd:boolean" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="SortOrder">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorkflowDO">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="attribute"
                                type="wl_v1_0:Attribute" />
                            <xsd:element name="isDesc" type="xsd:boolean" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="Attribute">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorkflowDO">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="name"
                                type="xsd:string" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="AssignedWLCriteria">
                <xsd:complexContent>
                    <xsd:extension base="wl_v1_0:basicWorklistDO">
                        <xsd:sequence>
                            <xsd:element minOccurs="0" name="assignedTo"
                                type="wl_v1_0:Actors" />
                            <xsd:element minOccurs="0" name="owners"
                                type="wl_v1_0:Actors" />
                            <xsd:element name="showEmptyWorklists"
                                type="xsd:boolean" />
                            <xsd:element name="showOnlyOwnerWL"
                                type="xsd:boolean" />
                        </xsd:sequence>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
          <xsd:complexType name="IDListResult">
        <xsd:complexContent>
            <xsd:extension base="wl_v1_0:basicWorkflowDO">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="processedIDs" type="xsd:long" />
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="unprocessedIDs" type="xsd:long" />
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="errorCodes" type="xsd:string" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
</xsd:schema>