trunk_JarUpgrade/client/McK.EIG.ROI.Client/Web References/Web_References.PasswordWS/password.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:eig="urn:eig.mckesson.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:element name="trackSession" type="xsd:boolean" />
      <xsd:element name="changePassword">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="newpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="changePasswordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="changePasswordResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="changePasswordRequest">
    <wsdl:part name="parameters" element="eig:changePassword" />
  </wsdl:message>
  <wsdl:message name="changePasswordResponse">
    <wsdl:part name="parameters" element="eig:changePasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="PasswordPortType">
    <wsdl:operation name="changePassword">
      <wsdl:input message="eig:changePasswordRequest" />
      <wsdl:output message="eig:changePasswordResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PasswordSoapBinding" type="eig:PasswordPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="changePassword">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PasswordService">
    <wsdl:port name="password" binding="eig:PasswordSoapBinding">
      <soap:address location="http://192.168.6.75:8081/portal/eig/iservices/password" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>