src/client/McK.EIG.ROI.Client/Web References/Web_References.CcdConversionServiceWS/ConversionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:eig="urn:eig.mckesson.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ConversionService" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:element name="ccdConvert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="uuid" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ccdConvertResult">
        <xsd:sequence>
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="pageNumber" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ccdConversionResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdConvertResult" type="eig:ccdConvertResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="ccdConversionRequest">
    <wsdl:part name="parameters" element="eig:ccdConvert" />
  </wsdl:message>
  <wsdl:message name="ccdConversionResponse">
    <wsdl:part name="parameters" element="eig:ccdConversionResponse" />
  </wsdl:message>
  <wsdl:portType name="CcdConversionServicePortType">
    <wsdl:operation name="ccdConvert">
      <wsdl:input message="eig:ccdConversionRequest" />
      <wsdl:output message="eig:ccdConversionResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CcdConversionServiceSoapBinding" type="eig:CcdConversionServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ccdConvert">
      <soap:operation soapAction="urn:eig.mckesson.com/ccdConvert" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CcdConversionService">
    <wsdl:port name="ccdConvert" binding="eig:CcdConversionServiceSoapBinding">
      <soap:address location="https://eigqc365:6060/roi/services/CcdConversionService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>