OC-113529/client/McK.EIG.ROI.Client/Web References/Web_References.SecurityLogoffWS/securitylogoff.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:eig="urn:eig.mckesson.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:element name="logoff">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="logoffResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="logoffRequest">
    <wsdl:documentation>
Input parameter of logoff operation  </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:logoff" />
  </wsdl:message>
  <wsdl:message name="logoffResponse">
    <wsdl:documentation>
Output parameter of logoff operation  </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:logoffResponse" />
  </wsdl:message>
  <wsdl:portType name="SecurityLogoffPortType">
    <wsdl:operation name="logoff">
      <wsdl:documentation>
Used for user logoff   </wsdl:documentation>
      <wsdl:input message="eig:logoffRequest" />
      <wsdl:output message="eig:logoffResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SecurityLogoffSoapBinding" type="eig:SecurityLogoffPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="logoff">
      <soap:operation soapAction="urn:eig.mckesson.com/logoff" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SecurityLogoffService">
    <wsdl:documentation>
This is the web service that handles the incoming
		soap authentication request  </wsdl:documentation>
    <wsdl:port name="SecurityLogoff" binding="eig:SecurityLogoffSoapBinding">
      <soap:address location="http://127.0.0.1:8080/roi/services/securitylogoff" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>