OC-113529/client/McK.EIG.ROI.Client/Web References/Web_References.SigninWS/signin.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:eig="urn:eig.mckesson.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:element name="trackSession" type="xsd:boolean" />
      <xsd:complexType name="codes">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="code" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="codeList">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="codes" type="eig:codes" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="mapUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="ldapLoginIdWithDomain" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="hpfLoginId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="hpfPassword" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="signinLdap">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="domain" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="signin">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userpassword" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="signinWithLdap">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="hpfLoginId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getUsers">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="codeList" type="eig:codeList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="documentSpec">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="documentSpecs">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="documentSpec" type="eig:documentSpec" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="recordView">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documentSpecs" type="eig:documentSpecs" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="recordViews">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="recordView" type="eig:recordView" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="security">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="facility" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="codes" type="eig:codes" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="securities">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="security" type="eig:security" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="facility">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="name" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="docSetId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="docSetDesc" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="facilities">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="facility" type="eig:facility" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="user">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="fullName" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="loginId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="password" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="validateCode" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="idle" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="instanceId" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="facilities" type="eig:facilities" />
          <xsd:element minOccurs="0" maxOccurs="1" name="securities" type="eig:securities" />
          <xsd:element minOccurs="0" maxOccurs="1" name="recordViews" type="eig:recordViews" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="users">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="user" type="eig:user" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="userList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="users" type="eig:users" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getUsersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userList" type="eig:userList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="signinResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="eig:user" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="signinLdapResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="eig:user" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="signinWithLdapResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="eig:user" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="mapUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="user" type="eig:user" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="signinRequest">
    <wsdl:part name="parameters" element="eig:signin" />
  </wsdl:message>
  <wsdl:message name="signinLdapRequest">
    <wsdl:part name="parameters" element="eig:signinLdap" />
  </wsdl:message>
  <wsdl:message name="signinLdapResponse">
    <wsdl:part name="parameters" element="eig:signinLdapResponse" />
  </wsdl:message>
  <wsdl:message name="signinWithLdapRequest">
    <wsdl:part name="parameters" element="eig:signinWithLdap" />
  </wsdl:message>
  <wsdl:message name="signinWithLdapResponse">
    <wsdl:part name="parameters" element="eig:signinWithLdapResponse" />
  </wsdl:message>
  <wsdl:message name="signinResponse">
    <wsdl:part name="parameters" element="eig:signinResponse" />
  </wsdl:message>
  <wsdl:message name="mapUserRequest">
    <wsdl:part name="parameters" element="eig:mapUser" />
  </wsdl:message>
  <wsdl:message name="mapUserResponse">
    <wsdl:part name="parameters" element="eig:mapUserResponse" />
  </wsdl:message>
  <wsdl:message name="getUsersRequest">
    <wsdl:part name="parameters" element="eig:getUsers" />
  </wsdl:message>
  <wsdl:message name="getUsersResponse">
    <wsdl:part name="parameters" element="eig:getUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="SigninPortType">
    <wsdl:operation name="signin">
      <wsdl:input message="eig:signinRequest" />
      <wsdl:output message="eig:signinResponse" />
    </wsdl:operation>
    <wsdl:operation name="signinLdap">
      <wsdl:input message="eig:signinLdapRequest" />
      <wsdl:output message="eig:signinLdapResponse" />
    </wsdl:operation>
    <wsdl:operation name="signinWithLdap">
      <wsdl:input message="eig:signinWithLdapRequest" />
      <wsdl:output message="eig:signinWithLdapResponse" />
    </wsdl:operation>
    <wsdl:operation name="mapUser">
      <wsdl:input message="eig:mapUserRequest" />
      <wsdl:output message="eig:mapUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input message="eig:getUsersRequest" />
      <wsdl:output message="eig:getUsersResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SigninSoapBinding" type="eig:SigninPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="signin">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signinLdap">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="signinWithLdap">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mapUser">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SigninService">
    <wsdl:port name="signin" binding="eig:SigninSoapBinding">
      <soap:address location="http://eigdev662/portal/eig/iservices/signin" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>