src/serverandcommon-pt/src/server-workflow/workflow-webapp/src/main/webapp/WEB-INF/eig/workflow/processlist_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="processlist_v1"
      targetNamespace="http://eig.mckesson.com/wsdl/processlist-v1"
      xmlns:eig="http://eig.mckesson.com/wsdl/processlist-v1"
      xmlns:eig1_0="http://eig.mckesson.com/wsdl/processlist-v1.0"
      xmlns:processlist_v1_0="http://eig.mckesson.com/xsd/2009/01"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:ns1="http://cxf.apache.org/bindings/xformat"
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">

    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified"
                    elementFormDefault="unqualified"
                    targetNamespace="http://eig.mckesson.com/wsdl/processlist-v1.0"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import
                namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                schemaLocation="xsd/default/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
            <xsd:import namespace="http://eig.mckesson.com/xsd/2009/01" schemaLocation="./xsd/processlist_v1_0.xsd" />
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="header">
        <wsdl:part element="processlist_v1_0:transactionId" name="transIdHeader" />
        <wsdl:part element="processlist_v1_0:applicationId" name="appIdHeader" />
        <wsdl:part element="wsse:Security"                  name="wssHeader" />
    </wsdl:message>

    <wsdl:message name="updateProcessAssignements">
        <wsdl:part name="parameters" element="processlist_v1_0:updateProcessAssignements">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getAssignedProcesses">
        <wsdl:part name="parameters" element="processlist_v1_0:getAssignedProcesses">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="updateProcessAssignementsResponse">
        <wsdl:part name="parameters" element="processlist_v1_0:updateProcessAssignementsResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getAllProcesses">
        <wsdl:part name="parameters" element="processlist_v1_0:getAllProcesses">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getAllProcessesResponse">
        <wsdl:part name="parameters" element="processlist_v1_0:getAllProcessesResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getAssignedProcessesResponse">
        <wsdl:part name="parameters" element="processlist_v1_0:getAssignedProcessesResponse">
        </wsdl:part>
    </wsdl:message>

    <wsdl:message name="getProcesses">
    	<wsdl:part name="parameters" element="processlist_v1_0:getProcesses">
    	</wsdl:part>
  	</wsdl:message>

  	<wsdl:message name="getProcessesResponse">
    	<wsdl:part name="parameters" element="processlist_v1_0:getProcessesResponse">
    	</wsdl:part>
  	 </wsdl:message>

  	<wsdl:message name="getOwnedProcessesResponse">
  		<wsdl:part name="parameters" element="processlist_v1_0:getOwnedProcessesResponse">
  		</wsdl:part>
  	</wsdl:message>

  	<wsdl:message name="getOwnedProcesses">
  		<wsdl:part name="parameters" element="processlist_v1_0:getOwnedProcesses">
  		</wsdl:part>
  	</wsdl:message>

  	<wsdl:message name="getOwnedProcessesInfo">
  		<wsdl:part name="parameters" element="processlist_v1_0:getOwnedProcessesInfo">
  		</wsdl:part>
  	</wsdl:message>

  	<wsdl:message name="getOwnedProcessesInfoResponse">
  		<wsdl:part name="parameters" element="processlist_v1_0:getOwnedProcessesInfoResponse">
  		</wsdl:part>
  	</wsdl:message>

  	<wsdl:portType name="ProcessListPortType_v1_0">

        <wsdl:operation name="getAssignedProcesses">
            <wsdl:input name="getAssignedProcesses" message="eig:getAssignedProcesses">
            </wsdl:input>
            <wsdl:output name="getAssignedProcessesResponse" message="eig:getAssignedProcessesResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getAllProcesses">
            <wsdl:input name="getAllProcesses" message="eig:getAllProcesses">
            </wsdl:input>
            <wsdl:output name="getAllProcessesResponse" message="eig:getAllProcessesResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getProcesses">
        	<wsdl:input name="getProcesses" message="eig:getProcesses">
        	</wsdl:input>
        	<wsdl:output name="getProcessesResponse" message="eig:getProcessesResponse">
        	</wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="updateProcessAssignements">
            <wsdl:input name="updateProcessAssignements" message="eig:updateProcessAssignements">
            </wsdl:input>
            <wsdl:output name="updateProcessAssignementsResponse" message="eig:updateProcessAssignementsResponse">
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getOwnedProcesses">
        	<wsdl:input name="getOwnedProcesses" message="eig:getOwnedProcesses">
        	</wsdl:input>
        	<wsdl:output name="getOwnedProcessesResponse" message="eig:getOwnedProcessesResponse">
        	</wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="getOwnedProcessesInfo">
        	<wsdl:input name="getOwnedProcessesInfo" message="eig:getOwnedProcessesInfo">
        	</wsdl:input>
        	<wsdl:output name="getOwnedProcessesInfoResponse" message="eig:getOwnedProcessesInfoResponse">
        	</wsdl:output>
        </wsdl:operation>

  	</wsdl:portType>

  	<wsdl:binding name="ProcessListService_v1_0SoapBinding"
  		type="eig:ProcessListPortType_v1_0">

  		<soap:binding style="document"
  			transport="http://schemas.xmlsoap.org/soap/http" />
  		<wsdl:operation name="getAssignedProcesses">
  			<soap:operation
  				soapAction="http://eig.mckesson.com/wsdl/processlist-v1/getAssignedProcesses"
  				style="document" />
  			<wsdl:input name="getAssignedProcesses">
  				<soap:header message="eig:header" part="wssHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="transIdHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="appIdHeader"
  					use="literal" />
  				<soap:body use="literal" />
  			</wsdl:input>
  			<wsdl:output name="getAssignedProcessesResponse">
  				<soap:body use="literal" />
  			</wsdl:output>
  		</wsdl:operation>

  		<wsdl:operation name="getAllProcesses">
  			<soap:operation
  				soapAction="http://eig.mckesson.com/wsdl/processlist-v1/getAllProcesses"
  				style="document" />
  			<wsdl:input name="getAllProcesses">
  				<soap:header message="eig:header" part="wssHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="transIdHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="appIdHeader"
  					use="literal" />
  				<soap:body use="literal" />
  			</wsdl:input>
  			<wsdl:output name="getAllProcessesResponse">
  				<soap:body use="literal" />
  			</wsdl:output>
  		</wsdl:operation>

  		<wsdl:operation name="getProcesses">
  			<soap:operation
  				soapAction="http://eig.mckesson.com/wsdl/processlist-v1/getProcesses"
  				style="document" />
  			<wsdl:input name="getProcesses">
  				<soap:header message="eig:header" part="wssHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="transIdHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="appIdHeader"
  					use="literal" />
  				<soap:body use="literal" />
  			</wsdl:input>
  			<wsdl:output name="getProcessesResponse">
  				<soap:body use="literal" />
  			</wsdl:output>
  		</wsdl:operation>

  		<wsdl:operation name="updateProcessAssignements">
  			<soap:operation
  				soapAction="http://eig.mckesson.com/wsdl/processlist-v1/updateProcessAssignements"
  				style="document" />
  			<wsdl:input name="updateProcessAssignements">
  				<soap:header message="eig:header" part="wssHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="transIdHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="appIdHeader"
  					use="literal" />
  				<soap:body use="literal" />
  			</wsdl:input>
  			<wsdl:output name="updateProcessAssignementsResponse">
  				<soap:body use="literal" />
  			</wsdl:output>
  		</wsdl:operation>

  		<wsdl:operation name="getOwnedProcesses">
  			<soap:operation
  				soapAction="http://eig.mckesson.com/wsdl/processlist-v1/getOwnedProcesses"
  				style="document" />
  			<wsdl:input name="getOwnedProcesses">
  				<soap:header message="eig:header" part="wssHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="transIdHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="appIdHeader"
  					use="literal" />
  				<soap:body use="literal" />
  			</wsdl:input>
  			<wsdl:output name="getOwnedProcessesResponse">
  				<soap:body use="literal" />
  			</wsdl:output>
  		</wsdl:operation>

  		<wsdl:operation name="getOwnedProcessesInfo">
  			<soap:operation
  				soapAction="http://eig.mckesson.com/wsdl/processlist-v1/getOwnedProcessesInfo"
  				style="document" />
  			<wsdl:input name="getOwnedProcessesInfo">
  				<soap:header message="eig:header" part="wssHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="transIdHeader"
  					use="literal" />
  				<soap:header message="eig:header" part="appIdHeader"
  					use="literal" />
  				<soap:body use="literal" />
  			</wsdl:input>
  			<wsdl:output name="getOwnedProcessesInfoResponse">
  				<soap:body use="literal" />
  			</wsdl:output>
  		</wsdl:operation>
  	</wsdl:binding>

  	<wsdl:service name="ProcessListService_v1_0">
        <wsdl:port name="processlist_v1_0" binding="eig:ProcessListService_v1_0SoapBinding">
            <soap:address location="http://host/context/services/processlist" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
