src/serverandcommon-pt/src/server-workflow/workflow-webapp/src/main/webapp/WEB-INF/eig/workflow/processinstance_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="processinstance_v1"
      targetNamespace="http://eig.mckesson.com/wsdl/processinstance-v1"
      xmlns:eig="http://eig.mckesson.com/wsdl/processinstance-v1"
      xmlns:eig1_0="http://eig.mckesson.com/wsdl/processinstance-v1.0"
      xmlns:processinstance_v1_0="http://eig.mckesson.com/xsd/2009/01"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema"
      xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
      xmlns:ns1="http://cxf.apache.org/bindings/xformat"
      xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">

	 <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified"
        	        elementFormDefault="unqualified"
        	        targetNamespace="http://eig.mckesson.com/wsdl/processinstance-v1.0"
        	        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        	<xsd:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        		        schemaLocation="xsd/default/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
        	<xsd:import namespace="http://eig.mckesson.com/xsd/2009/01"
        		        schemaLocation="./xsd/processinstance_v1_0.xsd" />
        </xsd:schema>
	 </wsdl:types>

    <wsdl:message name="header">
        <wsdl:part element="processinstance_v1_0:transactionId" name="transIdHeader" />
        <wsdl:part element="processinstance_v1_0:applicationId" name="appIdHeader" />
        <wsdl:part element="wsse:Security"                      name="wssHeader" />
    </wsdl:message>

	<wsdl:message name="startProcessInstanceResponse">
		<wsdl:part name="parameters" element="processinstance_v1_0:startProcessInstanceResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="startProcessInstance">
		<wsdl:part name="parameters" element="processinstance_v1_0:startProcessInstance">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="notifyProcessInstanceResponse">
		<wsdl:part name="parameters" element="processinstance_v1_0:notifyProcessInstanceResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="notifyProcessInstance">
		<wsdl:part name="parameters" element="processinstance_v1_0:notifyProcessInstance">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="getProcessInstance">
		<wsdl:part name="parameters" element="processinstance_v1_0:getProcessInstance">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="deleteProcessInstance">
		<wsdl:part name="parameters"
			element="processinstance_v1_0:deleteProcessInstance">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="terminateProcessInstance">
		<wsdl:part name="parameters"
			element="processinstance_v1_0:terminateProcessInstance">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="resumeProcessInstanceResponse">
		<wsdl:part name="parameters"
			element="processinstance_v1_0:resumeProcessInstanceResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="deleteProcessInstanceResponse">
		<wsdl:part name="parameters"
			element="processinstance_v1_0:deleteProcessInstanceResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="suspendProcessInstanceResponse">
		<wsdl:part name="parameters"
			element="processinstance_v1_0:suspendProcessInstanceResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="suspendProcessInstance">
		<wsdl:part name="parameters"
			element="processinstance_v1_0:suspendProcessInstance">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="terminateProcessInstanceResponse">
		<wsdl:part name="parameters"
			element="processinstance_v1_0:terminateProcessInstanceResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="getProcessInstanceResponse">
		<wsdl:part name="parameters"
			element="processinstance_v1_0:getProcessInstanceResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="resumeProcessInstance">
		<wsdl:part name="parameters"
			element="processinstance_v1_0:resumeProcessInstance">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ProcessInstancePortType_v1_0">
		<wsdl:operation name="startProcessInstance">
			<wsdl:input name="startProcessInstance" message="eig:startProcessInstance">
			</wsdl:input>
			<wsdl:output name="startProcessInstanceResponse" message="eig:startProcessInstanceResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="notifyProcessInstance">
			<wsdl:input name="notifyProcessInstance" message="eig:notifyProcessInstance">
			</wsdl:input>
			<wsdl:output name="notifyProcessInstanceResponse" message="eig:notifyProcessInstanceResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="terminateProcessInstance">
			<wsdl:input name="terminateProcessInstance" message="eig:terminateProcessInstance">
			</wsdl:input>
			<wsdl:output name="terminateProcessInstanceResponse" message="eig:terminateProcessInstanceResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="suspendProcessInstance">
			<wsdl:input name="suspendProcessInstance" message="eig:suspendProcessInstance">
			</wsdl:input>
			<wsdl:output name="suspendProcessInstanceResponse" message="eig:suspendProcessInstanceResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="resumeProcessInstance">
			<wsdl:input name="resumeProcessInstance" message="eig:resumeProcessInstance">
			</wsdl:input>
			<wsdl:output name="resumeProcessInstanceResponse" message="eig:resumeProcessInstanceResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getProcessInstance">
			<wsdl:input name="getProcessInstance" message="eig:getProcessInstance">
			</wsdl:input>
			<wsdl:output name="getProcessInstanceResponse" message="eig:getProcessInstanceResponse">
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="deleteProcessInstance">
			<wsdl:input name="deleteProcessInstance" message="eig:deleteProcessInstance">
			</wsdl:input>
			<wsdl:output name="deleteProcessInstanceResponse" message="eig:deleteProcessInstanceResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ProcessInstanceService_v1_0SoapBinding" type="eig:ProcessInstancePortType_v1_0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="startProcessInstance">
			<soap:operation soapAction="http://eig.mckesson.com/wsdl/processinstance-v1/startProcessInstance" style="document" />
			<wsdl:input name="startProcessInstance">
			    <!-- <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />-->
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="startProcessInstanceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="notifyProcessInstance">
			<soap:operation soapAction="http://eig.mckesson.com/wsdl/processinstance-v1/notifyProcessInstance" style="document" />
			<wsdl:input name="notifyProcessInstance">
			    <!-- <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />-->
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="notifyProcessInstanceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="terminateProcessInstance">
			<soap:operation soapAction="http://eig.mckesson.com/wsdl/processinstance-v1/terminateProcessInstance" style="document" />
			<wsdl:input name="terminateProcessInstance">
				<soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="terminateProcessInstanceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="suspendProcessInstance">
			<soap:operation soapAction="http://eig.mckesson.com/wsdl/processinstance-v1/suspendProcessInstance" style="document" />
			<wsdl:input name="suspendProcessInstance">
				<soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="suspendProcessInstanceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="resumeProcessInstance">
			<soap:operation soapAction="http://eig.mckesson.com/wsdl/processinstance-v1/resumeProcessInstance" style="document" />
			<wsdl:input name="resumeProcessInstance">
				<soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="resumeProcessInstanceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getProcessInstance">
			<soap:operation soapAction="http://eig.mckesson.com/wsdl/processinstance-v1/getProcessInstance" style="document" />
			<wsdl:input name="getProcessInstance">
				<soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="getProcessInstanceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="deleteProcessInstance">
			<soap:operation soapAction="http://eig.mckesson.com/wsdl/processinstance-v1/deleteProcessInstance" style="document" />
			<wsdl:input name="deleteProcessInstance">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="deleteProcessInstanceResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="ProcessInstanceService_v1_0">
		<wsdl:port name="processinstance_v1_0" binding="eig:ProcessInstanceService_v1_0SoapBinding">
			<soap:address location="http://host/context/services/processinstance" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
