src/serverandcommon-pt/src/server-workflow/workflow-webapp/src/main/webapp/WEB-INF/eig/workflow/security_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="security_v1"
	targetNamespace="http://eig.mckesson.com/wsdl/security-v1"
	xmlns:eig="http://eig.mckesson.com/wsdl/security-v1"
	xmlns:eig1_0="http://eig.mckesson.com/wsdl/security-v1.0"
	xmlns:security_v1_0="http://eig.mckesson.com/xsd/2009/01"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
    <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified"
	               elementFormDefault="unqualified"
	               targetNamespace="http://eig.mckesson.com/wsdl/security-v1.0"
	               xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	        <xsd:import
		        namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
		        schemaLocation="xsd/default/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
			<xsd:import namespace="http://eig.mckesson.com/xsd/2009/01" schemaLocation="./xsd/security_v1_0.xsd" />
        </xsd:schema>
    </wsdl:types>

<wsdl:message name="header">
	<wsdl:part element="security_v1_0:transactionId" name="transIdHeader" />
    <wsdl:part element="security_v1_0:applicationId" name="appIdHeader" />
    <wsdl:part element="wsse:Security"     name="wssHeader" />
</wsdl:message>

<wsdl:message name="logoffResponse">
    <wsdl:part name="parameters" element="security_v1_0:logoffResponse">
    </wsdl:part>
</wsdl:message>

<wsdl:message name="logoff">
    <wsdl:part name="parameters" element="security_v1_0:logoff">
    </wsdl:part>
</wsdl:message>

<wsdl:message name="logonResponse">
    <wsdl:part name="parameters" element="security_v1_0:logonResponse">
    </wsdl:part>
</wsdl:message>

<wsdl:message name="logon">
    <wsdl:part name="parameters" element="security_v1_0:logon">
    </wsdl:part>
</wsdl:message>

<wsdl:portType name="SecurityPortType_v1_0">
	<wsdl:operation name="logoff">
		<wsdl:input name="logoff" message="eig:logoff">
		</wsdl:input>
		<wsdl:output name="logoffResponse" message="eig:logoffResponse">
		</wsdl:output>
	</wsdl:operation>
    <wsdl:operation name="logon">
      	<wsdl:input name="logon" message="eig:logon">
    	</wsdl:input>
      	<wsdl:output name="logonResponse" message="eig:logonResponse">
    	</wsdl:output>
    </wsdl:operation>
</wsdl:portType>

  <wsdl:binding name="SecurityServiceServiceSoapBinding_v1_0"
  	type="eig:SecurityPortType_v1_0">
    <soap:binding style="document"
    	transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="logoff">
      <soap:operation soapAction="http://eig.mckesson.com/wsdl/security-v1/logoff" style="document"/>
      <wsdl:input name="logoff">
        <soap:header message="eig:header" part="wssHeader"     use="literal" />
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="appIdHeader"   use="literal" />
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="logoffResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="logon">
      <soap:operation soapAction="http://eig.mckesson.com/wsdl/security-v1/logon" style="document"/>
       <wsdl:input name="logon">
         <soap:header message="eig:header" part="wssHeader"     use="literal" />
         <soap:header message="eig:header" part="transIdHeader" use="literal" />
         <soap:header message="eig:header" part="appIdHeader"   use="literal" />
         <soap:body use="literal"/>
       </wsdl:input>
       <wsdl:output name="logonResponse">
         <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="SecurityService_v1_0">
    <wsdl:port name="security_v1_0"
    binding="eig:SecurityServiceServiceSoapBinding_v1_0">
      <soap:address location="http://host/context/services/security"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
