src/serverandcommon-pt/src/server-workflow/workflow-webapp/src/main/webapp/WEB-INF/eig/workflow/task.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
  targetNamespace="urn:eig.mckesson.com"
  xmlns:eig="urn:eig.mckesson.com">

  <wsdl:types>
    <xsd:schema targetNamespace="urn:eig.mckesson.com"
      elementFormDefault="qualified">

      <!-- Complex Data Types -->
      <xsd:import
        namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />

      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:element name="applicationId" type="xsd:string" />

      <xsd:complexType name="Actor">
        <xsd:sequence>
          <xsd:element name="appID" type="xsd:int" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="entityType" type="xsd:int" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="entityID" type="xsd:long" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Actors">
        <xsd:sequence>
          <xsd:element name="actors" type="eig:Actor"
            minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="size" type="xsd:long"
            minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Worklist">
        <xsd:sequence>
          <xsd:element name="worklistID" type="xsd:long" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="desc" type="xsd:string" />
          <xsd:element name="statusCountPair"
            type="eig:StatusCountPair" maxOccurs="unbounded" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Attribute">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SortOrder">
        <xsd:sequence>
          <xsd:element name="attribute" type="eig:Attribute" />
          <xsd:element name="isDesc" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAssignedTasks">
        <xsd:complexType>
          <xsd:sequence>


            <xsd:element name="assignedTasksCriteria"
              type="eig:AssignedTasksCriteria">
            </xsd:element>
            <xsd:element name="startIndex"
              type="xsd:int">
            </xsd:element>
            <xsd:element name="count" type="xsd:int">
            </xsd:element>
            <xsd:element name="sortOrder"
              type="eig:SortOrder">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getAssignedTasksResponse">

        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="taskList"
              type="eig:TaskList">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="Task">

        <xsd:sequence>
          <xsd:element name="taskID" type="xsd:long"></xsd:element>
          <xsd:element name="priorityID" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="worklistID" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="statusID" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="taskName" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
          <xsd:element name="taskDescription"
            type="xsd:string">
          </xsd:element>
          <xsd:element name="startDate" type="xsd:dateTime"></xsd:element>
          <xsd:element name="endDate" type="xsd:dateTime"></xsd:element>


          <xsd:element name="taskOwner" type="eig:Actor"></xsd:element>
          <xsd:element name="createBy" type="eig:Actor"></xsd:element>


          <xsd:element name="canStartEarly"
            type="xsd:boolean">
          </xsd:element>
          <xsd:element name="comments" type="xsd:string"></xsd:element>
          <xsd:element name="reassignReason"
            type="xsd:string">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="TaskStatus">
        <xsd:sequence>
          <xsd:element name="statusID" type="xsd:string"></xsd:element>
          <xsd:element name="isActive" type="xsd:boolean"></xsd:element>
          <xsd:element name="displayNameKey"
            type="xsd:string">
          </xsd:element>
          <xsd:element name="sortOrder" type="xsd:int"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Priority">
        <xsd:sequence>
          <xsd:element name="priorityID" type="xsd:long"></xsd:element>
          <xsd:element name="displayNameKey"
            type="xsd:string">
          </xsd:element>
          <xsd:element name="sortOrder" type="xsd:int"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="TaskList">
        <xsd:sequence>
          <xsd:element name="tasks" type="eig:Task"
            minOccurs="0" maxOccurs="unbounded">
          </xsd:element>
          <xsd:element name="size" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="getCreatedTasks">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="createdTasksCriteria"
              type="eig:CreatedTasksCriteria">
            </xsd:element>
            <xsd:element name="startIndex"
              type="xsd:int">
            </xsd:element>
            <xsd:element name="count" type="xsd:int">
            </xsd:element>
            <xsd:element name="sortOrder"
              type="eig:SortOrder">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCreatedTasksResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="taskList"
              type="eig:TaskList">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getWorklistsMasterData">
        <xsd:complexType>
          <xsd:sequence>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getWorklistsMasterDataResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="wLMasterData"
              type="eig:WLMasterData">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="WLMasterData">
        <xsd:sequence>
          <xsd:element name="priorityList" type="eig:Priority"
            maxOccurs="unbounded" minOccurs="0">
          </xsd:element>
          <xsd:element name="taskStatusList"
            type="eig:TaskStatus" maxOccurs="unbounded" minOccurs="0">
          </xsd:element>
          <xsd:element name="defaultTaskDuration" type="xsd:string">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="getAssignedTasksCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="assignedTasksCriteria"
              type="eig:AssignedTasksCriteria">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAssignedTasksCountResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="assignedTasksCountResult"
              type="xsd:long">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getCreatedTasksCount">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="createdTasksCriteria"
              type="eig:CreatedTasksCriteria">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCreatedTasksCountResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="createdTasksCountResult"
              type="xsd:long">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:complexType name="StatusCountPair">
        <xsd:sequence>
          <xsd:element name="key" type="xsd:string"></xsd:element>
          <xsd:element name="value" type="xsd:long"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AssignedTasksCriteria">
        <xsd:sequence>
          <xsd:element name="worklistID" type="xsd:long"></xsd:element>
          <xsd:element name="statusIDs" type="xsd:string"
            maxOccurs="unbounded" minOccurs="1">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="CreatedTasksCriteria">
        <xsd:sequence>
          <xsd:element name="worklistID" type="xsd:long"></xsd:element>
          <xsd:element name="statusIDs" type="xsd:string"
            maxOccurs="unbounded" minOccurs="1">
          </xsd:element>
          <xsd:element name="createdBy" type="eig:Actor"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="IDListResult">
        <xsd:sequence>
          <xsd:element name="processedIDs" type="xsd:long"
            minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="unprocessedIDs" type="xsd:long"
            minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="errorCodes" type="xsd:string"
            minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="TaskListResult">
        <xsd:sequence>
          <xsd:element name="processedTasksList" type="eig:Task"
            maxOccurs="unbounded" minOccurs="0">
          </xsd:element>
          <xsd:element name="unProcessedTasksList" type="eig:Task"
            maxOccurs="unbounded" minOccurs="0">
          </xsd:element>
          <xsd:element name="idListResult"
            type="eig:IDListResult">
          </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="WorklistReportDO">
        <xsd:sequence>

          <xsd:element name="domain" type="eig:Actor"></xsd:element>
          <xsd:element name="primarySort" type="xsd:byte">
          </xsd:element>
          <xsd:element name="isDesc" type="xsd:boolean"></xsd:element>
          <xsd:element name="isAdmin" type="xsd:boolean">
          </xsd:element>
          <xsd:element name="ownerActors" type="eig:Actors"
            maxOccurs="1" minOccurs="0">
          </xsd:element>
          <xsd:element name="worklistIDs" type="xsd:long"
            maxOccurs="unbounded" minOccurs="0">
          </xsd:element>
          <xsd:element name="taskName" type="xsd:string">
          </xsd:element>
          <xsd:element name="statusIDs" type="xsd:string"
            maxOccurs="unbounded" minOccurs="0">
          </xsd:element>
          <xsd:element name="priorityID" type="xsd:int"></xsd:element>
          <xsd:element name="dateFilter" type="xsd:string">
          </xsd:element>
          <xsd:element name="startDate" type="xsd:dateTime">
          </xsd:element>
          <xsd:element name="endDate" type="xsd:dateTime">
          </xsd:element>
          <xsd:element name="csvFileName" type="xsd:string">
          </xsd:element>
          <xsd:element name="fetchAllWorklists" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createTask">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="tasks" type="eig:Task"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createTaskResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createTaskResponseResult"
              type="xsd:long">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ownTasks">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="worklistID"
              type="xsd:long">
            </xsd:element>
            <xsd:element name="taskIDs" type="xsd:long"
              maxOccurs="unbounded" minOccurs="1">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ownTasksResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskListResult"
              type="eig:TaskListResult">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="disownTasks">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskIDs" type="xsd:long"
              maxOccurs="unbounded" minOccurs="1">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="disownTasksResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskListResult"
              type="eig:TaskListResult">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteTasks">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="worklistID"
              type="xsd:long">
            </xsd:element>
            <xsd:element name="taskIDs" type="xsd:long"
              maxOccurs="unbounded" minOccurs="1">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteTasksResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskListResult"
              type="eig:TaskListResult">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTaskDetails">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskID" type="xsd:long"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTaskDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="tasks" type="eig:Task"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="completeTasks">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskList"
              type="eig:TaskList">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="completeTasksResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskListResult"
              type="eig:TaskListResult">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="makeTasksEditable">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="worklistID"
              type="xsd:long">
            </xsd:element>
            <xsd:element name="taskIDs" type="xsd:long"
              maxOccurs="unbounded" minOccurs="1">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="makeTasksEditableResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskListResult"
              type="eig:TaskListResult">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="generateWorklistReport">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="worklistReportDO"
              type="eig:WorklistReportDO" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="generateWorklistReportResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>


      <xsd:element name="updateTask">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="tasks" type="eig:Task"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateTaskResponse">
        <xsd:complexType>

          <xsd:sequence></xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reassignTasks">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="toWorklistID" type="xsd:long"></xsd:element>
            <xsd:element name="taskList" type="eig:TaskList"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="reassignTasksResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskListResult" type="eig:TaskListResult"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="releaseTasks">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskList" type="eig:TaskList"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="releaseTasksResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="taskListResult" type="eig:TaskListResult"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
    <wsdl:part name="appIdHeader" element="eig:applicationId" />
  </wsdl:message>
  <wsdl:message name="getAssignedTasksRequest">
    <wsdl:part element="eig:getAssignedTasks" name="parameters" />
  </wsdl:message>
  <wsdl:message name="getAssignedTasksResponse">
    <wsdl:part element="eig:getAssignedTasksResponse"
      name="parameters" />
  </wsdl:message>
  <wsdl:message name="getCreatedTasksRequest">
    <wsdl:part name="parameters" element="eig:getCreatedTasks"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCreatedTasksResponse">
    <wsdl:part name="parameters"
      element="eig:getCreatedTasksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWorklistsMasterDataRequest">
    <wsdl:part name="parameters"
      element="eig:getWorklistsMasterData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getWorklistsMasterDataResponse">
    <wsdl:part name="parameters"
      element="eig:getWorklistsMasterDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssignedTasksCountRequest">
    <wsdl:part name="parameters"
      element="eig:getAssignedTasksCount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAssignedTasksCountResponse">
    <wsdl:part name="parameters"
      element="eig:getAssignedTasksCountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCreatedTasksCountRequest">
    <wsdl:part name="parameters"
      element="eig:getCreatedTasksCount">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCreatedTasksCountResponse">
    <wsdl:part name="parameters"
      element="eig:getCreatedTasksCountResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTaskRequest">
    <wsdl:part name="parameters" element="eig:createTask"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="createTaskResponse">
    <wsdl:part name="parameters" element="eig:createTaskResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ownTasksRequest">
    <wsdl:part name="parameters" element="eig:ownTasks"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ownTasksResponse">
    <wsdl:part name="parameters" element="eig:ownTasksResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="disownTasksRequest">
    <wsdl:part name="parameters" element="eig:disownTasks"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="disownTasksResponse">
    <wsdl:part name="parameters"
      element="eig:disownTasksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTasksRequest">
    <wsdl:part name="parameters" element="eig:deleteTasks"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteTasksResponse">
    <wsdl:part name="parameters"
      element="eig:deleteTasksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTaskDetailsRequest">
    <wsdl:part name="parameters" element="eig:getTaskDetails"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTaskDetailsResponse">
    <wsdl:part name="parameters"
      element="eig:getTaskDetailsResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="completeTasksRequest">
    <wsdl:part name="parameters" element="eig:completeTasks"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="completeTasksResponse">
    <wsdl:part name="parameters"
      element="eig:completeTasksResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeTasksEditableRequest">
    <wsdl:part name="parameters" element="eig:makeTasksEditable"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="makeTasksEditableResponse">
    <wsdl:part name="parameters"
      element="eig:makeTasksEditableResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateWorklistReportRequest">
    <wsdl:part name="parameters"
      element="eig:generateWorklistReport">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="generateWorklistReportResponse">
    <wsdl:part name="parameters"
      element="eig:generateWorklistReportResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTaskRequest">
    <wsdl:part name="parameters" element="eig:updateTask"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateTaskResponse">
    <wsdl:part name="parameters" element="eig:updateTaskResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="reassignTasksRequest">
    <wsdl:part name="parameters" element="eig:reassignTasks"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="reassignTasksResponse">
    <wsdl:part name="parameters" element="eig:reassignTasksResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="releaseTasksRequest">
    <wsdl:part name="parameters" element="eig:releaseTasks"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="releaseTasksResponse">
    <wsdl:part name="parameters" element="eig:releaseTasksResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TaskPortType">
    <wsdl:operation name="getAssignedTasks">
      <wsdl:input message="eig:getAssignedTasksRequest" />
      <wsdl:output message="eig:getAssignedTasksResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCreatedTasks">
      <wsdl:input message="eig:getCreatedTasksRequest"></wsdl:input>
      <wsdl:output message="eig:getCreatedTasksResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorklistsMasterData">
      <wsdl:input message="eig:getWorklistsMasterDataRequest"></wsdl:input>
      <wsdl:output message="eig:getWorklistsMasterDataResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssignedTasksCount">
      <wsdl:input message="eig:getAssignedTasksCountRequest"></wsdl:input>
      <wsdl:output message="eig:getAssignedTasksCountResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCreatedTasksCount">
      <wsdl:input message="eig:getCreatedTasksCountRequest"></wsdl:input>
      <wsdl:output message="eig:getCreatedTasksCountResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTask">
      <wsdl:input message="eig:createTaskRequest"></wsdl:input>
      <wsdl:output message="eig:createTaskResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ownTasks">
      <wsdl:input message="eig:ownTasksRequest"></wsdl:input>
      <wsdl:output message="eig:ownTasksResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disownTasks">
      <wsdl:input message="eig:disownTasksRequest"></wsdl:input>
      <wsdl:output message="eig:disownTasksResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTasks">
      <wsdl:input message="eig:deleteTasksRequest"></wsdl:input>
      <wsdl:output message="eig:deleteTasksResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskDetails">
      <wsdl:input message="eig:getTaskDetailsRequest"></wsdl:input>
      <wsdl:output message="eig:getTaskDetailsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="completeTasks">
      <wsdl:input message="eig:completeTasksRequest"></wsdl:input>
      <wsdl:output message="eig:completeTasksResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeTasksEditable">
      <wsdl:input message="eig:makeTasksEditableRequest"></wsdl:input>
      <wsdl:output message="eig:makeTasksEditableResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateWorklistReport">
      <wsdl:input message="eig:generateWorklistReportRequest"></wsdl:input>
      <wsdl:output message="eig:generateWorklistReportResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTask">
      <wsdl:input message="eig:updateTaskRequest"></wsdl:input>
      <wsdl:output message="eig:updateTaskResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reassignTasks">
      <wsdl:input message="eig:reassignTasksRequest"></wsdl:input>
      <wsdl:output message="eig:reassignTasksResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseTasks">
      <wsdl:input message="eig:releaseTasksRequest"></wsdl:input>
      <wsdl:output message="eig:releaseTasksResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaskSOAPBinding" type="eig:TaskPortType">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAssignedTasks">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getAssignedWorklistTasks" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCreatedTasks">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getCreatedTasks" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getWorklistsMasterData">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getWorklistsMasterData" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAssignedTasksCount">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getCreatableWorklists" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCreatedTasksCount">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getCreatableWorklistsCount" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createTask">
      <soap:operation soapAction="urn:eig.mckesson.com/createTask" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ownTasks">
      <soap:operation soapAction="urn:eig.mckesson.com/ownTasks" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="disownTasks">
      <soap:operation soapAction="urn:eig.mckesson.com/disownTasks" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteTasks">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteTasks" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskDetails">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getTaskDetails" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="completeTasks">
      <soap:operation
        soapAction="urn:eig.mckesson.com/completeTasks" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="makeTasksEditable">
      <soap:operation
        soapAction="urn:eig.mckesson.com/makeTasksEditable" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="generateWorklistReport">
      <soap:operation
        soapAction="urn:eig.mckesson.com/generateWorklistReport" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateTask">
      <soap:operation soapAction="urn:eig.mckesson.com/updateTask" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reassignTasks">
      <soap:operation
        soapAction="urn:eig.mckesson.com/reassignTasks" />
      <wsdl:input>
            <soap:header message="eig:header" part="wssHeader"
                use="literal" />
            <soap:header message="eig:header" part="transIdHeader"
                use="literal" />
            <soap:header message="eig:header" part="appIdHeader"
                use="literal" />
            <soap:body use="literal" />
        </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="releaseTasks">
      <soap:operation
        soapAction="urn:eig.mckesson.com/releaseTasks" />
      <wsdl:input>
            <soap:header message="eig:header" part="wssHeader"
                use="literal" />
            <soap:header message="eig:header" part="transIdHeader"
                use="literal" />
            <soap:header message="eig:header" part="appIdHeader"
                use="literal" />
            <soap:body use="literal" />
        </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>    
  </wsdl:binding>
  <wsdl:service name="TaskService">
    <wsdl:port binding="eig:TaskSOAPBinding"
      name="TaskServicePort">
      <soap:address location="http://host/context/services/task" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
