src/serverandcommon-pt/src/server-workflow/workflow-webapp/src/main/webapp/WEB-INF/eig/workflow/worklist_v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="worklist_v1"
    targetNamespace="http://eig.mckesson.com/wsdl/worklist-v1"
    xmlns:eig="http://eig.mckesson.com/wsdl/worklist-v1"
    xmlns:eig1_0="http://eig.mckesson.com/wsdl/worklist-v1.0"
    xmlns:wl_v1_0="http://eig.mckesson.com/xsd/2009/01"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:ns1="http://cxf.apache.org/bindings/xformat"
    xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
     <wsdl:types>
        <xsd:schema attributeFormDefault="unqualified"
                    elementFormDefault="unqualified"
                    targetNamespace="http://eig.mckesson.com/wsdl/worklist-v1.0"
                    xmlns:xsd="http://www.w3.org/2001/XMLSchema">

            <xsd:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
                schemaLocation="xsd/default/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
            <xsd:import namespace="http://eig.mckesson.com/xsd/2009/01" schemaLocation="./xsd/worklist_v1_0.xsd" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="header">
        <wsdl:part element="wsse:Security"     name="wssHeader" />
        <wsdl:part element="wl_v1_0:transactionId" name="transIdHeader" />
        <wsdl:part element="wl_v1_0:applicationId" name="appIdHeader" />
    </wsdl:message>

    <wsdl:message name="createWorklist">
        <wsdl:part name="parameters" element="wl_v1_0:createWorklist">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAssignedWorklistsResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAssignedWorklistsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createNewWorklist">
        <wsdl:part name="parameters" element="wl_v1_0:createNewWorklist">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllWorklists">
        <wsdl:part name="parameters" element="wl_v1_0:getAllWorklists">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllAssignedWorklistsCount">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAllAssignedWorklistsCount">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOwnedWorklists">
        <wsdl:part name="parameters" element="wl_v1_0:getOwnedWorklists">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createWorklistResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:createWorklistResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllAssignedWorklistsResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAllAssignedWorklistsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWorklistResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getWorklistResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateExistingWorklistResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:updateExistingWorklistResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllWorklistsResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAllWorklistsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllWorklistsCount">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAllWorklistsCount">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCreatableWorklists">
        <wsdl:part name="parameters"
            element="wl_v1_0:getCreatableWorklists">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCreatableWorklistsResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getCreatableWorklistsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAssignedWorklistsCount">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAssignedWorklistsCount">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteWorklists">
        <wsdl:part name="parameters" element="wl_v1_0:deleteWorklists">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTaskAclsByActorResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getTaskAclsByActorResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllAssignedWorklistsCountResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAllAssignedWorklistsCountResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWorklists">
        <wsdl:part name="parameters" element="wl_v1_0:getWorklists">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWorklistsCount">
        <wsdl:part name="parameters" element="wl_v1_0:getWorklistsCount">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateWorklistResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:updateWorklistResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCreatableWorklistsCount">
        <wsdl:part name="parameters"
            element="wl_v1_0:getCreatableWorklistsCount">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllWorklistsCountResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAllWorklistsCountResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createNewWorklistResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:createNewWorklistResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateWorklist">
        <wsdl:part name="parameters" element="wl_v1_0:updateWorklist">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateWorklistACLs">
        <wsdl:part name="parameters" element="wl_v1_0:updateWorklistACLs">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAssignedWorklistsCountResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAssignedWorklistsCountResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWorklist">
        <wsdl:part name="parameters" element="wl_v1_0:getWorklist">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getTaskAclsByActor">
        <wsdl:part name="parameters" element="wl_v1_0:getTaskAclsByActor">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCreatableWorklistsCountResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getCreatableWorklistsCountResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteWorklistsResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:deleteWorklistsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWorklistsResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getWorklistsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateExistingWorklist">
        <wsdl:part name="parameters"
            element="wl_v1_0:updateExistingWorklist">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAssignedWorklists">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAssignedWorklists">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="updateWorklistACLsResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:updateWorklistACLsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getOwnedWorklistsResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getOwnedWorklistsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAllAssignedWorklists">
        <wsdl:part name="parameters"
            element="wl_v1_0:getAllAssignedWorklists">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWorklistsCountResponse">
        <wsdl:part name="parameters"
            element="wl_v1_0:getWorklistsCountResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WorklistPortType_v1_0">
        <wsdl:operation name="createWorklist">
            <wsdl:input name="createWorklist"
                message="eig:createWorklist">
            </wsdl:input>
            <wsdl:output name="createWorklistResponse"
                message="eig:createWorklistResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorklistsCount">
            <wsdl:input name="getWorklistsCount"
                message="eig:getWorklistsCount">
            </wsdl:input>
            <wsdl:output name="getWorklistsCountResponse"
                message="eig:getWorklistsCountResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOwnedWorklists">
            <wsdl:input name="getOwnedWorklists"
                message="eig:getOwnedWorklists">
            </wsdl:input>
            <wsdl:output name="getOwnedWorklistsResponse"
                message="eig:getOwnedWorklistsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createNewWorklist">
            <wsdl:input name="createNewWorklist"
                message="eig:createNewWorklist">
            </wsdl:input>
            <wsdl:output name="createNewWorklistResponse"
                message="eig:createNewWorklistResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateExistingWorklist">
            <wsdl:input name="updateExistingWorklist"
                message="eig:updateExistingWorklist">
            </wsdl:input>
            <wsdl:output name="updateExistingWorklistResponse"
                message="eig:updateExistingWorklistResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateWorklistACLs">
            <wsdl:input name="updateWorklistACLs"
                message="eig:updateWorklistACLs">
            </wsdl:input>
            <wsdl:output name="updateWorklistACLsResponse"
                message="eig:updateWorklistACLsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCreatableWorklistsCount">
            <wsdl:input name="getCreatableWorklistsCount"
                message="eig:getCreatableWorklistsCount">
            </wsdl:input>
            <wsdl:output name="getCreatableWorklistsCountResponse"
                message="eig:getCreatableWorklistsCountResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllAssignedWorklists">
            <wsdl:input name="getAllAssignedWorklists"
                message="eig:getAllAssignedWorklists">
            </wsdl:input>
            <wsdl:output name="getAllAssignedWorklistsResponse"
                message="eig:getAllAssignedWorklistsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllAssignedWorklistsCount">
            <wsdl:input name="getAllAssignedWorklistsCount"
                message="eig:getAllAssignedWorklistsCount">
            </wsdl:input>
            <wsdl:output name="getAllAssignedWorklistsCountResponse"
                message="eig:getAllAssignedWorklistsCountResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllWorklists">
            <wsdl:input name="getAllWorklists"
                message="eig:getAllWorklists">
            </wsdl:input>
            <wsdl:output name="getAllWorklistsResponse"
                message="eig:getAllWorklistsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCreatableWorklists">
            <wsdl:input name="getCreatableWorklists"
                message="eig:getCreatableWorklists">
            </wsdl:input>
            <wsdl:output name="getCreatableWorklistsResponse"
                message="eig:getCreatableWorklistsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllWorklistsCount">
            <wsdl:input name="getAllWorklistsCount"
                message="eig:getAllWorklistsCount">
            </wsdl:input>
            <wsdl:output name="getAllWorklistsCountResponse"
                message="eig:getAllWorklistsCountResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorklists">
            <wsdl:input name="getWorklists"
                message="eig:getWorklists">
            </wsdl:input>
            <wsdl:output name="getWorklistsResponse"
                message="eig:getWorklistsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTaskAclsByActor">
            <wsdl:input name="getTaskAclsByActor"
                message="eig:getTaskAclsByActor">
            </wsdl:input>
            <wsdl:output name="getTaskAclsByActorResponse"
                message="eig:getTaskAclsByActorResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorklist">
            <wsdl:input name="getWorklist" message="eig:getWorklist">
            </wsdl:input>
            <wsdl:output name="getWorklistResponse"
                message="eig:getWorklistResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAssignedWorklists">
            <wsdl:input name="getAssignedWorklists"
                message="eig:getAssignedWorklists">
            </wsdl:input>
            <wsdl:output name="getAssignedWorklistsResponse"
                message="eig:getAssignedWorklistsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteWorklists">
            <wsdl:input name="deleteWorklists"
                message="eig:deleteWorklists">
            </wsdl:input>
            <wsdl:output name="deleteWorklistsResponse"
                message="eig:deleteWorklistsResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAssignedWorklistsCount">
            <wsdl:input name="getAssignedWorklistsCount"
                message="eig:getAssignedWorklistsCount">
            </wsdl:input>
            <wsdl:output name="getAssignedWorklistsCountResponse"
                message="eig:getAssignedWorklistsCountResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateWorklist">
            <wsdl:input name="updateWorklist"
                message="eig:updateWorklist">
            </wsdl:input>
            <wsdl:output name="updateWorklistResponse"
                message="eig:updateWorklistResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WorklistService_v1_0SoapBinding"
        type="eig:WorklistPortType_v1_0">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="createWorklist">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/createWorklist"
                style="document" />
            <wsdl:input name="createWorklist">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="createWorklistResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorklistsCount">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getWorklistsCount"
                style="document" />
            <wsdl:input name="getWorklistsCount">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getWorklistsCountResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createNewWorklist">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/createNewWorklist"
                style="document" />
            <wsdl:input name="createNewWorklist">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="createNewWorklistResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOwnedWorklists">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getOwnedWorklists"
                style="document" />
            <wsdl:input name="getOwnedWorklists">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getOwnedWorklistsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateExistingWorklist">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/updateExistingWorklist"
                style="document" />
            <wsdl:input name="updateExistingWorklist">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="updateExistingWorklistResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCreatableWorklistsCount">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getCreatableWorklistsCount"
                style="document" />
            <wsdl:input name="getCreatableWorklistsCount">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCreatableWorklistsCountResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateWorklistACLs">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/updateExistingWorklist"
                style="document" />
            <wsdl:input name="updateWorklistACLs">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="updateWorklistACLsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllAssignedWorklists">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getAllAssignedWorklists"
                style="document" />
            <wsdl:input name="getAllAssignedWorklists">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getAllAssignedWorklistsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllAssignedWorklistsCount">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getAllAssignedWorklistsCount"
                style="document" />
            <wsdl:input name="getAllAssignedWorklistsCount">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getAllAssignedWorklistsCountResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllWorklists">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getAllWorklists"
                style="document" />
            <wsdl:input name="getAllWorklists">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getAllWorklistsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCreatableWorklists">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getCreatableWorklists"
                style="document" />
            <wsdl:input name="getCreatableWorklists">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getCreatableWorklistsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllWorklistsCount">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getAllWorklistsCount"
                style="document" />
            <wsdl:input name="getAllWorklistsCount">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getAllWorklistsCountResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTaskAclsByActor">
            <soap:operation soapAction="" style="document" />
            <wsdl:input name="getTaskAclsByActor">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getTaskAclsByActorResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorklists">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getWorklists"
                style="document" />
            <wsdl:input name="getWorklists">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getWorklistsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getWorklist">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getWorklist"
                style="document" />
            <wsdl:input name="getWorklist">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getWorklistResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAssignedWorklists">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getAssignedWorklists"
                style="document" />
            <wsdl:input name="getAssignedWorklists">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getAssignedWorklistsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteWorklists">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/deleteWorklists"
                style="document" />
            <wsdl:input name="deleteWorklists">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="deleteWorklistsResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAssignedWorklistsCount">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/getAssignedWorklistsCount"
                style="document" />
            <wsdl:input name="getAssignedWorklistsCount">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getAssignedWorklistsCountResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateWorklist">
            <soap:operation
                soapAction="http://eig.mckesson.com/wsdl/worklist-v1/updateWorklist"
                style="document" />
            <wsdl:input name="updateWorklist">
                <soap:header message="eig:header" part="wssHeader"     use="literal" />
                <soap:header message="eig:header" part="transIdHeader" use="literal" />
                <soap:header message="eig:header" part="appIdHeader"   use="literal" />
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="updateWorklistResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WorklistService_v1_0">
        <wsdl:port name="worklist_v1_0"
            binding="eig:WorklistService_v1_0SoapBinding">
            <soap:address
                location="http://host/context/cxfservices/worklist" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
