src/serverandcommon-pt/src/server-workflow/workflow-webapp/src/main/webapp/WEB-INF/eig/workflow/worklist.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:eig.mckesson.com"
  xmlns:eig="urn:eig.mckesson.com"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:documentation>
    This WSDL document contains a reference to an implementation of the workflow service
  </wsdl:documentation>

  <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
      targetNamespace="urn:eig.mckesson.com">

      <xsd:import
        namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />

      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:element name="applicationId" type="xsd:string" />

      <!-- Complex Data Types -->
      <xsd:complexType name="Actor">
        <xsd:sequence>
          <xsd:element name="appID"      type="xsd:int" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="entityType" type="xsd:int" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="entityID"   type="xsd:long" maxOccurs="1" minOccurs="1"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Actors">
        <xsd:sequence>
          <xsd:element name="actors" type="eig:Actor" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="size"   type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="TaskACL">
        <xsd:sequence>
          <xsd:element name="taskACLID"   type="xsd:long" maxOccurs="1" minOccurs="1"/>
          <xsd:element name="actor"       type="eig:Actor" />
          <xsd:element name="canComplete" type="xsd:boolean" />
          <xsd:element name="canCreate"   type="xsd:boolean" />
          <xsd:element name="canReassign" type="xsd:boolean" />
          <xsd:element name="canDelete"   type="xsd:boolean" />
          <xsd:element name="hasMerged"   type="xsd:boolean" />
          <xsd:element name="version"     type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="TaskACLs">
        <xsd:sequence>
          <xsd:element name="taskACLs" type="eig:TaskACL" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="size" type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="Worklist">
        <xsd:sequence>
          <xsd:element name="worklistID" type="xsd:long" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="desc" type="xsd:string" />
          <xsd:element name="totalTaskCount" type="xsd:long" />
          <xsd:element name="owners" type="eig:Actors" />
          <xsd:element name="assignedTo" type="eig:TaskACLs" />
          <xsd:element name="statusCountPair"
            type="eig:StatusCountPair" maxOccurs="unbounded" minOccurs="0" />
          <xsd:element name="version"   type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>

    <xsd:complexType name="StatusCountPair">
    <xsd:sequence>
      <xsd:element name="key" type="xsd:string" />
      <xsd:element name="value" type="xsd:long" />
    </xsd:sequence>
    </xsd:complexType>

      <xsd:complexType name="Attribute">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="SortOrder">
        <xsd:sequence>
          <xsd:element name="attribute" type="eig:Attribute" />
          <xsd:element name="isDesc"    type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ListACLs">
        <xsd:sequence>
          <xsd:element name="acls" type="eig:TaskACL" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="size" type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ListWorklist">
        <xsd:sequence>
          <xsd:element name="worklists" type="eig:Worklist" minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="size"      type="xsd:long" minOccurs="0" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="IDListResult">
        <xsd:sequence>
          <xsd:element name="processedIDs"   type="xsd:long"     minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="unprocessedIDs" type="xsd:long"     minOccurs="0" maxOccurs="unbounded" />
          <xsd:element name="errorCodes"     type="xsd:string"   minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="AssignedWLCriteria">
        <xsd:sequence>
          <xsd:element name="owners" type="eig:Actors" />
          <xsd:element name="assignedTo" type="eig:Actors" />
          <xsd:element name="showEmptyWorklists" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="getWorklist">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="worklistID" type="xsd:long" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getWorklistResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="worklist"
              type="eig:Worklist" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getWorklists">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="belongsTo"  type="eig:Actor" />
            <xsd:element name="startIndex" type="xsd:int" />
            <xsd:element name="count"      type="xsd:int" />
            <xsd:element name="sortOrder"
              type="eig:SortOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getWorklistsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listWorklist"
              type="eig:ListWorklist" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getCreatableWorklists">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createWLC"   type="eig:CreateWLCriteria" />
            <xsd:element name="startIndex" type="xsd:int" />
            <xsd:element name="count"      type="xsd:int" />
            <xsd:element name="sortOrder"  type="eig:SortOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getCreatableWorklistsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listWorklist" type="eig:ListWorklist" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteWorklists">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ids" type="xsd:long" minOccurs="1" maxOccurs="unbounded" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteWorklistsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idList" type="eig:IDListResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="createWorklist">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="worklist" type="eig:Worklist" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="createWorklistResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createWorklistResult" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getWorklistsCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="belongsTo" type="eig:Actor" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getWorklistsCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="WorklistsCount" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateWorklist">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="worklist" type="eig:Worklist" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateWorklistResponse">
          <xsd:complexType>
              <xsd:sequence />
          </xsd:complexType>
      </xsd:element>

      <xsd:element name="getAssignedWorklists">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="assignedWLC" type="eig:AssignedWLCriteria" />
            <xsd:element name="startIndex"  type="xsd:int" />
            <xsd:element name="count"       type="xsd:int" />
            <xsd:element name="sortOrder"   type="eig:SortOrder" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getAssignedWorklistsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listWorklist" type="eig:ListWorklist" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getAssignedWorklistsCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="assignedWLC" type="eig:AssignedWLCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getAssignedWorklistsCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="assignedworklistsCountResult" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getCreatableWorklistsCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createWLC" type="eig:CreateWLCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getCreatableWorklistsCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="creatableWorklistsCountResult" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateWorklistACLs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="listACLs" type="eig:ListACLs" />
            <xsd:element name="worlistIDs" type="xsd:long"
              minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="belongsTo"  type="eig:Actor" maxOccurs="1" minOccurs="1"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateWorklistACLsResponse">
          <xsd:complexType>
              <xsd:sequence />
          </xsd:complexType>
      </xsd:element>


      <xsd:complexType name="CreateWLCriteria">
        <xsd:sequence>

          <xsd:element name="owners" type="eig:Actors"></xsd:element>
          <xsd:element name="createdBy" type="eig:Actors"></xsd:element>
          <xsd:element name="showEmptyWorklists" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getAllAssignedWorklists">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="belongsTo" type="eig:Actor"></xsd:element>
            <xsd:element name="startIndex" type="xsd:int"></xsd:element>
            <xsd:element name="count" type="xsd:int"></xsd:element>
            <xsd:element name="sortOrder"
              type="eig:SortOrder">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllAssignedWorklistsResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="listWorklist"
              type="eig:ListWorklist">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllAssignedWorklistsCount">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="belongsTo" type="eig:Actor"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllAssignedWorklistsCountResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="allAssignedWorklistsCount"
              type="xsd:long">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllWorklists">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="startIndex" type="xsd:int"></xsd:element>
            <xsd:element name="count" type="xsd:int"></xsd:element>
            <xsd:element name="sortOrder"
              type="eig:SortOrder">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllWorklistsResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="listWorklist"
              type="eig:ListWorklist">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllWorklistsCount">
        <xsd:complexType>
          <xsd:sequence>

          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAllWorklistsCountResponse">
        <xsd:complexType>
          <xsd:sequence maxOccurs="1" minOccurs="1">

                        <xsd:element name="allWorklistsCountResult" type="xsd:long"></xsd:element>
                    </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOwnedWorklists">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="belongsTo" type="eig:Actor"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getOwnedWorklistsResponse">
        <xsd:complexType>
          <xsd:sequence>

            <xsd:element name="listWorklist" type="eig:ListWorklist"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
    <wsdl:part name="appIdHeader" element="eig:applicationId"/>
  </wsdl:message>

  <wsdl:message name="getWorklistRequest">
    <wsdl:documentation>
      Input parameter of getWorklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getWorklist" />
  </wsdl:message>

  <wsdl:message name="getWorklistResponse">
    <wsdl:documentation>
      Output parameter of getWorklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getWorklistResponse" />
  </wsdl:message>

  <wsdl:message name="getWorklistsRequest">
    <wsdl:documentation>
      Input parameter of getWorklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getWorklists" />
  </wsdl:message>

  <wsdl:message name="getWorklistsResponse">
    <wsdl:documentation>
      Output parameter of getWorklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getWorklistsResponse" />
  </wsdl:message>

  <wsdl:message name="getCreatableWorklistsRequest">
    <wsdl:documentation>
      Input parameter of getWorklistsWithCreatedTasks operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getCreatableWorklists" />
  </wsdl:message>

  <wsdl:message name="getCreatableWorklistsResponse">
    <wsdl:documentation>
      Output parameter of getWorklistsWithCreatedTasks operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getCreatableWorklistsResponse" />
  </wsdl:message>

  <wsdl:message name="createWorklistRequest">
    <wsdl:documentation>
      Input parameter of getWorklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:createWorklist" />
  </wsdl:message>

  <wsdl:message name="createWorklistResponse">
    <wsdl:documentation>
      Output parameter of getWorklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:createWorklistResponse" />
  </wsdl:message>

  <wsdl:message name="getWorklistsCountRequest">
    <wsdl:documentation>
      Input parameter of getWorklistsCount operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getWorklistsCount" />
  </wsdl:message>

  <wsdl:message name="getWorklistsCountResponse">
    <wsdl:documentation>
      Output parameter of getWorklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getWorklistsCountResponse" />
  </wsdl:message>

  <wsdl:message name="updateWorklistRequest">
    <wsdl:documentation>
      Input parameter of update Worklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:updateWorklist" />
  </wsdl:message>

  <wsdl:message name="updateWorklistResponse">
    <wsdl:documentation>
      Output parameter of update Worklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:updateWorklistResponse" />
  </wsdl:message>

  <wsdl:message name="deleteWorklistsRequest">
    <wsdl:documentation>
      Input parameter of deleteWorklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:deleteWorklists" />
  </wsdl:message>

  <wsdl:message name="deleteWorklistsResponse">
    <wsdl:documentation>
      Output parameter of deleteWorklist operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:deleteWorklistsResponse" />
  </wsdl:message>

  <wsdl:message name="getAssignedWorklistsRequest">
    <wsdl:documentation>
      Input parameter of getAssignedWorklists operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getAssignedWorklists" />
  </wsdl:message>

  <wsdl:message name="getAssignedWorklistsResponse">
    <wsdl:documentation>
      Output parameter of getAssignedWorklists operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getAssignedWorklistsResponse" />
  </wsdl:message>

  <wsdl:message name="getAssignedWorklistsCountRequest">
    <wsdl:documentation>
      Input parameter of getAssignedWorklistsCount operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getAssignedWorklistsCount" />
  </wsdl:message>

  <wsdl:message name="getAssignedWorklistsCountResponse">
    <wsdl:documentation>
      Output parameter of getAssignedWorklists operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getAssignedWorklistsCountResponse" />
  </wsdl:message>

  <wsdl:message name="getCreatableWorklistsCountRequest">
    <wsdl:documentation>
      Input parameter of getWorklistsCountWithCreatedTasks operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getCreatableWorklistsCount" />
  </wsdl:message>

  <wsdl:message name="getCreatableWorklistsCountResponse">
    <wsdl:documentation>
      Output parameter of getWorklistsCountWithCreatedTasks operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:getCreatableWorklistsCountResponse" />
  </wsdl:message>

  <wsdl:message name="updateWorklistACLsRequest">
    <wsdl:documentation>
        Input parameter of updateWorklistACLsRequest operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:updateWorklistACLs"/>
  </wsdl:message>

  <wsdl:message name="updateWorklistACLsResponse">
    <wsdl:documentation>
        Output parameter of updateWorklistACLsRequest operation
    </wsdl:documentation>
    <wsdl:part name="parameters" element="eig:updateWorklistACLsResponse"/>
  </wsdl:message>

  <wsdl:message name="getAllAssignedWorklistsRequest">
    <wsdl:part name="parameters" element="eig:getAllAssignedWorklists"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAssignedWorklistsResponse">
    <wsdl:part name="parameters" element="eig:getAllAssignedWorklistsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAssignedWorklistsCountRequest">
    <wsdl:part name="parameters" element="eig:getAllAssignedWorklistsCount"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllAssignedWorklistsCountResponse">
    <wsdl:part name="parameters" element="eig:getAllAssignedWorklistsCountResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllWorklistsRequest">
    <wsdl:part name="parameters" element="eig:getAllWorklists"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllWorklistsResponse">
    <wsdl:part name="parameters" element="eig:getAllWorklistsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllWorklistsCountRequest">
    <wsdl:part name="parameters" element="eig:getAllWorklistsCount"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllWorklistsCountResponse">
    <wsdl:part name="parameters" element="eig:getAllWorklistsCountResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOwnedWorklistsRequest">
    <wsdl:part name="parameters" element="eig:getOwnedWorklists"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getOwnedWorklistsResponse">
    <wsdl:part name="parameters" element="eig:getOwnedWorklistsResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WorkflowPortType">

    <wsdl:operation name="getWorklist">
      <wsdl:documentation>
        Used to fetch the worklist for a specified worklistID
      </wsdl:documentation>
      <wsdl:input  message="eig:getWorklistRequest" />
      <wsdl:output message="eig:getWorklistResponse" />
    </wsdl:operation>

    <wsdl:operation name="getWorklists">
      <wsdl:documentation>
        Used to fetch the ListWorklist for the corresponding
        inputs
      </wsdl:documentation>
      <wsdl:input  message="eig:getWorklistsRequest" />
      <wsdl:output message="eig:getWorklistsResponse" />
    </wsdl:operation>

    <wsdl:operation name="getCreatableWorklists">
      <wsdl:documentation>
        Used to fetch the ListWorklist for the corresponding
        inputs
      </wsdl:documentation>
      <wsdl:input  message="eig:getCreatableWorklistsRequest" />
      <wsdl:output message="eig:getCreatableWorklistsResponse" />
    </wsdl:operation>

    <wsdl:operation name="updateWorklist">
      <wsdl:documentation>
        Used to update the given worklist
      </wsdl:documentation>
      <wsdl:input message="eig:updateWorklistRequest" />
      <wsdl:output message="eig:updateWorklistResponse" />
    </wsdl:operation>

    <wsdl:operation name="createWorklist">
      <wsdl:documentation>
        Used to create new worklist for a given worklist
      </wsdl:documentation>
      <wsdl:input  message="eig:createWorklistRequest" />
      <wsdl:output message="eig:createWorklistResponse" />
    </wsdl:operation>

    <wsdl:operation name="getWorklistsCount">
      <wsdl:documentation>
        Used to create new worklist for a given worklist
      </wsdl:documentation>
      <wsdl:input  message="eig:getWorklistsCountRequest" />
      <wsdl:output message="eig:getWorklistsCountResponse" />
    </wsdl:operation>

    <wsdl:operation name="deleteWorklists">
      <wsdl:documentation>
        Used to delete worklist for a given worklist
      </wsdl:documentation>
      <wsdl:input  message="eig:deleteWorklistsRequest" />
      <wsdl:output message="eig:deleteWorklistsResponse" />
    </wsdl:operation>

    <wsdl:operation name="getAssignedWorklists">
      <wsdl:documentation>
        Used to getAssignedWorklists for given inputs
      </wsdl:documentation>
      <wsdl:input  message="eig:getAssignedWorklistsRequest" />
      <wsdl:output message="eig:getAssignedWorklistsResponse" />
    </wsdl:operation>

    <wsdl:operation name="getAssignedWorklistsCount">
      <wsdl:documentation>
        Used to getAssignedWorklistsCount for given inputs
      </wsdl:documentation>
      <wsdl:input message="eig:getAssignedWorklistsCountRequest" />
      <wsdl:output message="eig:getAssignedWorklistsCountResponse" />
    </wsdl:operation>

    <wsdl:operation name="getCreatableWorklistsCount">
      <wsdl:documentation>
        Used to getWorklistsCountWithCreatedTasks for given inputs
      </wsdl:documentation>
      <wsdl:input message="eig:getCreatableWorklistsCountRequest" />
      <wsdl:output message="eig:getCreatableWorklistsCountResponse" />
    </wsdl:operation>

    <wsdl:operation name="updateWorklistACLs">
      <wsdl:documentation>
        Used to update the worklist acls
      </wsdl:documentation>
      <wsdl:input message="eig:updateWorklistACLsRequest" />
      <wsdl:output message="eig:updateWorklistACLsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedWorklists">
      <wsdl:input message="eig:getAllAssignedWorklistsRequest"></wsdl:input>
      <wsdl:output message="eig:getAllAssignedWorklistsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedWorklistsCount">
      <wsdl:input message="eig:getAllAssignedWorklistsCountRequest"></wsdl:input>
      <wsdl:output message="eig:getAllAssignedWorklistsCountResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllWorklists">
      <wsdl:input message="eig:getAllWorklistsRequest"></wsdl:input>
      <wsdl:output message="eig:getAllWorklistsResponse"></wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getAllWorklistsCount">
      <wsdl:input message="eig:getAllWorklistsCountRequest"></wsdl:input>
      <wsdl:output message="eig:getAllWorklistsCountResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOwnedWorklists">
      <wsdl:input message="eig:getOwnedWorklistsRequest"></wsdl:input>
      <wsdl:output message="eig:getOwnedWorklistsResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="WorkflowSoapBinding"
    type="eig:WorkflowPortType">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />

    <wsdl:operation name="getWorklist">
      <soap:operation soapAction="urn:eig.mckesson.com/getWorklist" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getWorklists">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getWorklists" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getCreatableWorklists">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getWorklistsWithCreatedTasks" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="createWorklist">
      <soap:operation
        soapAction="urn:eig.mckesson.com/createWorklist" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deleteWorklists">
      <soap:operation
        soapAction="urn:eig.mckesson.com/deleteWorklists" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateWorklist">
      <soap:operation
        soapAction="urn:eig.mckesson.com/updateWorklist" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateWorklistACLs">
      <soap:operation
        soapAction="urn:eig.mckesson.com/updateWorklistACLs" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getWorklistsCount">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getWorklistsCount" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getAssignedWorklists">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getAssignedWorklists" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getAssignedWorklistsCount">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getAssignedWorklistsCount" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getCreatableWorklistsCount">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getWorklistsCountWithCreatedTasks" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getAllAssignedWorklists">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getAllAssignedWorklists" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAssignedWorklistsCount">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getAllAssignedWorklistsCount" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllWorklists">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getAllWorklists">
      </soap:operation>
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"></soap:body>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllWorklistsCount">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getAllWorklistsCount" />
      <wsdl:input>
        <soap:header message="eig:header" part="wssHeader"
          use="literal" />
        <soap:header message="eig:header" part="transIdHeader"
          use="literal" />
        <soap:header message="eig:header" part="appIdHeader"
          use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getOwnedWorklists">
      <soap:operation
        soapAction="urn:eig.mckesson.com/getOwnedWorklists" />
      <wsdl:input>
            <soap:header message="eig:header" part="wssHeader"
                use="literal" />
            <soap:header message="eig:header" part="transIdHeader"
                use="literal" />
            <soap:header message="eig:header" part="appIdHeader"
                use="literal" />
            <soap:body use="literal" />
        </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="WorkflowService">
    <wsdl:documentation>
      This service implements all workflow service calls
    </wsdl:documentation>
    <wsdl:port binding="eig:WorkflowSoapBinding" name="workflow">
      <soap:address
        location="http://host/context/services/workflow" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
