trunk_JarUpgrade/client/McK.EIG.ROI.Client/Web References/Web_References.AuthenticationWS/Authentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:eig="urn:eig.mckesson.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Authentication" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:element name="authenticateUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="domain" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userPassword" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="authenticateUserResultType">
        <xsd:sequence>
          <xsd:element name="authenticated" type="xsd:boolean" />
          <xsd:element name="message" type="xsd:string" />
          <xsd:element name="userName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="authenticateUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="AuthenticateUserResult" type="eig:authenticateUserResultType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="preLoginInfo" />
      <xsd:complexType name="preLoginInfoType">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="domains" type="xsd:string" />
          <xsd:element name="isLdapEnabled" type="xsd:boolean" />
          <xsd:element name="isSelfMappingEnabled" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="preLoginInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PreLoginInfoDto" type="eig:preLoginInfoType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateUser">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="adminUserID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="adminPassword" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="domainID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userIdToValidate" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="domainToValidate" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="validateUserResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="validate" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="authenticateUserRequest">
    <wsdl:part name="parameters" element="eig:authenticateUser" />
  </wsdl:message>
  <wsdl:message name="authenticateUserResponse">
    <wsdl:part name="parameters" element="eig:authenticateUserResponse" />
  </wsdl:message>
  <wsdl:message name="preLoginInfoRequestMessage">
    <wsdl:part name="parameters" element="eig:preLoginInfo" />
  </wsdl:message>
  <wsdl:message name="preLoginInfoResponseMessage">
    <wsdl:part name="parameters" element="eig:preLoginInfoResponse" />
  </wsdl:message>
  <wsdl:message name="validateUserRequestMessage">
    <wsdl:part name="parameters" element="eig:validateUser" />
  </wsdl:message>
  <wsdl:message name="validateUserResponseMessage">
    <wsdl:part name="parameters" element="eig:validateUserResponse" />
  </wsdl:message>
  <wsdl:portType name="AuthenticationPortType">
    <wsdl:operation name="authenticateUser">
      <wsdl:input message="eig:authenticateUserRequest" />
      <wsdl:output message="eig:authenticateUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <wsdl:input message="eig:validateUserRequestMessage" />
      <wsdl:output message="eig:validateUserResponseMessage" />
    </wsdl:operation>
    <wsdl:operation name="preLoginInfo">
      <wsdl:input message="eig:preLoginInfoRequestMessage" />
      <wsdl:output message="eig:preLoginInfoResponseMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuthenticationSOAPBinding" type="eig:AuthenticationPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="authenticateUser">
      <soap:operation soapAction="urn:eig.mckesson.com/authenticationService" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateUser">
      <soap:operation soapAction="urn:eig.mckesson.com/authenticationService" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="preLoginInfo">
      <soap:operation soapAction="urn:eig.mckesson.com/authenticationService" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuthenticationService">
    <wsdl:port name="Authentication" binding="eig:AuthenticationSOAPBinding">
      <soap:address location="http://host/context/eig/services/authentication" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>