src/client/McK.EIG.ROI.Client/Web References/Web_References.BillingWS/BillingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:eig="urn:eig.mckesson.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BillingService" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>

        This WSDL contains the Request Services
     </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:complexType name="Release">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="releaseDate" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="userId" type="xsd:long" />
          <xsd:element minOccurs="0" name="userName" type="xsd:string" />
          <xsd:element name="details" type="xsd:string" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element name="requestId" type="xsd:long" />
          <xsd:element name="item" type="eig:Item" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="releasedSupplementalDocs" nillable="true" type="eig:ROILoV" />
          <xsd:element name="released" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attributes" type="eig:attributesMap" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="childItem" type="eig:Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="attributesMap">
        <xsd:sequence>
          <xsd:element name="name" nillable="true" type="xsd:string" />
          <xsd:element name="value" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceHistory">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="invoice" type="eig:Invoice" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Invoice">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="creatorName" type="xsd:string" />
          <xsd:element name="createdDate" type="xsd:string" />
          <xsd:element name="queuePassword" type="xsd:string" />
          <xsd:element name="resendDate" type="xsd:string" />
          <xsd:element name="outputMethod" type="xsd:string" />
          <xsd:element name="invoiceDueDate" type="xsd:string" />
          <xsd:element name="baseCharge" type="xsd:double" />
          <xsd:element name="totalAdjustments" type="xsd:double" />
          <xsd:element name="totalPayments" type="xsd:double" />
          <xsd:element name="currentBalance" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DocInfo">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DocInfoList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="docInfos" type="eig:DocInfo" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceDetails">
        <xsd:sequence>
          <xsd:element name="regeneratedInvoiceId" type="xsd:long" />
          <xsd:element name="resendDateTime" type="xsd:string" />
          <xsd:element name="invoiceNumber" type="xsd:long" />
          <xsd:element name="templateUsed" type="xsd:string" />
          <xsd:element name="templateId" type="xsd:long" />
          <xsd:element name="resendBy" type="xsd:string" />
          <xsd:element name="invoiceAmount" type="xsd:string" />
          <xsd:element name="queuePassword" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceDetailsList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="InvoiceDetails" type="eig:InvoiceDetails" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ROILoV">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="domainType" type="xsd:string" />
          <xsd:element name="domainSource" type="xsd:string" />
          <xsd:element minOccurs="0" name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
          <xsd:element name="child" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ReleaseHistory">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="release" type="eig:Release" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ItemsList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="items" type="eig:Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceCharge">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="invoiceBillingLocCode" type="xsd:string" />
          <xsd:element name="invoiceBillingLocName" type="xsd:string" />
          <xsd:element name="baseCharge" nillable="true" type="xsd:double" />
          <xsd:element name="paidAmount" nillable="true" type="xsd:double" />
          <xsd:element name="isInvoice" type="xsd:boolean" />
          <xsd:element name="invoiceBalanceDue" nillable="true" type="xsd:double" />
          <xsd:element name="invoicePreviousBalanceDue" nillable="true" type="xsd:double" />
          <xsd:element name="invoiceSalesTax" nillable="true" type="xsd:double" />
          <xsd:element name="createdDate" type="xsd:string" />
          <xsd:element name="totalCreditAdjustment" type="xsd:double" />
          <xsd:element name="totalDebitAdjustment" type="xsd:double" />
          <xsd:element name="totalPayment" type="xsd:double" />
          <xsd:element name="taxableAmount" type="xsd:double" />
          <xsd:element name="nonTaxableAmount" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="adjustmentPayments" nillable="true" type="eig:Adjustment" />
          <xsd:element minOccurs="0" name="recordVersion" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Adjustment">
        <xsd:sequence>
          <xsd:element name="invoiceCreatedDate" type="xsd:string" />
          <xsd:element name="invoiceAmount" type="xsd:double" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="transactionType" type="xsd:string" />
          <xsd:element name="debt" type="xsd:boolean" />
          <xsd:element name="paymentMode" type="xsd:string" />
          <xsd:element name="isNewlyAdded" type="xsd:boolean" />
          <xsd:element name="adjPayMethod" type="eig:AdjustmentPaymentMethod" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="AdjustmentPaymentMethod">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AUTOMATIC" />
          <xsd:enumeration value="MANUAL" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="InvoiceChargeList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="InvoiceCharges" type="eig:InvoiceCharge" />
          <xsd:element name="prevRequestBalance" type="xsd:double" />
          <xsd:element name="currRequestBalance" type="xsd:double" />
          <xsd:element name="totalCreditAdjustment" type="xsd:double" />
          <xsd:element name="totalDebitAdjustment" type="xsd:double" />
          <xsd:element name="requestId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceInfo">
        <xsd:sequence>
          <xsd:element name="infoList" type="eig:DocInfoList" />
          <xsd:element name="InvoiceCharge" type="eig:InvoiceCharge" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PastInvoice">
        <xsd:sequence>
          <xsd:element name="regeneratedInvoiceId" type="xsd:long" />
          <xsd:element name="invoiceId" type="xsd:long" />
          <xsd:element name="createdDate" type="xsd:string" />
          <xsd:element name="amount" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PastInvoiceList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PastInvoices" type="eig:PastInvoice" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RegeneratedInvoiceInfo">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="eig:attributesMap" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="propertiesMap">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceAndLetterInfo">
        <xsd:sequence>
          <xsd:element name="invoiceTemplateId" type="xsd:long" />
          <xsd:element name="letterTemplateId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="reqLetterNotes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="invoiceNotes" type="xsd:string" />
          <xsd:element minOccurs="0" name="letter" type="eig:Item" />
          <xsd:element minOccurs="0" name="newInvoice" type="eig:Item" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="pastInvIds" type="xsd:long" />
          <xsd:element name="isLetter" type="xsd:boolean" />
          <xsd:element name="isNewInvoice" type="xsd:boolean" />
          <xsd:element name="isPastInvoice" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="eig:propertiesMap" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createRelease">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="release" type="eig:Release" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createReleaseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveReleaseInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="releaseId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveReleaseInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="item" type="eig:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateRelease">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="release" type="eig:Release" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateReleaseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="release" type="eig:Release" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="release">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="release" type="eig:Release" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="releaseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="release" type="eig:Release" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveLatestReleaseInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveLatestReleaseInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="item" type="eig:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveChargeHistory">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveChargeHistoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="eig:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="releaseId" type="xsd:long" />
            <xsd:element name="item" type="eig:Item" />
            <xsd:element name="docType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="info" type="eig:DocInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="invoiceId" type="xsd:long" />
            <xsd:element name="item" type="eig:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="item" type="eig:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createPreBill">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
            <xsd:element name="item" type="eig:Item" />
            <xsd:element name="docType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createPreBillResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="info" type="eig:DocInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="viewInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="invoiceId" type="xsd:long" />
            <xsd:element name="docType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="viewInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="info" type="eig:DocInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="viewPreBill">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="preBillId" type="xsd:long" />
            <xsd:element name="docType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="viewPreBillResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="info" type="eig:DocInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInvoiceSummaries">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInvoiceSummariesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="invoiceHistory" type="eig:InvoiceHistory" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInvoiceDetails">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="invoiceId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInvoiceDetailsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="item" type="eig:Item" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveReleaseHistory">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveReleaseHistoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="releaseHistory" type="eig:ReleaseHistory" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createLetter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="item" type="eig:Item" />
            <xsd:element name="docType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createLetterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="info" type="eig:DocInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deletePreBill">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deletePreBillResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createInvoicesAndLetter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InvoiceAndLetterInfo" type="eig:InvoiceAndLetterInfo" />
            <xsd:element name="releaseId" type="xsd:long" />
            <xsd:element name="docType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createInvoicesAndLetterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InvoiceInfo" type="eig:InvoiceInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteLetter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteLetterResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createInvoiceInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="releaseId" type="xsd:long" />
            <xsd:element name="item" type="eig:Item" />
            <xsd:element name="docType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRegeneratedInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="invoiceId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRegeneratedInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InvoiceDetailsList" type="eig:InvoiceDetailsList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="viewRegeneratedInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="regInvoiceId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="viewRegeneratedInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="info" type="eig:DocInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createInvoiceInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InvoiceInfo" type="eig:InvoiceInfo" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrievePastInvoices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrievePastInvoicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PastInvoiceList" type="eig:PastInvoiceList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveAdjPayInvoices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveAdjPayInvoicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InvoiceChargeList" type="eig:InvoiceChargeList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAdjPayInvoices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InvoiceChargeList" type="eig:InvoiceChargeList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateAdjPayInvoicesResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteInvoiceInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteInvoiceInfoResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createRegeneratedInvoice">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RegeneratedInvoiceInfo" type="eig:RegeneratedInvoiceInfo" />
            <xsd:element name="isInvoice" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createRegeneratedInvoiceResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="createReleaseRequest">
    <wsdl:part name="parameters" element="eig:createRelease" />
  </wsdl:message>
  <wsdl:message name="createReleaseResponse">
    <wsdl:part name="parameters" element="eig:createReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveReleaseInfoRequest">
    <wsdl:part name="parameters" element="eig:retrieveReleaseInfo" />
  </wsdl:message>
  <wsdl:message name="retrieveReleaseInfoResponse">
    <wsdl:part name="parameters" element="eig:retrieveReleaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="updateReleaseRequest">
    <wsdl:part name="parameters" element="eig:updateRelease" />
  </wsdl:message>
  <wsdl:message name="updateReleaseResponse">
    <wsdl:part name="parameters" element="eig:updateReleaseResponse" />
  </wsdl:message>
  <wsdl:message name="releaseRequest">
    <wsdl:part name="parameters" element="eig:release" />
  </wsdl:message>
  <wsdl:message name="releaseResponse">
    <wsdl:part name="parameters" element="eig:releaseResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveLatestReleaseInfoRequest">
    <wsdl:part name="parameters" element="eig:retrieveLatestReleaseInfo" />
  </wsdl:message>
  <wsdl:message name="retrieveLatestReleaseInfoResponse">
    <wsdl:part name="parameters" element="eig:retrieveLatestReleaseInfoResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveChargeHistoryRequest">
    <wsdl:part name="parameters" element="eig:retrieveChargeHistory" />
  </wsdl:message>
  <wsdl:message name="retrieveChargeHistoryResponse">
    <wsdl:part name="parameters" element="eig:retrieveChargeHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="createInvoiceRequest">
    <wsdl:part name="parameters" element="eig:createInvoice" />
  </wsdl:message>
  <wsdl:message name="createInvoiceResponse">
    <wsdl:part name="parameters" element="eig:createInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="updateInvoiceRequest">
    <wsdl:part name="parameters" element="eig:updateInvoice" />
  </wsdl:message>
  <wsdl:message name="updateInvoiceResponse">
    <wsdl:part name="parameters" element="eig:updateInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="createPreBillRequest">
    <wsdl:part name="parameters" element="eig:createPreBill" />
  </wsdl:message>
  <wsdl:message name="createPreBillResponse">
    <wsdl:part name="parameters" element="eig:createPreBillResponse" />
  </wsdl:message>
  <wsdl:message name="viewInvoiceRequest">
    <wsdl:part name="parameters" element="eig:viewInvoice" />
  </wsdl:message>
  <wsdl:message name="viewInvoiceResponse">
    <wsdl:part name="parameters" element="eig:viewInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="viewPreBillRequest">
    <wsdl:part name="parameters" element="eig:viewPreBill" />
  </wsdl:message>
  <wsdl:message name="viewPreBillResponse">
    <wsdl:part name="parameters" element="eig:viewPreBillResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveInvoiceSummariesRequest">
    <wsdl:part name="parameters" element="eig:retrieveInvoiceSummaries" />
  </wsdl:message>
  <wsdl:message name="retrieveInvoiceSummariesResponse">
    <wsdl:part name="parameters" element="eig:retrieveInvoiceSummariesResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveInvoiceDetailsRequest">
    <wsdl:part name="parameters" element="eig:retrieveInvoiceDetails" />
  </wsdl:message>
  <wsdl:message name="retrieveInvoiceDetailsResponse">
    <wsdl:part name="parameters" element="eig:retrieveInvoiceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveReleaseHistoryRequest">
    <wsdl:part name="parameters" element="eig:retrieveReleaseHistory" />
  </wsdl:message>
  <wsdl:message name="retrieveReleaseHistoryResponse">
    <wsdl:part name="parameters" element="eig:retrieveReleaseHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="createLetterRequest">
    <wsdl:part name="parameters" element="eig:createLetter" />
  </wsdl:message>
  <wsdl:message name="createLetterResponse">
    <wsdl:part name="parameters" element="eig:createLetterResponse" />
  </wsdl:message>
  <wsdl:message name="deleteInvoiceRequest">
    <wsdl:part name="parameters" element="eig:deleteInvoice" />
  </wsdl:message>
  <wsdl:message name="deleteInvoiceResponse">
    <wsdl:part name="parameters" element="eig:deleteInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="deletePreBillRequest">
    <wsdl:part name="parameters" element="eig:deletePreBill" />
  </wsdl:message>
  <wsdl:message name="deletePreBillResponse">
    <wsdl:part name="parameters" element="eig:deletePreBillResponse" />
  </wsdl:message>
  <wsdl:message name="createInvoicesAndLetterRequest">
    <wsdl:part name="parameters" element="eig:createInvoicesAndLetter" />
  </wsdl:message>
  <wsdl:message name="createInvoicesAndLetterResponse">
    <wsdl:part name="parameters" element="eig:createInvoicesAndLetterResponse" />
  </wsdl:message>
  <wsdl:message name="deleteLetterRequest">
    <wsdl:part name="parameters" element="eig:deleteLetter" />
  </wsdl:message>
  <wsdl:message name="deleteLetterResponse">
    <wsdl:part name="parameters" element="eig:deleteLetterResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveRegeneratedInvoiceRequest">
    <wsdl:part name="parameters" element="eig:retrieveRegeneratedInvoice" />
  </wsdl:message>
  <wsdl:message name="retrieveRegeneratedInvoiceResponse">
    <wsdl:part name="parameters" element="eig:retrieveRegeneratedInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="viewRegeneratedInvoiceRequest">
    <wsdl:part name="parameters" element="eig:viewRegeneratedInvoice" />
  </wsdl:message>
  <wsdl:message name="viewRegeneratedInvoiceResponse">
    <wsdl:part name="parameters" element="eig:viewRegeneratedInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="createInvoiceInfoRequest">
    <wsdl:part name="parameters" element="eig:createInvoiceInfo" />
  </wsdl:message>
  <wsdl:message name="createInvoiceInfoResponse">
    <wsdl:part name="parameters" element="eig:createInvoiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="retrievePastInvoicesRequest">
    <wsdl:part name="parameters" element="eig:retrievePastInvoices" />
  </wsdl:message>
  <wsdl:message name="retrievePastInvoicesResponse">
    <wsdl:part name="parameters" element="eig:retrievePastInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveAdjPayInvoicesRequest">
    <wsdl:part name="parameters" element="eig:retrieveAdjPayInvoices" />
  </wsdl:message>
  <wsdl:message name="retrieveAdjPayInvoicesResponse">
    <wsdl:part name="parameters" element="eig:retrieveAdjPayInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="updateAdjPayInvoicesRequest">
    <wsdl:part name="parameters" element="eig:updateAdjPayInvoices" />
  </wsdl:message>
  <wsdl:message name="updateAdjPayInvoicesResponse">
    <wsdl:part name="parameters" element="eig:updateAdjPayInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="deleteInvoiceInfoRequest">
    <wsdl:part name="parameters" element="eig:deleteInvoiceInfo" />
  </wsdl:message>
  <wsdl:message name="deleteInvoiceInfoResponse">
    <wsdl:part name="parameters" element="eig:deleteInvoiceInfoResponse" />
  </wsdl:message>
  <wsdl:message name="createRegeneratedInvoiceRequest">
    <wsdl:part name="parameters" element="eig:createRegeneratedInvoice" />
  </wsdl:message>
  <wsdl:message name="createRegeneratedInvoiceResponse">
    <wsdl:part name="parameters" element="eig:createRegeneratedInvoiceResponse" />
  </wsdl:message>
  <wsdl:portType name="BillingPortType">
    <wsdl:operation name="createRelease">
      <wsdl:input message="eig:createReleaseRequest" />
      <wsdl:output message="eig:createReleaseResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveReleaseInfo">
      <wsdl:input message="eig:retrieveReleaseInfoRequest" />
      <wsdl:output message="eig:retrieveReleaseInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateRelease">
      <wsdl:input message="eig:updateReleaseRequest" />
      <wsdl:output message="eig:updateReleaseResponse" />
    </wsdl:operation>
    <wsdl:operation name="release">
      <wsdl:input message="eig:releaseRequest" />
      <wsdl:output message="eig:releaseResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveLatestReleaseInfo">
      <wsdl:input message="eig:retrieveLatestReleaseInfoRequest" />
      <wsdl:output message="eig:retrieveLatestReleaseInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveChargeHistory">
      <wsdl:input message="eig:retrieveChargeHistoryRequest" />
      <wsdl:output message="eig:retrieveChargeHistoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="createInvoice">
      <wsdl:input message="eig:createInvoiceRequest" />
      <wsdl:output message="eig:createInvoiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateInvoice">
      <wsdl:input message="eig:updateInvoiceRequest" />
      <wsdl:output message="eig:updateInvoiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="createPreBill">
      <wsdl:input message="eig:createPreBillRequest" />
      <wsdl:output message="eig:createPreBillResponse" />
    </wsdl:operation>
    <wsdl:operation name="viewInvoice">
      <wsdl:input message="eig:viewInvoiceRequest" />
      <wsdl:output message="eig:viewInvoiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="viewPreBill">
      <wsdl:input message="eig:viewPreBillRequest" />
      <wsdl:output message="eig:viewPreBillResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveInvoiceSummaries">
      <wsdl:input message="eig:retrieveInvoiceSummariesRequest" />
      <wsdl:output message="eig:retrieveInvoiceSummariesResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveInvoiceDetails">
      <wsdl:input message="eig:retrieveInvoiceDetailsRequest" />
      <wsdl:output message="eig:retrieveInvoiceDetailsResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveReleaseHistory">
      <wsdl:input message="eig:retrieveReleaseHistoryRequest" />
      <wsdl:output message="eig:retrieveReleaseHistoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="createLetter">
      <wsdl:input message="eig:createLetterRequest" />
      <wsdl:output message="eig:createLetterResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteInvoice">
      <wsdl:input message="eig:deleteInvoiceRequest" />
      <wsdl:output message="eig:deleteInvoiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="deletePreBill">
      <wsdl:input message="eig:deletePreBillRequest" />
      <wsdl:output message="eig:deletePreBillResponse" />
    </wsdl:operation>
    <wsdl:operation name="createInvoicesAndLetter">
      <wsdl:input message="eig:createInvoicesAndLetterRequest" />
      <wsdl:output message="eig:createInvoicesAndLetterResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteLetter">
      <wsdl:input message="eig:deleteLetterRequest" />
      <wsdl:output message="eig:deleteLetterResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveRegeneratedInvoice">
      <wsdl:input message="eig:retrieveRegeneratedInvoiceRequest" />
      <wsdl:output message="eig:retrieveRegeneratedInvoiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="viewRegeneratedInvoice">
      <wsdl:input message="eig:viewRegeneratedInvoiceRequest" />
      <wsdl:output message="eig:viewRegeneratedInvoiceResponse" />
    </wsdl:operation>
    <wsdl:operation name="createInvoiceInfo">
      <wsdl:input message="eig:createInvoiceInfoRequest" />
      <wsdl:output message="eig:createInvoiceInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrievePastInvoices">
      <wsdl:input message="eig:retrievePastInvoicesRequest" />
      <wsdl:output message="eig:retrievePastInvoicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveAdjPayInvoices">
      <wsdl:input message="eig:retrieveAdjPayInvoicesRequest" />
      <wsdl:output message="eig:retrieveAdjPayInvoicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateAdjPayInvoices">
      <wsdl:input message="eig:updateAdjPayInvoicesRequest" />
      <wsdl:output message="eig:updateAdjPayInvoicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteInvoiceInfo">
      <wsdl:input message="eig:deleteInvoiceInfoRequest" />
      <wsdl:output message="eig:deleteInvoiceInfoResponse" />
    </wsdl:operation>
    <wsdl:operation name="createRegeneratedInvoice">
      <wsdl:input message="eig:createRegeneratedInvoiceRequest" />
      <wsdl:output message="eig:createRegeneratedInvoiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ROIBillingSoapBinding" type="eig:BillingPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createRelease">
      <soap:operation soapAction="urn:eig.mckesson.com/createRelease" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveReleaseInfo">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveReleaseInfo" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRelease">
      <soap:operation soapAction="urn:eig.mckesson.com/updateRelease" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="release">
      <soap:operation soapAction="urn:eig.mckesson.com/release" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveLatestReleaseInfo">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveLatestReleaseInfo" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveChargeHistory">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveChargeHistory" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInvoice">
      <soap:operation soapAction="urn:eig.mckesson.com/createInvoice" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateInvoice">
      <soap:operation soapAction="urn:eig.mckesson.com/updateInvoice" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createPreBill">
      <soap:operation soapAction="urn:eig.mckesson.com/createPreBill" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewInvoice">
      <soap:operation soapAction="urn:eig.mckesson.com/viewInvoice" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewPreBill">
      <soap:operation soapAction="urn:eig.mckesson.com/viewPreBill" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveInvoiceSummaries">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveInvoiceSummaries" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveInvoiceDetails">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveInvoiceDetails" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveReleaseHistory">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveReleaseHistory" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createLetter">
      <soap:operation soapAction="urn:eig.mckesson.com/createLetter" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteInvoice">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteInvoice" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deletePreBill">
      <soap:operation soapAction="urn:eig.mckesson.com/deletePreBill" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInvoicesAndLetter">
      <soap:operation soapAction="urn:eig.mckesson.com/createInvoicesAndLetter" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteLetter">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteLetter" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInvoiceInfo">
      <soap:operation soapAction="urn:eig.mckesson.com/createInvoiceInfo" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrievePastInvoices">
      <soap:operation soapAction="urn:eig.mckesson.com/retrievePastInvoices" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAdjPayInvoices">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAdjPayInvoices" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAdjPayInvoices">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAdjPayInvoices" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveRegeneratedInvoice">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveRegeneratedInvoice" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="viewRegeneratedInvoice">
      <soap:operation soapAction="urn:eig.mckesson.com/viewRegeneratedInvoice" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteInvoiceInfo">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteInvoiceInfo" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRegeneratedInvoice">
      <soap:operation soapAction="urn:eig.mckesson.com/createRegeneratedInvoice" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BillingService">
    <wsdl:documentation>

      This service implements all ROI Billing Service Calls
      </wsdl:documentation>
    <wsdl:port name="billingPort" binding="eig:ROIBillingSoapBinding">
      <soap:address location="http://eigdev188:8080/roi/services/BillingService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>