src/roi-server-codegen/src/main/resources/securityLogoff/securitylogoff.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:eig.mckesson.com"
	xmlns:eig="urn:eig.mckesson.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

		<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:eig.mckesson.com">

			<xsd:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
				schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />

			<xsd:element name="transactionId" type="xsd:long" />
			<xsd:element name="logoff">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="logoffResponse">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="header">
		<wsdl:part element="wsse:Security" name="wssHeader" />
		<wsdl:part element="eig:transactionId" name="transIdHeader" />
	</wsdl:message>

	<wsdl:message name="logoffRequest">
		<wsdl:documentation>Input parameter of logoff operation</wsdl:documentation>
		<wsdl:part element="eig:logoff" name="parameters" />
	</wsdl:message>

	<wsdl:message name="logoffResponse">
		<wsdl:documentation>Output parameter of logoff operation</wsdl:documentation>
		<wsdl:part element="eig:logoffResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="SecurityLogoffPortType">
		<wsdl:operation name="logoff">
			<wsdl:documentation>Used for user logoff</wsdl:documentation>
			<wsdl:input message="eig:logoffRequest" />
			<wsdl:output message="eig:logoffResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SecurityLogoffSoapBinding" type="eig:SecurityLogoffPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="logoff">
			<soap:operation soapAction="urn:eig.mckesson.com/logoff"/>
			<wsdl:input>
				<soap:header message="eig:header" part="wssHeader" use="literal"/>
				<soap:header message="eig:header" part="transIdHeader" use="literal"/>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output><soap:body use="literal"/></wsdl:output>
		</wsdl:operation>
    </wsdl:binding>

	<wsdl:service name="SecurityLogoffService">
		<wsdl:documentation>This is the web service that handles the incoming
		soap authentication request</wsdl:documentation>
		<wsdl:port binding="eig:SecurityLogoffSoapBinding" name="SecurityLogoff">
			<soap:address location="http://host/context/services/securitylogoff" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

