src/client/McK.EIG.ROI.Client/Web References/Web_References.OverDueInvoiceCoreWS/OverdueInvoiceCoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:eig="urn:eig.mckesson.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OverdueInvoiceCoreService" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>

		This WSDL contains the OverDue Invoice CoreServices
	 </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:complexType name="PastDueInvoice">
        <xsd:sequence>
          <xsd:element name="billingLocation" type="xsd:string" />
          <xsd:element name="invoiceNumber" type="xsd:long" />
          <xsd:element name="requestId" type="xsd:long" />
          <xsd:element name="overdueAmount" type="xsd:double" />
          <xsd:element name="requestorName" type="xsd:string" />
          <xsd:element name="phoneNumber" type="xsd:string" />
          <xsd:element name="requestorType" type="xsd:string" />
          <xsd:element name="requestorId" type="xsd:long" />
          <xsd:element name="overDueDays" type="xsd:long" />
          <xsd:element name="invoiceAge" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InvoiceAndLetterInfo">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="invoices" type="eig:RequestorInvoices" />
          <xsd:element name="invoiceTemplateId" type="xsd:long" />
          <xsd:element name="requestorLetterTemplateId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="reqLetterNotes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="invoiceNotes" type="xsd:string" />
          <xsd:element minOccurs="0" name="pastInvIds" type="xsd:long" />
          <xsd:element name="isLetter" type="xsd:boolean" />
          <xsd:element name="isNewInvoice" type="xsd:boolean" />
          <xsd:element name="isPastInvoice" type="xsd:boolean" />
          <xsd:element name="outputInvoice" type="xsd:boolean" />
          <xsd:element name="statementCriteria" type="eig:RequestorStatementCriteria" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="properties" type="eig:propertiesMap" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestorInvoices">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="invoiceIds" type="xsd:long" />
          <xsd:element name="requestorId" type="xsd:long" />
          <xsd:element minOccurs="0" name="requestorName" type="xsd:string" />
          <xsd:element name="requestorType" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="propertiesMap">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OverDueDocInfo">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="requestorGroupingKey" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OverDueDocInfoList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="overDueDocInfos" type="eig:OverDueDocInfo" />
          <xsd:element name="name" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PastDueInvoices">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="PastDueInvoice" type="eig:PastDueInvoice" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="OverDueRestriction">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="GREATER" />
          <xsd:enumeration value="BETWEEN" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="RequestorStatementCriteria">
        <xsd:sequence>
          <xsd:element name="requestorId" type="xsd:long" />
          <xsd:element name="templateFileId" type="xsd:long" />
          <xsd:element name="templateName" type="xsd:string" />
          <xsd:element name="outputMethod" type="xsd:string" />
          <xsd:element name="queuePassword" type="xsd:string" />
          <xsd:element name="dateRange" nillable="true" type="eig:DateRange" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="notes" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="pastInvIds" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="DateRange">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="DAYS_30" />
          <xsd:enumeration value="DAYS_60" />
          <xsd:enumeration value="DAYS_90" />
          <xsd:enumeration value="DAYS_120" />
          <xsd:enumeration value="YEAR_TO_DATE" />
          <xsd:enumeration value="ALL" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="SearchPastDueInvoiceCriteria">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="billingLocations" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestorTypes" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="requestorTypeNames" type="xsd:string" />
          <xsd:element minOccurs="0" name="requestorName" type="xsd:string" />
          <xsd:element name="overDueFrom" type="xsd:long" />
          <xsd:element minOccurs="0" name="overDueTo" type="xsd:long" />
          <xsd:element name="overDueRestriction" type="eig:OverDueRestriction" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchPastDueInvoiceResult">
        <xsd:sequence>
          <xsd:element name="maxCountExceeded" type="xsd:boolean" />
          <xsd:element name="PastDueInvoiceList" type="eig:PastDueInvoices" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchOverDueInvoices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="PastDueInvoiceCriteria" type="eig:SearchPastDueInvoiceCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchOverDueInvoicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchPastDueInvoiceResult" type="eig:SearchPastDueInvoiceResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="regenerateInvoiceCoreAndLetter">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InvoiceAndLetterInfo" type="eig:InvoiceAndLetterInfo" />
            <xsd:element name="forPreview" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="regenerateInvoiceCoreAndLetterResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="overDueDocInfoList" type="eig:OverDueDocInfoList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="searchOverDueInvoicesRequest">
    <wsdl:part name="parameters" element="eig:searchOverDueInvoices" />
  </wsdl:message>
  <wsdl:message name="searchOverDueInvoicesResponse">
    <wsdl:part name="parameters" element="eig:searchOverDueInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="regenerateInvoiceCoreAndLetterRequest">
    <wsdl:part name="parameters" element="eig:regenerateInvoiceCoreAndLetter" />
  </wsdl:message>
  <wsdl:message name="regenerateInvoiceCoreAndLetterResponse">
    <wsdl:part name="parameters" element="eig:regenerateInvoiceCoreAndLetterResponse" />
  </wsdl:message>
  <wsdl:portType name="OverDueInvoiceCorePortType">
    <wsdl:operation name="searchOverDueInvoices">
      <wsdl:input message="eig:searchOverDueInvoicesRequest" />
      <wsdl:output message="eig:searchOverDueInvoicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="regenerateInvoiceCoreAndLetter">
      <wsdl:input message="eig:regenerateInvoiceCoreAndLetterRequest" />
      <wsdl:output message="eig:regenerateInvoiceCoreAndLetterResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ROIOverDueInvoiceCoreSoapBinding" type="eig:OverDueInvoiceCorePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchOverDueInvoices">
      <soap:operation soapAction="urn:eig.mckesson.com/searchOverDueInvoices" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="regenerateInvoiceCoreAndLetter">
      <soap:operation soapAction="urn:eig.mckesson.com/regenerateInvoiceCoreAndLetter" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OverdueInvoiceCoreService">
    <wsdl:documentation>

			This service implements all ROI overdue Invoice Core Service Calls with respect to
			OverDue Invoices core
    	  </wsdl:documentation>
    <wsdl:port name="OverDueInvoiceCore" binding="eig:ROIOverDueInvoiceCoreSoapBinding">
      <soap:address location="http://eigdev628:8080/roi/services/OverdueInvoiceCoreService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>