OC-113529/client/McK.EIG.ROI.Client/Web References/WebReferences.ConfigureDaysWS/ConversionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:eig="urn:eig.mckesson.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConversionService" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:complexType name="ccdConvertResult">
        <xsd:sequence>
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="pageNumber" type="xsd:int" />
          <xsd:element name="type" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CcdDocuments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ccdDocument" type="eig:CcdDocument" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CcdDocument">
        <xsd:sequence>
          <xsd:element name="fileName" type="xsd:string" />
          <xsd:element name="pageNumber" type="xsd:int" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="documentType" type="xsd:string" />
          <xsd:element name="serviceDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="receivedDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RetrieveCCDDto">
        <xsd:sequence>
          <xsd:element name="retrieveCCDKey" type="xsd:string" />
          <xsd:element name="retrieveCCDValue" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RetrieveCCDDtoList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="retrieveccddto" type="eig:RetrieveCCDDto" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CcdSourceDto">
        <xsd:sequence>
          <xsd:element name="sourceId" type="xsd:int" />
          <xsd:element name="sourceName" type="xsd:string" />
          <xsd:element name="providerName" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ccdSourceConfigDto" type="eig:CcdSourceConfigDto" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CcdSourceConfigDto">
        <xsd:sequence>
          <xsd:element name="configKey" type="xsd:string" />
          <xsd:element name="configValue" type="xsd:string" />
          <xsd:element name="configLabel" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CcdSourceDtoList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ccdSourceDto" type="eig:CcdSourceDto" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ccdConvert">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="uuid" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ccdConvertResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdConvertResult" type="eig:ccdConvertResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAvailableProviders">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getAvailableProvidersResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdSourceDtoList" type="eig:CcdSourceDtoList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExternalSources">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExternalSourcesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdSourceDtoList" type="eig:CcdSourceDtoList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSource">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdSourceDto" type="eig:CcdSourceDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createSourceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sourceId" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSource">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sourceId" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteSourceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdDeleteRes" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSource">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdSourceDto" type="eig:CcdSourceDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSourceResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdSourceDtoRes" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSourceConfig">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdSourceDto" type="eig:CcdSourceDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateSourceConfigResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdSourceConfigDtoRes" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveCCD">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="retrieveParameters" type="eig:RetrieveCCDDtoList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveCCDResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdDocuments" type="eig:CcdDocuments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testConfiguration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ccdSourceDto" type="eig:CcdSourceDto" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="testConfigurationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="testConfigurationRes" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExternalSourceNameForFacility">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="facility" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getExternalSourceNameForFacilityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="externalsourcename" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="ccdConversionRequest">
    <wsdl:part name="parameters" element="eig:ccdConvert" />
  </wsdl:message>
  <wsdl:message name="ccdConvertResponse">
    <wsdl:part name="parameters" element="eig:ccdConvertResponse" />
  </wsdl:message>
  <wsdl:message name="getAvailableProvidersRequest">
    <wsdl:part name="parameters" element="eig:getAvailableProviders" />
  </wsdl:message>
  <wsdl:message name="getAvailableProvidersResponse">
    <wsdl:part name="parameters" element="eig:getAvailableProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="getExternalSourcesRequest">
    <wsdl:part name="parameters" element="eig:getExternalSources" />
  </wsdl:message>
  <wsdl:message name="getExternalSourcesResponse">
    <wsdl:part name="parameters" element="eig:getExternalSourcesResponse" />
  </wsdl:message>
  <wsdl:message name="createSourceRequest">
    <wsdl:part name="parameters" element="eig:createSource" />
  </wsdl:message>
  <wsdl:message name="createSourceResponse">
    <wsdl:part name="parameters" element="eig:createSourceResponse" />
  </wsdl:message>
  <wsdl:message name="deleteSourceRequest">
    <wsdl:part name="parameters" element="eig:deleteSource" />
  </wsdl:message>
  <wsdl:message name="deleteSourceResponse">
    <wsdl:part name="parameters" element="eig:deleteSourceResponse" />
  </wsdl:message>
  <wsdl:message name="updateSourceRequest">
    <wsdl:part name="parameters" element="eig:updateSource" />
  </wsdl:message>
  <wsdl:message name="updateSourceResponse">
    <wsdl:part name="parameters" element="eig:updateSourceResponse" />
  </wsdl:message>
  <wsdl:message name="updateSourceConfigRequest">
    <wsdl:part name="parameters" element="eig:updateSourceConfig" />
  </wsdl:message>
  <wsdl:message name="updateSourceConfigResponse">
    <wsdl:part name="parameters" element="eig:updateSourceConfigResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveCCDRequest">
    <wsdl:part name="parameters" element="eig:retrieveCCD" />
  </wsdl:message>
  <wsdl:message name="retrieveCCDResponse">
    <wsdl:part name="parameters" element="eig:retrieveCCDResponse" />
  </wsdl:message>
  <wsdl:message name="testConfigurationRequest">
    <wsdl:part name="parameters" element="eig:testConfiguration" />
  </wsdl:message>
  <wsdl:message name="testConfigurationResponse">
    <wsdl:part name="parameters" element="eig:testConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="getExternalSourceNameForFacilityRequest">
    <wsdl:part name="parameters" element="eig:getExternalSourceNameForFacility" />
  </wsdl:message>
  <wsdl:message name="getExternalSourceNameForFacilityResponse">
    <wsdl:part name="parameters" element="eig:getExternalSourceNameForFacilityResponse" />
  </wsdl:message>
  <wsdl:portType name="CcdConversionServicePortType">
    <wsdl:operation name="ccdConvert">
      <wsdl:input message="eig:ccdConversionRequest" />
      <wsdl:output message="eig:ccdConvertResponse" />
    </wsdl:operation>
    <wsdl:operation name="getAvailableProviders">
      <wsdl:input message="eig:getAvailableProvidersRequest" />
      <wsdl:output message="eig:getAvailableProvidersResponse" />
    </wsdl:operation>
    <wsdl:operation name="getExternalSources">
      <wsdl:input message="eig:getExternalSourcesRequest" />
      <wsdl:output message="eig:getExternalSourcesResponse" />
    </wsdl:operation>
    <wsdl:operation name="createSource">
      <wsdl:input message="eig:createSourceRequest" />
      <wsdl:output message="eig:createSourceResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteSource">
      <wsdl:input message="eig:deleteSourceRequest" />
      <wsdl:output message="eig:deleteSourceResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateSource">
      <wsdl:input message="eig:updateSourceRequest" />
      <wsdl:output message="eig:updateSourceResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateSourceConfig">
      <wsdl:input message="eig:updateSourceConfigRequest" />
      <wsdl:output message="eig:updateSourceConfigResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveCCD">
      <wsdl:input message="eig:retrieveCCDRequest" />
      <wsdl:output message="eig:retrieveCCDResponse" />
    </wsdl:operation>
    <wsdl:operation name="testConfiguration">
      <wsdl:input message="eig:testConfigurationRequest" />
      <wsdl:output message="eig:testConfigurationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getExternalSourceNameForFacility">
      <wsdl:input message="eig:getExternalSourceNameForFacilityRequest" />
      <wsdl:output message="eig:getExternalSourceNameForFacilityResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CcdConversionServiceSoapBinding" type="eig:CcdConversionServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ccdConvert">
      <soap:operation soapAction="urn:eig.mckesson.com/ccdConvert" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAvailableProviders">
      <soap:operation soapAction="urn:eig.mckesson.com/getAvailableProviders" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExternalSources">
      <soap:operation soapAction="urn:eig.mckesson.com/getExternalSources" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createSource">
      <soap:operation soapAction="urn:eig.mckesson.com/createSource" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteSource">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteSource" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSource">
      <soap:operation soapAction="urn:eig.mckesson.com/updateSource" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateSourceConfig">
      <soap:operation soapAction="urn:eig.mckesson.com/updateSourceConfig" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveCCD">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveCCD" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConfiguration">
      <soap:operation soapAction="urn:eig.mckesson.com/testConfiguration" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getExternalSourceNameForFacility">
      <soap:operation soapAction="urn:eig.mckesson.com/getExternalSourceNameForFacility" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CcdConversionService">
    <wsdl:port name="ccdConvert" binding="eig:CcdConversionServiceSoapBinding">
      <soap:address location="http://eigdev628:8080/roi/services/CcdConversionService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>