src/server/WEB-INF/eig/roi/roi.admin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:eig.mckesson.com"
  name="ROIAdminService"
  xmlns:eig="urn:eig.mckesson.com"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:documentation>
    This WSDL contains the DeliveryMethod Services
  </wsdl:documentation>

  <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
      targetNamespace="urn:eig.mckesson.com">

      <xsd:import
        namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
        schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />

      <xsd:element name="transactionId" type="xsd:long" />

      <!--  Delivery Methods Complex Data Types -->
      <xsd:complexType name="DeliveryMethod" >
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="url" type="xsd:string"></xsd:element>
			<xsd:element name="default" type="xsd:boolean"></xsd:element>
			<xsd:element name="recordVersion" type="xsd:int"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="DeliveryMethodList">
        <xsd:sequence>
            <xsd:element name="deliveryMethodList" type="eig:DeliveryMethod"
                         minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

	<!--  Weights Complex Data Types -->
      <xsd:complexType name="Weight">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="recordVersion" type="xsd:int"></xsd:element>
            <xsd:element name="unitPerMeasure" type="xsd:long"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <!--  Reasons -->
      <xsd:complexType name="Reason" >
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"></xsd:element>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="displayText" type="xsd:string"></xsd:element>
            <xsd:element name="type" type="xsd:string"></xsd:element>
            <xsd:element name="status" type="xsd:int"></xsd:element>
            <xsd:element name="tpo" type="xsd:boolean"></xsd:element>
            <xsd:element name="nonTpo" type="xsd:boolean"></xsd:element>
            <xsd:element name="recordVersion" type="xsd:int"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="StatusReasons" >
        <xsd:sequence>
            <xsd:element name="statusReason" type="xsd:string" minOccurs="0" maxOccurs="unbounded" >
            </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="ReasonsList">
        <xsd:sequence>
            <xsd:element name="reasons" type="eig:Reason" minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="StatusMap">
        <xsd:sequence>
            <xsd:element name="statusId" type="xsd:int" />
            <xsd:element name="statusName" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>

	  <xsd:complexType name="RequestStatusMap">
	    <xsd:sequence>
	        <xsd:element name="statusMap" type="eig:StatusMap" minOccurs="0" maxOccurs="unbounded"/>
	        <xsd:element name="loggedStatus" type="xsd:int"/>
	    </xsd:sequence>
	  </xsd:complexType>

     <!-- RequestorType complex Data Values -->
      <xsd:complexType name="RelatedBillingTemplate" >
        <xsd:sequence>
            <xsd:element name="relatedBillingTemplateId" type="xsd:long"></xsd:element>
            <xsd:element name="billingTemplateId"  type="xsd:long"></xsd:element>
            <xsd:element name="isDefault"    type="xsd:boolean"></xsd:element>
            <xsd:element name="recordVersion"  type="xsd:int"></xsd:element>
        </xsd:sequence>
        </xsd:complexType>

      <xsd:complexType name="RelatedBillingTier" >
        <xsd:sequence>
            <xsd:element name="relatedBillingTierId" type="xsd:long"></xsd:element>
            <xsd:element name="billingTierId"  type="xsd:long"></xsd:element>
            <xsd:element name="isHPF"    type="xsd:boolean"></xsd:element>
            <xsd:element name="isHECM"    type="xsd:boolean"></xsd:element>
            <xsd:element name="isCEVA"    type="xsd:boolean"></xsd:element>
            <xsd:element name="recordVersion"  type="xsd:int"></xsd:element>
            <xsd:element name="isSupplemental"    type="xsd:boolean"></xsd:element>
        </xsd:sequence>
        </xsd:complexType>

        <xsd:complexType name="RequestorType" >
        <xsd:sequence>
            <xsd:element name="requestorTypeId" type="xsd:long"></xsd:element>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="description" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="rv" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="rvDesc" type="xsd:string" minOccurs="0"></xsd:element>
            <xsd:element name="recordVersion" type="xsd:int"></xsd:element>
            <xsd:element name="relatedBillingTemplate" type="eig:RelatedBillingTemplate"
                         minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="relatedBillingTier" type="eig:RelatedBillingTier"
                         minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="billingTemplateIds" type="xsd:long"
                         minOccurs="0" maxOccurs="unbounded" nillable="true"></xsd:element>
            <xsd:element name="isAssociated" type="xsd:boolean"/>
             <xsd:element name="salesTax" type="xsd:string" minOccurs="0"></xsd:element>
             <xsd:element name="invoiceOptional" type="xsd:string" minOccurs="0"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="RequestorTypeList" >
        <xsd:sequence>
            <xsd:element name="requestorTypes" type="eig:RequestorType"
                         minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <!--  Disclosure document types -->

      <xsd:complexType name="Designation">
        <xsd:sequence>
            <xsd:element name="type" type="xsd:string"></xsd:element>
            <xsd:element name="docTypeIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded"></xsd:element>
            <xsd:element name="muDocTypes" type="eig:MUDocTypeDto" minOccurs="0" maxOccurs="unbounded"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="DocTypeDesignations">
        <xsd:sequence>
            <xsd:element name="designation"  type="eig:Designation" minOccurs="0" maxOccurs="unbounded"></xsd:element>
         </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="MUDocTypeDto">
        <xsd:sequence>
            <xsd:element name="muDocId" type="xsd:long"></xsd:element>
            <xsd:element name="muDocName" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

       <!--  Letter Template -->
      <xsd:complexType name="LetterTemplate" >
        <xsd:sequence>
            <xsd:element name="letterTemplateId" type="xsd:long"></xsd:element>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="description" type="xsd:string"></xsd:element>
            <xsd:element name="isDefault" type="xsd:boolean"></xsd:element>
            <xsd:element name="letterType" type="xsd:string"></xsd:element>
            <xsd:element name="uploadFile" type="xsd:string"></xsd:element>
            <xsd:element name="docId" type="xsd:long"></xsd:element>
            <xsd:element name="recordVersion" type="xsd:int"></xsd:element>
            <xsd:element name="hasNotes" type="xsd:boolean"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="LetterTemplateList">
        <xsd:sequence>
            <xsd:element name="letterTemplateList" type="eig:LetterTemplate"
                         minOccurs="0" maxOccurs="unbounded">
            </xsd:element>
        </xsd:sequence>
      </xsd:complexType>

        <!-- Note -->
       <xsd:complexType name="Note">
        <xsd:sequence>
            <xsd:element name="noteId" type="xsd:long"></xsd:element>
            <xsd:element name="name" type="xsd:string"></xsd:element>
            <xsd:element name="description" type="xsd:string"></xsd:element>
            <xsd:element name="recordVersion" type="xsd:int"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="NotesList">
        <xsd:sequence>
            <xsd:element name="noteDetails"  type="eig:Note" minOccurs="0" maxOccurs="unbounded"></xsd:element>
         </xsd:sequence>
      </xsd:complexType>

      <!-- SSNMask -->
       <xsd:complexType name="SSNMask">
        <xsd:sequence>
            <xsd:element name="applySSNMask" type="xsd:boolean"></xsd:element>
            <xsd:element name="recordVersion" type="xsd:int"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>

       <xsd:complexType name="attLocation">
       	<xsd:sequence>
       		<xsd:element name="attachmentID" type="xsd:long"></xsd:element>
       		<xsd:element name="attachmentLocation"
       			type="xsd:string">
       		</xsd:element>
       	</xsd:sequence>
       </xsd:complexType>

       <xsd:simpleType name="FreeFormFacilities">
          <xsd:list itemType="xsd:string"/>
      </xsd:simpleType>

     <xsd:complexType name="ROIAppData">
      <xsd:sequence>
	        <xsd:element name="hasSSNMasking" type="xsd:boolean"></xsd:element>
	        <xsd:element  name="freeFormFacilities" type="eig:FreeFormFacilities" minOccurs="0" maxOccurs="unbounded" nillable="true" />
	        <xsd:element  name="invoiceDueDays" type="xsd:int" minOccurs="0" maxOccurs="unbounded" />   
        </xsd:sequence>
     </xsd:complexType>

     <!--Output Server Property Complex Data Types-->
      <xsd:complexType name="OutputServerProperties" >
        <xsd:sequence>
            <xsd:element name="enabled" type="xsd:boolean"></xsd:element>
            <xsd:element name="hostName" type="xsd:string"></xsd:element>
            <xsd:element name="port" type="xsd:long"></xsd:element>
            <xsd:element name="protocol" type="xsd:string"></xsd:element>
        </xsd:sequence>
      </xsd:complexType>
      
      <!--CountryCode Configure Complex Data Types-->      
      <xsd:complexType name="Country" >
	      <xsd:sequence>
	        <xsd:element name="countryCode" type="xsd:string"></xsd:element>
	        <xsd:element name="countryName" type="xsd:string"></xsd:element>
	        <xsd:element name="defaultCountry" type="xsd:boolean"></xsd:element>
	        <xsd:element name="countrySeq" type="xsd:long"></xsd:element>
	     </xsd:sequence>
     </xsd:complexType>

     <xsd:complexType name="DocTypeAudit" >
     <xsd:sequence>
       <xsd:element name="docType" type="xsd:string"></xsd:element>
       <xsd:element name="docName" type="xsd:string"></xsd:element>
       <xsd:element name="fromValue" type="xsd:string"></xsd:element>
       <xsd:element name="toValue" type="xsd:string"></xsd:element>
       <xsd:element name="codeSetName" type="xsd:string"></xsd:element>
       <xsd:element name="nonDocumentTypeChangeAudit" type="xsd:string"></xsd:element>
    </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="DocTypeAuditList">
    <xsd:sequence>
            <xsd:element  name="docTypeAudit" type="eig:DocTypeAudit" minOccurs="0" maxOccurs="unbounded" nillable="true" /> 
      </xsd:sequence>
    </xsd:complexType>
    
    <!--Gender Complex Data Types-->      
    <xsd:complexType name="Gender" >
	      <xsd:sequence>
	        <xsd:element name="code" type="xsd:string"></xsd:element>
	        <xsd:element name="description" type="xsd:string"></xsd:element>
	     </xsd:sequence>
    </xsd:complexType>
     
    <xsd:complexType name="GenderList">
	    <xsd:sequence>
	            <xsd:element  name="genderDetails" type="eig:Gender" minOccurs="0" maxOccurs="unbounded" nillable="true" /> 
	    </xsd:sequence>
    </xsd:complexType>
     
	 <!--Delivery Method elements-->
      <xsd:element name="createDeliveryMethod">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deliveryMethodDetails" type="eig:DeliveryMethod" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="createDeliveryMethodResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deliveryMethodId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveDeliveryMethod">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deliveryMethodId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveDeliveryMethodResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deliveryMethodDetails" type="eig:DeliveryMethod" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllDeliveryMethods">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="detailedFetch" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllDeliveryMethodsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deliveryMethods" type="eig:DeliveryMethodList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateDeliveryMethod">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deliveryMethodDetails" type="eig:DeliveryMethod" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateDeliveryMethodResponse">
        <xsd:complexType>
          <xsd:sequence>
          <xsd:element name="deliveryMethodDetails" type="eig:DeliveryMethod" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteDeliveryMethod">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deliveryMethodId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteDeliveryMethodResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

	<!--Weights elements-->
     <xsd:element name="updateWeight">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="weightDetails" type="eig:Weight" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    <xsd:element name="updateWeightResponse">
        <xsd:complexType>
          <xsd:sequence>
          <xsd:element name="weightDetails" type="eig:Weight" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    <xsd:element name="retrieveWeight">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveWeightResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="weightDetails" type="eig:Weight" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!--Reason elements-->
      <xsd:element name="createReason">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reason" type="eig:Reason" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="createReasonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reasonId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveReason">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reasonId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveReasonResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reason" type="eig:Reason" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllReasonsByType">
        <xsd:complexType>
          <xsd:sequence>
             <xsd:element name="type" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllReasonsByTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reasons" type="eig:ReasonsList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateReason">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reason" type="eig:Reason" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateReasonResponse">
        <xsd:complexType>
          <xsd:sequence>
              <xsd:element name="reason" type="eig:Reason" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteReason">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="reasonId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteReasonResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllRequestStatus">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllRequestStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestStatusMap" type="eig:RequestStatusMap" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>


    <xsd:element name="retrieveReasonsByStatus">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="statusId" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveReasonsByStatusResponse">
        <xsd:complexType>
          <xsd:sequence>
          <xsd:element name="statusReason" type="eig:StatusReasons"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    <!-- RequestorType elements -->

     <xsd:element name="createRequestorType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestorType" type="eig:RequestorType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="createRequestorTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestorType" type="eig:RequestorType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="retrieveRequestorType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestorTypeId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveRequestorTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestorType" type="eig:RequestorType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="retrieveAllRequestorTypes">
        <xsd:complexType>
          <xsd:sequence>
             <xsd:element name="loadAssociations" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllRequestorTypesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestorTypes" type="eig:RequestorTypeList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="updateRequestorType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestorType" type="eig:RequestorType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateRequestorTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestorType" type="eig:RequestorType" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

     <xsd:element name="deleteRequestorType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestorTypeId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteRequestorTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

     <!--  Disclosure Documents  -->

       <xsd:element name="designateDocumentTypes">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codeSetId"   type="xsd:long" />
            <xsd:element name="docTypeDesignation" type="eig:DocTypeDesignations"/>
            <xsd:element name="docTypeAuditList" type="eig:DocTypeAuditList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="designateDocumentTypesResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveDesignations">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="codeSetId" type="xsd:long" />
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveDesignationsResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="docTypeDesignation" type="eig:DocTypeDesignations"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="retrieveMUDocTypes">
        <xsd:complexType>
            <xsd:sequence>
               
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveMUDocTypesResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="mudoclist" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveDocTypeIdsByDesignation">
        <xsd:complexType>
            <xsd:sequence>
            <xsd:element name="type" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveDocTypeIdsByDesignationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="designation" type="eig:Designation"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!--  Letter Template Elements -->

     <xsd:element name="createLetterTemplate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="letterTemplateDetails" type="eig:LetterTemplate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="createLetterTemplateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="letterTemplateId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

        <xsd:element name="updateLetterTemplate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="letterTemplateDetails" type="eig:LetterTemplate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateLetterTemplateResponse">
        <xsd:complexType>
          <xsd:sequence>
          <xsd:element name="letterTemplateDetails" type="eig:LetterTemplate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteLetterTemplate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="letterTemplateId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteLetterTemplateResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="retrieveLetterTemplate">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="letterTemplateId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveLetterTemplateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="letterTemplateDetails" type="eig:LetterTemplate" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

     <xsd:element name="retrieveAllLetterTemplates">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllLetterTemplatesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="letterTemplates" type="eig:LetterTemplateList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="hasLetterTemplate">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="letterType" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="hasLetterTemplateResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="hasLetterTemplate" type="xsd:boolean"/>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- Note Elements -->

       <xsd:element name="createNote">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="noteDetails" type="eig:Note" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="createNoteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="noteId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="updateNote">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="noteDetails" type="eig:Note" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateNoteResponse">
        <xsd:complexType>
          <xsd:sequence>
          <xsd:element name="noteDetails" type="eig:Note" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="deleteNote">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="noteId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="deleteNoteResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="retrieveNote">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="noteId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveNoteResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="noteDetails" type="eig:Note" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllNotes">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAllNotesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="notes" type="eig:NotesList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

       <xsd:element name="retrieveSSNMask">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveSSNMaskResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="maskDetails" type="eig:SSNMask"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveROIAppData">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveROIAppDataResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="roiAppData" type="eig:ROIAppData"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

     <xsd:element name="updateSSNMask">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="maskDetails" type="eig:SSNMask"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateSSNMaskResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="maskDetails" type="eig:SSNMask"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="getUser">
      	<xsd:complexType>
      		<xsd:sequence>
      			<xsd:element name="userId" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getUserResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="user" type="eig:user"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>

      <xsd:element name="enableOutputService">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="enabled" type="xsd:boolean"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="enableOutputServiceResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveOutputServerProperties">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveOutputServerPropertiesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outputServerProperties" type="eig:OutputServerProperties"></xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="saveOutputServerProperties">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="outputServerProperties" type="eig:OutputServerProperties"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="saveOutputServerPropertiesResponse">
        <xsd:complexType>
          <xsd:sequence>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAttachmentLocation">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="retrieveAttachmentLocationResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="attachmentLocation"     type="eig:attLocation"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateAttachmentLocation">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="attachmentLocation"     type="eig:attLocation"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="updateAttachmentLocationResponse">
        <xsd:complexType>
            <xsd:sequence>
            </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <!--  CountryCode Configure Elements -->
          
     <xsd:element name="updateCountryCode">
       <xsd:complexType>
           <xsd:sequence>
               <xsd:element name="country" type="eig:Country"></xsd:element>
           </xsd:sequence>
       </xsd:complexType>
     </xsd:element>

     <xsd:element name="updateCountryCodeResponse">
       <xsd:complexType>
           <xsd:sequence>
           </xsd:sequence>
       </xsd:complexType>
     </xsd:element>
     
     <xsd:element name="retrieveAllCountries">
     <xsd:complexType>
         <xsd:sequence>            
         </xsd:sequence>
     </xsd:complexType>
   </xsd:element>

   <xsd:element name="retrieveAllCountriesResponse">
     <xsd:complexType>
         <xsd:sequence>
         	<xsd:element name="country" type="eig:Country" minOccurs="0" maxOccurs="unbounded"></xsd:element>
         </xsd:sequence>
     </xsd:complexType>
   </xsd:element> 
   
   <!-- Configure Unbillable Request -->
   <xsd:element name="updateUnbillableRequestFlag">
	   <xsd:complexType>
	       <xsd:sequence>
	           <xsd:element name="checked" type="xsd:boolean"></xsd:element>
	       </xsd:sequence>
	   </xsd:complexType>
   </xsd:element>

   <xsd:element name="updateUnbillableRequestFlagResponse">
   		<xsd:complexType>
   			<xsd:sequence>
   			</xsd:sequence>
   		</xsd:complexType>
   </xsd:element>
   
   <xsd:element name="retrieveUnbillableRequestFlag">
	   <xsd:complexType>
	       <xsd:sequence>
	       </xsd:sequence>
	   </xsd:complexType>
	 </xsd:element>
	
	 <xsd:element name="retrieveUnbillableRequestFlagResponse">
	   <xsd:complexType>
	       <xsd:sequence>
	           <xsd:element name="checked" type="xsd:boolean"/>
	       </xsd:sequence>
	   </xsd:complexType>
	 </xsd:element>
	 
	 <xsd:element name="retrieveAllGenders">
     <xsd:complexType>
         <xsd:sequence>            
         </xsd:sequence>
     </xsd:complexType>
   </xsd:element>

   <xsd:element name="retrieveAllGendersResponse">
     <xsd:complexType>
         <xsd:sequence>
         	<xsd:element name="genderList" type="eig:GenderList" />
         </xsd:sequence>
     </xsd:complexType>
   </xsd:element> 
    
      <!-- For getUser service -->
      <xsd:complexType name="user">
			<xsd:sequence>

					<xsd:element maxOccurs="1" minOccurs="0"
						name="fullName" type="xsd:string" />

					<xsd:element maxOccurs="1" minOccurs="1"
						name="loginId" type="xsd:string" />

					<xsd:element maxOccurs="1" minOccurs="1"
						name="validateCode" type="xsd:int" />

					<xsd:element maxOccurs="1" minOccurs="0" name="idle"
						type="xsd:int" />

					<xsd:element maxOccurs="1" minOccurs="0"
						name="instanceId" type="xsd:int" />

					<!-- xsd:element maxOccurs="1" minOccurs="0"
						name="facilities" type="eig:facilities" /-->

					<xsd:element maxOccurs="1" minOccurs="0"
						name="securities" type="eig:securities" />

				<!-- xsd:element maxOccurs="1" minOccurs="0"
					name="recordViews" type="eig:recordViews" / -->

			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="security">
			<xsd:sequence>
				<xsd:element maxOccurs="1" minOccurs="1"
					name="facility" type="xsd:string" />

				<xsd:element maxOccurs="1" minOccurs="0"
					name="codes" type="eig:codes" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="codes">
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0"
					name="code" type="xsd:int" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:complexType name="securities">
			<xsd:sequence>
				<xsd:element maxOccurs="unbounded" minOccurs="0"
					name="security" type="eig:security" />
			</xsd:sequence>
		</xsd:complexType>

		<xsd:element name="signinResponse">
			<xsd:complexType>
				<xsd:sequence>
					<xsd:element name="user" type="eig:user" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<!-- Invoice Due Days data types -->
		<xsd:complexType name="InvoiceDue">
	        <xsd:sequence>
	            <xsd:element name="id" type="xsd:long"></xsd:element>
	            <xsd:element name="recordVersion" type="xsd:int"></xsd:element>
	            <xsd:element name="invoiceDueDays" type="xsd:int"></xsd:element>
	            <xsd:element name="customDate" type="xsd:boolean"></xsd:element>
	        </xsd:sequence>
      	</xsd:complexType>

      	<xsd:element name="updateInvoiceDue">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="InvoiceDue" type="eig:InvoiceDue" />
          </xsd:sequence>
        </xsd:complexType>
       </xsd:element>

	    <xsd:element name="updateInvoiceDueResponse">
	        <xsd:complexType>
	          <xsd:sequence>
	          <xsd:element name="InvoiceDue" type="eig:InvoiceDue" />
	          </xsd:sequence>
	        </xsd:complexType>
	      </xsd:element>

	    <xsd:element name="retrieveInvoiceDue">
	        <xsd:complexType>
	          <xsd:sequence>
	          </xsd:sequence>
	        </xsd:complexType>
	      </xsd:element>

	      <xsd:element name="retrieveInvoiceDueResponse">
	        <xsd:complexType>
	          <xsd:sequence>
	            <xsd:element name="InvoiceDue" type="eig:InvoiceDue" />
	          </xsd:sequence>
	        </xsd:complexType>
	      </xsd:element>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>

    <!--Delivery Method Messages-->

  <wsdl:message name="createDeliveryMethod">
    <wsdl:part name="parameters" element="eig:createDeliveryMethod" />
  </wsdl:message>

  <wsdl:message name="createDeliveryMethodResponse">
    <wsdl:part name="parameters" element="eig:createDeliveryMethodResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveDeliveryMethodRequest">
    <wsdl:part name="parameters" element="eig:retrieveDeliveryMethod" />
  </wsdl:message>

  <wsdl:message name="retrieveDeliveryMethodResponse">
    <wsdl:part name="parameters" element="eig:retrieveDeliveryMethodResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveAllDeliveryMethodsRequest">
    <wsdl:part name="parameters" element="eig:retrieveAllDeliveryMethods" />
  </wsdl:message>

  <wsdl:message name="retrieveAllDeliveryMethodsResponse">
    <wsdl:part name="parameters" element="eig:retrieveAllDeliveryMethodsResponse" />
  </wsdl:message>

  <wsdl:message name="updateDeliveryMethodRequest">
    <wsdl:part name="parameters" element="eig:updateDeliveryMethod" />
  </wsdl:message>

  <wsdl:message name="updateDeliveryMethodResponse">
    <wsdl:part name="parameters" element="eig:updateDeliveryMethodResponse" />
  </wsdl:message>

  <wsdl:message name="deleteDeliveryMethodRequest">
    <wsdl:part name="parameters" element="eig:deleteDeliveryMethod" />
  </wsdl:message>

  <wsdl:message name="deleteDeliveryMethodResponse">
    <wsdl:part name="parameters" element="eig:deleteDeliveryMethodResponse" />
  </wsdl:message>

	<!--Weight Messages-->
  <wsdl:message name="updateWeightRequest">
    <wsdl:part name="parameters" element="eig:updateWeight" />
  </wsdl:message>

  <wsdl:message name="updateWeightResponse">
    <wsdl:part name="parameters" element="eig:updateWeightResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveWeightRequest">
    <wsdl:part name="parameters" element="eig:retrieveWeight" />
  </wsdl:message>

  <wsdl:message name="retrieveWeightResponse">
    <wsdl:part name="parameters" element="eig:retrieveWeightResponse" />
  </wsdl:message>

  <!-- Reason messages-->
  <wsdl:message name="createReasonRequest">
    <wsdl:part name="parameters" element="eig:createReason" />
  </wsdl:message>

  <wsdl:message name="createReasonResponse">
    <wsdl:part name="parameters" element="eig:createReasonResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveReasonRequest">
    <wsdl:part name="parameters" element="eig:retrieveReason" />
  </wsdl:message>

  <wsdl:message name="retrieveReasonResponse">
    <wsdl:part name="parameters" element="eig:retrieveReasonResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveAllReasonsByTypeRequest">
    <wsdl:part name="parameters" element="eig:retrieveAllReasonsByType" />
  </wsdl:message>

  <wsdl:message name="retrieveAllReasonsByTypeResponse">
    <wsdl:part name="parameters" element="eig:retrieveAllReasonsByTypeResponse" />
  </wsdl:message>

  <wsdl:message name="updateReasonRequest">
    <wsdl:part name="parameters" element="eig:updateReason" />
  </wsdl:message>

  <wsdl:message name="updateReasonResponse">
    <wsdl:part name="parameters" element="eig:updateReasonResponse" />
  </wsdl:message>

  <wsdl:message name="deleteReasonRequest">
    <wsdl:part name="parameters" element="eig:deleteReason" />
  </wsdl:message>

  <wsdl:message name="deleteReasonResponse">
    <wsdl:part name="parameters" element="eig:deleteReasonResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveAllRequestStatusRequest">
    <wsdl:part name="parameters" element="eig:retrieveAllRequestStatus" />
  </wsdl:message>

  <wsdl:message name="retrieveAllRequestStatusResponse">
    <wsdl:part name="parameters" element="eig:retrieveAllRequestStatusResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveReasonsByStatusRequest">
    <wsdl:part name="parameters" element="eig:retrieveReasonsByStatus" />
  </wsdl:message>

  <wsdl:message name="retrieveReasonsByStatusResponse">
    <wsdl:part name="parameters" element="eig:retrieveReasonsByStatusResponse" />
  </wsdl:message>

  <!-- Requestor Type messages-->

   <wsdl:message name="createRequestorTypeRequest">
    <wsdl:part name="parameters" element="eig:createRequestorType" />
  </wsdl:message>

  <wsdl:message name="createRequestorTypeResponse">
    <wsdl:part name="parameters" element="eig:createRequestorTypeResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveRequestorTypeRequest">
    <wsdl:part name="parameters" element="eig:retrieveRequestorType" />
  </wsdl:message>

  <wsdl:message name="retrieveRequestorTypeResponse">
    <wsdl:part name="parameters" element="eig:retrieveRequestorTypeResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveAllRequestorTypesRequest">
    <wsdl:part name="parameters" element="eig:retrieveAllRequestorTypes" />
  </wsdl:message>

  <wsdl:message name="retrieveAllRequestorTypesResponse">
    <wsdl:part name="parameters" element="eig:retrieveAllRequestorTypesResponse" />
  </wsdl:message>

  <wsdl:message name="updateRequestorTypeRequest">
    <wsdl:part name="parameters" element="eig:updateRequestorType" />
  </wsdl:message>

  <wsdl:message name="updateRequestorTypeResponse">
    <wsdl:part name="parameters" element="eig:updateRequestorTypeResponse" />
  </wsdl:message>

  <wsdl:message name="deleteRequestorTypeRequest">
    <wsdl:part name="parameters" element="eig:deleteRequestorType" />
  </wsdl:message>

  <wsdl:message name="deleteRequestorTypeResponse">
    <wsdl:part name="parameters" element="eig:deleteRequestorTypeResponse" />
  </wsdl:message>

  <!-- Disclosure documents Messages -->

  <wsdl:message name="designateDocumentTypesRequest">
    <wsdl:part name="parameters" element="eig:designateDocumentTypes" />
  </wsdl:message>

  <wsdl:message name="designateDocumentTypesResponse">
    <wsdl:part name="parameters" element="eig:designateDocumentTypesResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveDesignationsRequest">
    <wsdl:part name="parameters" element="eig:retrieveDesignations" />
  </wsdl:message>

  <wsdl:message name="retrieveDesignationsResponse">
    <wsdl:part name="parameters" element="eig:retrieveDesignationsResponse" />
  </wsdl:message>
  
  <wsdl:message name="retrieveMUDocTypesRequest">
    <wsdl:part name="parameters" element="eig:retrieveMUDocTypes" />
  </wsdl:message>

  <wsdl:message name="retrieveMUDocTypesResponse">
    <wsdl:part name="parameters" element="eig:retrieveMUDocTypesResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveDocTypeIdsByDesignationRequest">
    <wsdl:part name="parameters" element="eig:retrieveDocTypeIdsByDesignation" />
  </wsdl:message>

  <wsdl:message name="retrieveDocTypeIdsByDesignationResponse">
    <wsdl:part name="parameters" element="eig:retrieveDocTypeIdsByDesignationResponse" />
  </wsdl:message>

  <!--  Letter Template message -->

  <wsdl:message name="createLetterTemplate">
    <wsdl:part name="parameters" element="eig:createLetterTemplate" />
  </wsdl:message>

  <wsdl:message name="createLetterTemplateResponse">
    <wsdl:part name="parameters" element="eig:createLetterTemplateResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveLetterTemplateRequest">
    <wsdl:part name="parameters" element="eig:retrieveLetterTemplate" />
  </wsdl:message>

  <wsdl:message name="retrieveLetterTemplateResponse">
    <wsdl:part name="parameters" element="eig:retrieveLetterTemplateResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveAllLetterTemplatesRequest">
    <wsdl:part name="parameters" element="eig:retrieveAllLetterTemplates" />
  </wsdl:message>

  <wsdl:message name="retrieveAllLetterTemplatesResponse">
    <wsdl:part name="parameters" element="eig:retrieveAllLetterTemplatesResponse" />
  </wsdl:message>

  <wsdl:message name="updateLetterTemplateRequest">
    <wsdl:part name="parameters" element="eig:updateLetterTemplate" />
  </wsdl:message>

  <wsdl:message name="updateLetterTemplateResponse">
    <wsdl:part name="parameters" element="eig:updateLetterTemplateResponse" />
  </wsdl:message>

  <wsdl:message name="deleteLetterTemplateRequest">
    <wsdl:part name="parameters" element="eig:deleteLetterTemplate" />
  </wsdl:message>

  <wsdl:message name="deleteLetterTemplateResponse">
    <wsdl:part name="parameters" element="eig:deleteLetterTemplateResponse" />
  </wsdl:message>

  <wsdl:message name="hasLetterTemplateRequest">
    <wsdl:part name="parameters" element="eig:hasLetterTemplate"/>
  </wsdl:message>

  <wsdl:message name="hasLetterTemplateResponse">
    <wsdl:part name="parameters" element="eig:hasLetterTemplateResponse"/>
  </wsdl:message>

   <wsdl:message name="createNote">
    <wsdl:part name="parameters" element="eig:createNote" />
  </wsdl:message>

  <wsdl:message name="createNoteResponse">
    <wsdl:part name="parameters" element="eig:createNoteResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveNoteRequest">
    <wsdl:part name="parameters" element="eig:retrieveNote" />
  </wsdl:message>

  <wsdl:message name="retrieveNoteResponse">
    <wsdl:part name="parameters" element="eig:retrieveNoteResponse" />
  </wsdl:message>

   <wsdl:message name="retrieveAllNotesRequest">
    <wsdl:part name="parameters" element="eig:retrieveAllNotes" />
  </wsdl:message>

  <wsdl:message name="retrieveAllNotesResponse">
    <wsdl:part name="parameters" element="eig:retrieveAllNotesResponse" />
  </wsdl:message>

   <wsdl:message name="updateNoteRequest">
    <wsdl:part name="parameters" element="eig:updateNote" />
  </wsdl:message>

  <wsdl:message name="updateNoteResponse">
    <wsdl:part name="parameters" element="eig:updateNoteResponse" />
  </wsdl:message>

  <wsdl:message name="deleteNoteRequest">
    <wsdl:part name="parameters" element="eig:deleteNote" />
  </wsdl:message>

  <wsdl:message name="deleteNoteResponse">
    <wsdl:part name="parameters" element="eig:deleteNoteResponse" />
  </wsdl:message>

  <wsdl:message name="retrieveSSNMaskRequest">
    <wsdl:part name="parameters" element="eig:retrieveSSNMask"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="retrieveSSNMaskResponse">
    <wsdl:part name="parameters" element="eig:retrieveSSNMaskResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="retrieveROIAppDataRequest">
    <wsdl:part name="parameters" element="eig:retrieveROIAppData"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="retrieveROIAppDataResponse">
    <wsdl:part name="parameters" element="eig:retrieveROIAppDataResponse"></wsdl:part>
  </wsdl:message>

   <wsdl:message name="updateSSNMaskRequest">
    <wsdl:part name="parameters" element="eig:updateSSNMask"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="updateSSNMaskResponse">
    <wsdl:part name="parameters" element="eig:updateSSNMaskResponse"></wsdl:part>
  </wsdl:message>

  <wsdl:message name="getUserRequest">
  	<wsdl:part name="parameters" element="eig:getUser"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getUserResponse">
  	<wsdl:part name="parameters" element="eig:getUserResponse"></wsdl:part>
  </wsdl:message>
  <!-- Output Server Property Messages -->
  <wsdl:message name="enableOutputServiceRequest">
    <wsdl:part name="parameters" element="eig:enableOutputService"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="enableOutputServiceResponse">
    <wsdl:part name="parameters" element="eig:enableOutputServiceResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveOutputServerPropertiesRequest">
    <wsdl:part name="parameters" element="eig:retrieveOutputServerProperties"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveOutputServerPropertiesResponse">
    <wsdl:part name="parameters" element="eig:retrieveOutputServerPropertiesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveOutputServerPropertiesRequest">
    <wsdl:part name="parameters" element="eig:saveOutputServerProperties"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveOutputServerPropertiesResponse">
    <wsdl:part name="parameters" element="eig:saveOutputServerPropertiesResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAttachmentLocationRequest">
    <wsdl:part name="parameters" element="eig:retrieveAttachmentLocation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="retrieveAttachmentLocationResponse">
    <wsdl:part name="parameters" element="eig:retrieveAttachmentLocationResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAttachmentLocationRequest">
    <wsdl:part name="parameters" element="eig:updateAttachmentLocation"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateAttachmentLocationResponse">
    <wsdl:part name="parameters" element="eig:updateAttachmentLocationResponse"></wsdl:part>
  </wsdl:message>

  <!--Invoice Due Date Messages-->
  <wsdl:message name="updateInvoiceDueRequest">
    <wsdl:part name="parameters" element="eig:updateInvoiceDue" />
  </wsdl:message>
  <wsdl:message name="updateInvoiceDueResponse">
    <wsdl:part name="parameters" element="eig:updateInvoiceDueResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveInvoiceDueRequest">
    <wsdl:part name="parameters" element="eig:retrieveInvoiceDue" />
  </wsdl:message>
  <wsdl:message name="retrieveInvoiceDueResponse">
    <wsdl:part name="parameters" element="eig:retrieveInvoiceDueResponse" />
  </wsdl:message>

  <!--  CountryCode Configure Messages -->
  <wsdl:message name="updateCountryCodeRequest">
    <wsdl:part name="parameters" element="eig:updateCountryCode" />
  </wsdl:message>
  <wsdl:message name="updateCountryCodeResponse">
    <wsdl:part name="parameters" element="eig:updateCountryCodeResponse" />
  </wsdl:message>
  
  	<wsdl:message name="retrieveAllCountriesRequest">
  		<wsdl:part name="parameters" element="eig:retrieveAllCountries" />
  	</wsdl:message>
  	<wsdl:message name="retrieveAllCountriesResponse">
  		<wsdl:part name="parameters" element="eig:retrieveAllCountriesResponse" />
  	</wsdl:message> 
  	
  	<!-- Configure Unbillable Request Messages -->
  	<wsdl:message name="updateUnbillableRequestFlagRequest">
	    <wsdl:part name="parameters" element="eig:updateUnbillableRequestFlag"></wsdl:part>
	  </wsdl:message>
	<wsdl:message name="updateUnbillableRequestFlagResponse">
	    <wsdl:part name="parameters" element="eig:updateUnbillableRequestFlagResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="retrieveUnbillableRequestFlagRequest">
    	<wsdl:part name="parameters" element="eig:retrieveUnbillableRequestFlag"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="retrieveUnbillableRequestFlagResponse">
    	<wsdl:part name="parameters" element="eig:retrieveUnbillableRequestFlagResponse"></wsdl:part>
    </wsdl:message>

	<wsdl:message name="retrieveAllGendersRequest">
  		<wsdl:part name="parameters" element="eig:retrieveAllGenders" />
  	</wsdl:message>
  	<wsdl:message name="retrieveAllGendersResponse">
  		<wsdl:part name="parameters" element="eig:retrieveAllGendersResponse" />
  	</wsdl:message> 
  	
  <wsdl:portType name="ROIAdminPortType">
	<!--Delivery Method Operations-->

    <wsdl:operation name="createDeliveryMethod">
      <wsdl:input  message="eig:createDeliveryMethod" />
      <wsdl:output message="eig:createDeliveryMethodResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveDeliveryMethod">
      <wsdl:input  message="eig:retrieveDeliveryMethodRequest" />
      <wsdl:output message="eig:retrieveDeliveryMethodResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveAllDeliveryMethods">
      <wsdl:input  message="eig:retrieveAllDeliveryMethodsRequest" />
      <wsdl:output message="eig:retrieveAllDeliveryMethodsResponse" />
    </wsdl:operation>


    <wsdl:operation name="updateDeliveryMethod">
      <wsdl:input  message="eig:updateDeliveryMethodRequest" />
      <wsdl:output message="eig:updateDeliveryMethodResponse" />
    </wsdl:operation>

     <wsdl:operation name="deleteDeliveryMethod">
      <wsdl:input  message="eig:deleteDeliveryMethodRequest" />
      <wsdl:output message="eig:deleteDeliveryMethodResponse" />
    </wsdl:operation>

	<!--Weight Operations-->

     <wsdl:operation name="updateWeight">
      <wsdl:input  message="eig:updateWeightRequest" />
      <wsdl:output message="eig:updateWeightResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveWeight">
      <wsdl:input  message="eig:retrieveWeightRequest" />
      <wsdl:output message="eig:retrieveWeightResponse" />
    </wsdl:operation>

    <!-- Reason operations-->

    <wsdl:operation name="createReason">
      <wsdl:input  message="eig:createReasonRequest" />
      <wsdl:output message="eig:createReasonResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveReason">
      <wsdl:input  message="eig:retrieveReasonRequest" />
      <wsdl:output message="eig:retrieveReasonResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveAllReasonsByType">
      <wsdl:input  message="eig:retrieveAllReasonsByTypeRequest" />
      <wsdl:output message="eig:retrieveAllReasonsByTypeResponse" />
    </wsdl:operation>

    <wsdl:operation name="updateReason">
      <wsdl:input  message="eig:updateReasonRequest" />
      <wsdl:output message="eig:updateReasonResponse" />
    </wsdl:operation>

     <wsdl:operation name="deleteReason">
      <wsdl:input  message="eig:deleteReasonRequest" />
      <wsdl:output message="eig:deleteReasonResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveAllRequestStatus">
      <wsdl:input  message="eig:retrieveAllRequestStatusRequest" />
      <wsdl:output message="eig:retrieveAllRequestStatusResponse" />
    </wsdl:operation>

     <wsdl:operation name="retrieveReasonsByStatus">
      <wsdl:input  message="eig:retrieveReasonsByStatusRequest" />
      <wsdl:output message="eig:retrieveReasonsByStatusResponse" />
    </wsdl:operation>

    <!-- RequestorType operations -->

    <wsdl:operation name="createRequestorType">
      <wsdl:input  message="eig:createRequestorTypeRequest" />
      <wsdl:output message="eig:createRequestorTypeResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveRequestorType">
      <wsdl:input  message="eig:retrieveRequestorTypeRequest" />
      <wsdl:output message="eig:retrieveRequestorTypeResponse" />
    </wsdl:operation>

     <wsdl:operation name="retrieveAllRequestorTypes">
      <wsdl:input  message="eig:retrieveAllRequestorTypesRequest" />
      <wsdl:output message="eig:retrieveAllRequestorTypesResponse" />
    </wsdl:operation>

    <wsdl:operation name="updateRequestorType">
      <wsdl:input  message="eig:updateRequestorTypeRequest" />
      <wsdl:output message="eig:updateRequestorTypeResponse" />
    </wsdl:operation>

    <wsdl:operation name="deleteRequestorType">
      <wsdl:input  message="eig:deleteRequestorTypeRequest" />
      <wsdl:output message="eig:deleteRequestorTypeResponse" />
    </wsdl:operation>

    <!--Disclosure DocumentType Operations-->

    <wsdl:operation name="designateDocumentTypes">
      <wsdl:input  message="eig:designateDocumentTypesRequest"/>
      <wsdl:output message="eig:designateDocumentTypesResponse"/>
    </wsdl:operation>

    <wsdl:operation name="retrieveMUDocTypes">
      <wsdl:input  message="eig:retrieveMUDocTypesRequest"/>
      <wsdl:output message="eig:retrieveMUDocTypesResponse"/>
    </wsdl:operation>
    
    <wsdl:operation name="retrieveDesignations">
      <wsdl:input  message="eig:retrieveDesignationsRequest"/>
      <wsdl:output message="eig:retrieveDesignationsResponse"/>
    </wsdl:operation>

    <wsdl:operation name="retrieveDocTypeIdsByDesignation">
      <wsdl:input  message="eig:retrieveDocTypeIdsByDesignationRequest"/>
      <wsdl:output message="eig:retrieveDocTypeIdsByDesignationResponse"/>
    </wsdl:operation>

     <!--  Letter Template Operations -->

    <wsdl:operation name="createLetterTemplate">
      <wsdl:input  message="eig:createLetterTemplate" />
      <wsdl:output message="eig:createLetterTemplateResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveLetterTemplate">
      <wsdl:input  message="eig:retrieveLetterTemplateRequest" />
      <wsdl:output message="eig:retrieveLetterTemplateResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveAllLetterTemplates">
      <wsdl:input  message="eig:retrieveAllLetterTemplatesRequest" />
      <wsdl:output message="eig:retrieveAllLetterTemplatesResponse" />
    </wsdl:operation>


    <wsdl:operation name="updateLetterTemplate">
      <wsdl:input  message="eig:updateLetterTemplateRequest" />
      <wsdl:output message="eig:updateLetterTemplateResponse" />
    </wsdl:operation>

     <wsdl:operation name="deleteLetterTemplate">
      <wsdl:input  message="eig:deleteLetterTemplateRequest" />
      <wsdl:output message="eig:deleteLetterTemplateResponse" />
    </wsdl:operation>

    <wsdl:operation name="hasLetterTemplate">
        <wsdl:input message="eig:hasLetterTemplateRequest" />
        <wsdl:output message="eig:hasLetterTemplateResponse" />
    </wsdl:operation>

    <!-- NoteOperations -->

    <wsdl:operation name="createNote">
      <wsdl:input  message="eig:createNote" />
      <wsdl:output message="eig:createNoteResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveNote">
      <wsdl:input  message="eig:retrieveNoteRequest" />
      <wsdl:output message="eig:retrieveNoteResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveAllNotes">
      <wsdl:input  message="eig:retrieveAllNotesRequest" />
      <wsdl:output message="eig:retrieveAllNotesResponse" />
    </wsdl:operation>


    <wsdl:operation name="updateNote">
      <wsdl:input  message="eig:updateNoteRequest" />
      <wsdl:output message="eig:updateNoteResponse" />
    </wsdl:operation>

     <wsdl:operation name="deleteNote">
      <wsdl:input  message="eig:deleteNoteRequest" />
      <wsdl:output message="eig:deleteNoteResponse" />
    </wsdl:operation>

    <!-- SSNMask operations -->

    <wsdl:operation name="retrieveSSNMask">
      <wsdl:input  message="eig:retrieveSSNMaskRequest" />
      <wsdl:output message="eig:retrieveSSNMaskResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveROIAppData">
      <wsdl:input  message="eig:retrieveROIAppDataRequest" />
      <wsdl:output message="eig:retrieveROIAppDataResponse" />
    </wsdl:operation>

    <wsdl:operation name="updateSSNMask">
      <wsdl:input  message="eig:updateSSNMaskRequest" />
      <wsdl:output message="eig:updateSSNMaskResponse" />
    </wsdl:operation>

	<wsdl:operation name="getUser">
    	<wsdl:input message="eig:getUserRequest"></wsdl:input>
    	<wsdl:output message="eig:getUserResponse"></wsdl:output>
  	</wsdl:operation>
    <wsdl:operation name="enableOutputService">
        <wsdl:input message="eig:enableOutputServiceRequest"></wsdl:input>
        <wsdl:output message="eig:enableOutputServiceResponse"></wsdl:output>
    </wsdl:operation>
  	<wsdl:operation name="retrieveOutputServerProperties">
        <wsdl:input message="eig:retrieveOutputServerPropertiesRequest"></wsdl:input>
        <wsdl:output message="eig:retrieveOutputServerPropertiesResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveOutputServerProperties">
        <wsdl:input message="eig:saveOutputServerPropertiesRequest"></wsdl:input>
        <wsdl:output message="eig:saveOutputServerPropertiesResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAttachmentLocation">
        <wsdl:input message="eig:retrieveAttachmentLocationRequest"></wsdl:input>
        <wsdl:output message="eig:retrieveAttachmentLocationResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAttachmentLocation">
        <wsdl:input message="eig:updateAttachmentLocationRequest"></wsdl:input>
        <wsdl:output message="eig:updateAttachmentLocationResponse"></wsdl:output>
    </wsdl:operation>

    <!--Invoice Due Date Operations-->

     <wsdl:operation name="updateInvoiceDue">
      <wsdl:input  message="eig:updateInvoiceDueRequest" />
      <wsdl:output message="eig:updateInvoiceDueResponse" />
    </wsdl:operation>

    <wsdl:operation name="retrieveInvoiceDue">
      <wsdl:input  message="eig:retrieveInvoiceDueRequest" />
      <wsdl:output message="eig:retrieveInvoiceDueResponse" />
    </wsdl:operation>

    <!-- CountryCode Configure Operations -->
        
    <wsdl:operation name="updateCountryCode">
     <wsdl:input  message="eig:updateCountryCodeRequest" />
     <wsdl:output message="eig:updateCountryCodeResponse" />
   </wsdl:operation>
   
   <wsdl:operation name="retrieveAllCountries">
   	<wsdl:input  message="eig:retrieveAllCountriesRequest" />
   	<wsdl:output message="eig:retrieveAllCountriesResponse" />
   </wsdl:operation>
   
    <!-- Configure Unbillable Request -->
    
    <wsdl:operation name="updateUnbillableRequestFlag">
	   <wsdl:input message="eig:updateUnbillableRequestFlagRequest"></wsdl:input>
	   <wsdl:output message="eig:updateUnbillableRequestFlagResponse"></wsdl:output>
	</wsdl:operation>
	
	<wsdl:operation name="retrieveUnbillableRequestFlag">
	   <wsdl:input message="eig:retrieveUnbillableRequestFlagRequest"></wsdl:input>
	   <wsdl:output message="eig:retrieveUnbillableRequestFlagResponse"></wsdl:output>
	</wsdl:operation>
	
	<wsdl:operation name="retrieveAllGenders">
	   	<wsdl:input  message="eig:retrieveAllGendersRequest" />
	   	<wsdl:output message="eig:retrieveAllGendersResponse" />
    </wsdl:operation>

  </wsdl:portType>

  <wsdl:binding name="ROIAdminSoapBinding" type="eig:ROIAdminPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

	<!--Delivery Method bindings-->

    <wsdl:operation name="createDeliveryMethod">
      <soap:operation soapAction="urn:eig.mckesson.com/createDeliveryMethod" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveDeliveryMethod">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveDeliveryMethod" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveAllDeliveryMethods">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllDeliveryMethods" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

	<!--Delivery Method bindings-->

    <wsdl:operation name="updateDeliveryMethod">
      <soap:operation soapAction="urn:eig.mckesson.com/updateDeliveryMethod" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deleteDeliveryMethod">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteDeliveryMethod" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

	<!--Weight bindings-->
    <wsdl:operation name="updateWeight">
      <soap:operation soapAction="urn:eig.mckesson.com/updateWeight" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveWeight">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveWeight" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!-- Reason bindings-->
    <wsdl:operation name="createReason">
      <soap:operation soapAction="urn:eig.mckesson.com/createReason" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveReason">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveReason" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveAllReasonsByType">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllReasonsByType" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateReason">
      <soap:operation soapAction="urn:eig.mckesson.com/updateReason" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deleteReason">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteReason" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveAllRequestStatus">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllRequestStatus" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="retrieveReasonsByStatus">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveReasonsByStatus" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!--RequestorType bindings-->

     <wsdl:operation name="createRequestorType">
      <soap:operation soapAction="urn:eig.mckesson.com/createRequestorType" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveRequestorType">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveRequestorType" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveAllRequestorTypes">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllRequestorTypes" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="updateRequestorType">
      <soap:operation soapAction="urn:eig.mckesson.com/updateRequestorType" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deleteRequestorType">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteRequestorType" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!--  Disclosure document bindings-->

    <wsdl:operation name="designateDocumentTypes">
      <soap:operation soapAction="urn:eig.mckesson.com/designateDocumentTypes" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveDesignations">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveDesignations" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="retrieveMUDocTypes">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveMUDocTypes" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveDocTypeIdsByDesignation">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveDocTypeIdsByDesignation" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

     <!--  Letter Template bindings -->

    <wsdl:operation name="createLetterTemplate">
      <soap:operation soapAction="urn:eig.mckesson.com/createLetterTemplate" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveLetterTemplate">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveLetterTemplate" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveAllLetterTemplates">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllLetterTemplates" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateLetterTemplate">
      <soap:operation soapAction="urn:eig.mckesson.com/updateLetterTemplate" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deleteLetterTemplate">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteLetterTemplate" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="hasLetterTemplate">
      <soap:operation soapAction="urn:eig.mckesson.com/hasLetterTemplate" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!-- Note Bindings -->

    <wsdl:operation name="createNote">
      <soap:operation soapAction="urn:eig.mckesson.com/createNote" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveNote">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveNote" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveAllNotes">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllNotes" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="updateNote">
      <soap:operation soapAction="urn:eig.mckesson.com/updateNote" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="deleteNote">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteNote" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <!-- SSNMask bindings -->

    <wsdl:operation name="retrieveSSNMask">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveSSNMask" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveROIAppData">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveROIAppData" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

     <wsdl:operation name="updateSSNMask">
      <soap:operation soapAction="urn:eig.mckesson.com/updateSSNMask" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="getUser">
    	<soap:operation soapAction="urn:eig.mckesson.com/getUser" />
    	<wsdl:input>
    		<soap:header message="eig:header" part="transIdHeader" use="literal" />
        	<soap:header message="eig:header" part="wssHeader" use="literal" />
        	<soap:body use="literal" />
    	</wsdl:input>
    	<wsdl:output>
    		<soap:body use="literal"/>
    	</wsdl:output>
  	</wsdl:operation>

    <wsdl:operation name="enableOutputService">
        <soap:operation soapAction="urn:eig.mckesson.com/enableOutputService" />
        <wsdl:input>
            <soap:header message="eig:header" part="transIdHeader" use="literal" />
            <soap:header message="eig:header" part="wssHeader" use="literal" />
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveOutputServerProperties">
        <soap:operation soapAction="urn:eig.mckesson.com/retrieveOutputServerProperties" />
        <wsdl:input>
            <soap:header message="eig:header" part="transIdHeader" use="literal" />
            <soap:header message="eig:header" part="wssHeader" use="literal" />
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="saveOutputServerProperties">
        <soap:operation soapAction="urn:eig.mckesson.com/saveOutputServerProperties" />
        <wsdl:input>
            <soap:header message="eig:header" part="transIdHeader" use="literal" />
            <soap:header message="eig:header" part="wssHeader" use="literal" />
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAttachmentLocation">
        <soap:operation soapAction="urn:eig.mckesson.com/retrieveAttachmentLocation" />
        <wsdl:input>
            <soap:header message="eig:header" part="transIdHeader" use="literal" />
            <soap:header message="eig:header" part="wssHeader" use="literal" />
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateAttachmentLocation">
        <soap:operation soapAction="urn:eig.mckesson.com/updateAttachmentLocation" />
        <wsdl:input>
            <soap:header message="eig:header" part="transIdHeader" use="literal" />
            <soap:header message="eig:header" part="wssHeader" use="literal" />
            <soap:body use="literal" />
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>

    <!--InvoiceDue bindings-->
    <wsdl:operation name="updateInvoiceDue">
      <soap:operation soapAction="urn:eig.mckesson.com/updateInvoiceDueDays" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="retrieveInvoiceDue">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveInvoiceDueDays" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <!-- CountryCode Configure bindings -->    
    
    <wsdl:operation name="updateCountryCode">
      <soap:operation soapAction="urn:eig.mckesson.com/updateCountryCode" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="retrieveAllCountries">
    <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllCountries" />
    <wsdl:input>
      <soap:header message="eig:header" part="transIdHeader" use="literal" />
      <soap:header message="eig:header" part="wssHeader" use="literal" />
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal" />
    </wsdl:output>
  </wsdl:operation>
  
  <!-- Configure Unbillable Request -->
	<wsdl:operation name="updateUnbillableRequestFlag">
	  <soap:operation soapAction="urn:eig.mckesson.com/updateUnbillableRequestFlag" />
	  <wsdl:input>
	      <soap:header message="eig:header" part="transIdHeader" use="literal" />
	      <soap:header message="eig:header" part="wssHeader" use="literal" />
	      <soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output>
	      <soap:body use="literal"/>
	  </wsdl:output>
	</wsdl:operation>
	
	<wsdl:operation name="retrieveUnbillableRequestFlag">
	  <soap:operation soapAction="urn:eig.mckesson.com/retrieveUnbillableRequestFlag" />
	  <wsdl:input>
	      <soap:header message="eig:header" part="transIdHeader" use="literal" />
	      <soap:header message="eig:header" part="wssHeader" use="literal" />
	      <soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output>
	      <soap:body use="literal"/>
	  </wsdl:output>
	</wsdl:operation>
	
	<wsdl:operation name="retrieveAllGenders">
    <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllGenders" />
    <wsdl:input>
      <soap:header message="eig:header" part="transIdHeader" use="literal" />
      <soap:header message="eig:header" part="wssHeader" use="literal" />
      <soap:body use="literal" />
    </wsdl:input>
    <wsdl:output>
      <soap:body use="literal" />
    </wsdl:output>
  </wsdl:operation>

  </wsdl:binding>

  <wsdl:service name="ROIAdminService">
    <wsdl:documentation>
      This service implements all ROI Admin Service Calls
    </wsdl:documentation>
    <wsdl:port binding="eig:ROIAdminSoapBinding" name="roiAdminPort">
      <soap:address
        location="http://host/context/services/ROIAdminService" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>