src/prototype/src/server-alert/alert-webapp/src/main/webapp/WEB-INF/eig/alert/alert.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:eig.mckesson.com"
	name="AlertService" xmlns:eig="urn:eig.mckesson.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:documentation>
		This WSDL contains the AlertService Service
	</wsdl:documentation>

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
			<xsd:import
				namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
				schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />

			<xsd:element name="transactionId" type="xsd:long" />
			
			<xsd:element name="alert">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="alertResponse">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
	</xsd:schema>
	</wsdl:types>

	<wsdl:message name="header">
		<wsdl:part name="wssHeader" element="wsse:Security" />
		<wsdl:part name="transIdHeader" element="eig:transactionId" />
	</wsdl:message>

	<wsdl:message name="alertRequest">
		<wsdl:part name="parameters" element="eig:alert"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="alertResponse">
		<wsdl:part name="parameters" element="eig:alertResponse"></wsdl:part>
	</wsdl:message>
	
	
	<wsdl:portType name="AlertPortType">

		<!--ROI Output service Operations -->
		<wsdl:operation name="alert">
			<wsdl:input message="eig:alertRequest"></wsdl:input>
			<wsdl:output message="eig:alertResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="AlertSoapBinding" type="eig:AlertPortType">
	
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

		<!-- binding -->
		<wsdl:operation name="alert">
			<soap:operation soapAction="urn:eig.mckesson.com/alert" />
			<wsdl:input>
				<soap:header message="eig:header" part="transIdHeader" use="literal" />
				<soap:header message="eig:header" part="wssHeader" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="AlertService">
		<wsdl:documentation>
			This service implements all Alert Service Calls with respect to Alert service
    	</wsdl:documentation>
		<wsdl:port binding="eig:AlertSoapBinding" name="Alert">
			<soap:address location="http://host/context/services/AlertService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>