src/client/McK.EIG.ROI.Client/Web References/Web_References.InUseWS/InUseService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:eig="urn:eig.mckesson.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InUseService" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>

		WSDL Definition for the InUse service
	 </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:complexType name="InUseRecord">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="recordSequence" type="xsd:long" />
          <xsd:element minOccurs="1" maxOccurs="1" name="objectID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="objectType" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="applicationID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="userID" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="expiresMinutes" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="recordVersion" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="createdDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="createdBy" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="modifiedDate" type="xsd:dateTime" />
          <xsd:element minOccurs="1" maxOccurs="1" name="modifiedBy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="InUseRecordList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="inUseRecordList" type="eig:InUseRecord" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="releaseInUseRecord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="objectType" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="objectID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="applicationID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="releaseInUseRecordResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createInUseRecord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="objectType" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="objectID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="applicationID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userID" type="xsd:string" />
            <xsd:element name="expiresMinutes" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createInUseRecordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inUseRecord" type="eig:InUseRecord" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInUseRecord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="objectType" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="objectID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInUseRecordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="inUseRecord" nillable="true" type="eig:InUseRecord" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInUseRecordsByType">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="objectType" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInUseRecordsByTypeResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inUseRecords" type="eig:InUseRecordList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveAllInUseRecords">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveAllInUseRecordsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inUseRecords" type="eig:InUseRecordList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="touchInUseRecord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="objectType" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="objectID" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="applicationID" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="touchInUseRecordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inUseRecord" type="eig:InUseRecord" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInUseRecordsByIDs">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="objectType" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="objectIds" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="applicationId" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userID" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInUseRecordsByIDsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="inUseRecords" type="eig:InUseRecordList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="releaseInUseRecordRequest">
    <wsdl:part name="parameters" element="eig:releaseInUseRecord" />
  </wsdl:message>
  <wsdl:message name="releaseInUseRecordResponse">
    <wsdl:part name="parameters" element="eig:releaseInUseRecordResponse" />
  </wsdl:message>
  <wsdl:message name="createInUseRecordRequest">
    <wsdl:part name="parameters" element="eig:createInUseRecord" />
  </wsdl:message>
  <wsdl:message name="createInUseRecordResponse">
    <wsdl:part name="parameters" element="eig:createInUseRecordResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveInUseRecordRequest">
    <wsdl:part name="parameters" element="eig:retrieveInUseRecord" />
  </wsdl:message>
  <wsdl:message name="retrieveInUseRecordResponse">
    <wsdl:part name="parameters" element="eig:retrieveInUseRecordResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveInUseRecordsByTypeRequest">
    <wsdl:part name="parameters" element="eig:retrieveInUseRecordsByType" />
  </wsdl:message>
  <wsdl:message name="retrieveInUseRecordsByTypeResponse">
    <wsdl:part name="parameters" element="eig:retrieveInUseRecordsByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveAllInUseRecordsRequest">
    <wsdl:part name="parameters" element="eig:retrieveAllInUseRecords" />
  </wsdl:message>
  <wsdl:message name="retrieveAllInUseRecordsResponse">
    <wsdl:part name="parameters" element="eig:retrieveAllInUseRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="touchInUseRecordRequest">
    <wsdl:part name="parameters" element="eig:touchInUseRecord" />
  </wsdl:message>
  <wsdl:message name="touchInUseRecordResponse">
    <wsdl:part name="parameters" element="eig:touchInUseRecordResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveInUseRecordsByIDsRequest">
    <wsdl:part name="parameters" element="eig:retrieveInUseRecordsByIDs" />
  </wsdl:message>
  <wsdl:message name="retrieveInUseRecordsByIDsResponse">
    <wsdl:part name="parameters" element="eig:retrieveInUseRecordsByIDsResponse" />
  </wsdl:message>
  <wsdl:portType name="InUsePortType">
    <wsdl:operation name="releaseInUseRecord">
      <wsdl:input message="eig:releaseInUseRecordRequest" />
      <wsdl:output message="eig:releaseInUseRecordResponse" />
    </wsdl:operation>
    <wsdl:operation name="createInUseRecord">
      <wsdl:input message="eig:createInUseRecordRequest" />
      <wsdl:output message="eig:createInUseRecordResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveInUseRecord">
      <wsdl:input message="eig:retrieveInUseRecordRequest" />
      <wsdl:output message="eig:retrieveInUseRecordResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveInUseRecordsByType">
      <wsdl:input message="eig:retrieveInUseRecordsByTypeRequest" />
      <wsdl:output message="eig:retrieveInUseRecordsByTypeResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveAllInUseRecords">
      <wsdl:input message="eig:retrieveAllInUseRecordsRequest" />
      <wsdl:output message="eig:retrieveAllInUseRecordsResponse" />
    </wsdl:operation>
    <wsdl:operation name="touchInUseRecord">
      <wsdl:input message="eig:touchInUseRecordRequest" />
      <wsdl:output message="eig:touchInUseRecordResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveInUseRecordsByIDs">
      <wsdl:input message="eig:retrieveInUseRecordsByIDsRequest" />
      <wsdl:output message="eig:retrieveInUseRecordsByIDsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InUseSoapBinding" type="eig:InUsePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="releaseInUseRecord">
      <soap:operation soapAction="urn:eig.mckesson.com/releaseInUseRecord" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createInUseRecord">
      <soap:operation soapAction="urn:eig.mckesson.com/createInUseRecord" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveInUseRecord">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveInUseRecord" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveInUseRecordsByType">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveInUseRecordsByType" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAllInUseRecords">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllInUseRecords" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="touchInUseRecord">
      <soap:operation soapAction="urn:eig.mckesson.com/touchInUseRecord" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveInUseRecordsByIDs">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveInUseRecordsByIDs" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InUseService">
    <wsdl:documentation>

			Service for In Use Service
		  </wsdl:documentation>
    <wsdl:port name="InUsePort" binding="eig:InUseSoapBinding">
      <soap:address location="http://127.0.0.1:8080/roi/services/InUseService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>