src/client/McK.EIG.ROI.Client/Web References/Web_References.ROIRequestWS/RequestService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:eig="urn:eig.mckesson.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestService" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>

        This WSDL contains the Request Services
     </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:complexType name="Request">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="details" type="xsd:string" />
          <xsd:element name="status" type="xsd:int" />
          <xsd:element minOccurs="0" name="statusReason" type="xsd:string" />
          <xsd:element minOccurs="0" name="updatedBy" type="xsd:string" />
          <xsd:element minOccurs="0" name="modifiedDate" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="createdDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="lov" type="eig:ROILoV" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="releases" type="eig:Release" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="transaction" type="eig:Transaction" />
          <xsd:element name="deleteRelease" type="xsd:boolean" />
          <xsd:element name="releaseId" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Transaction">
        <xsd:sequence>
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="amount" type="xsd:string" />
          <xsd:element name="reasonName" type="xsd:string" />
          <xsd:element name="isDebit" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ROILoV">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="domainType" type="xsd:string" />
          <xsd:element name="domainSource" type="xsd:string" />
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
          <xsd:element name="child" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Release">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="releaseDate" type="xsd:dateTime" />
          <xsd:element name="userId" type="xsd:long" />
          <xsd:element name="userName" type="xsd:string" />
          <xsd:element name="details" type="xsd:string" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
          <xsd:element minOccurs="0" name="item" type="eig:Item" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="releasedSupplementalDocs" nillable="true" type="eig:ROILoV" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Item">
        <xsd:sequence>
          <xsd:element name="type" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attributes" type="eig:attributesMap" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="childItem" type="eig:Item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="attributesMap">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchLov">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="domainType" type="xsd:string" />
          <xsd:element name="domainSource" type="xsd:string" />
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="condition" type="xsd:string" />
          <xsd:element name="dataType" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
          <xsd:element name="valueTo" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchLoVCriteria">
        <xsd:sequence>
          <xsd:element name="maxCount" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchlovs" type="eig:SearchLov" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchRequestResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requests" type="eig:Request" />
          <xsd:element name="maxCountExceeded" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PaginationData">
        <xsd:sequence>
          <xsd:element name="startIndex" type="xsd:int" />
          <xsd:element name="count" type="xsd:int" />
          <xsd:element name="isDesc" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="domainType" type="xsd:string" />
          <xsd:element name="sortBy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestEvent">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="originator" type="xsd:string" />
          <xsd:element minOccurs="0" name="modifiedDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuditEvent">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="eventId" type="xsd:long" />
          <xsd:element minOccurs="0" name="domainId" type="xsd:long" />
          <xsd:element minOccurs="0" name="componentId" type="xsd:long" />
          <xsd:element minOccurs="0" name="userId" type="xsd:long" />
          <xsd:element minOccurs="0" name="eventStart" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="eventEnd" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="eventStatus" nillable="true" type="xsd:long" />
          <xsd:element minOccurs="0" name="location" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="objectId" nillable="true" type="xsd:long" />
          <xsd:element minOccurs="0" name="comment" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="workflowReason" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="actionCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="encounter" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="facility" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="mrn" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuditAndEventList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="events" type="eig:RequestEvent" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="auditEvent" type="eig:AuditEvent" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestEvents">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="events" type="eig:RequestEvent" />
          <xsd:element name="eventsCount" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EventTypes">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="eventType" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Comment">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
          <xsd:element minOccurs="0" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="originator" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Comments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="comment" type="eig:Comment" />
          <xsd:element name="commentsCount" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="request" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRequestResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="criteria" type="eig:SearchLoVCriteria" />
            <xsd:element minOccurs="0" name="paginationData" type="eig:PaginationData" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchRequestResult" type="eig:SearchRequestResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEventHistory">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEventHistoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestEvents" type="eig:RequestEvents" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveComments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveCommentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="comments" type="eig:Comments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addEvent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="events" type="eig:RequestEvent" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addEventResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="events" type="eig:RequestEvent" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveAllEventTypes">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveAllEventTypesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="eventType" type="eig:EventTypes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRequestCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="criteria" type="eig:SearchLoVCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRequestCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getRequestCountResult" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getGeneratedPassword">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getGeneratedPasswordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getGeneratedPasswordResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addAuditAndEvent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auditAndEventList" type="eig:AuditAndEventList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addAuditAndEventResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part name="parameters" element="eig:createRequest" />
  </wsdl:message>
  <wsdl:message name="createRequestResponse">
    <wsdl:part name="parameters" element="eig:createRequestResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveRequestRequest">
    <wsdl:part name="parameters" element="eig:retrieveRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveRequestResponse">
    <wsdl:part name="parameters" element="eig:retrieveRequestResponse" />
  </wsdl:message>
  <wsdl:message name="updateRequestRequest">
    <wsdl:part name="parameters" element="eig:updateRequest" />
  </wsdl:message>
  <wsdl:message name="updateRequestResponse">
    <wsdl:part name="parameters" element="eig:updateRequestResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRequestRequest">
    <wsdl:part name="parameters" element="eig:deleteRequest" />
  </wsdl:message>
  <wsdl:message name="deleteRequestResponse">
    <wsdl:part name="parameters" element="eig:deleteRequestResponse" />
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="parameters" element="eig:searchRequest" />
  </wsdl:message>
  <wsdl:message name="searchRequestResponse">
    <wsdl:part name="parameters" element="eig:searchRequestResponse" />
  </wsdl:message>
  <wsdl:message name="getEventHistoryRequest">
    <wsdl:part name="parameters" element="eig:getEventHistory" />
  </wsdl:message>
  <wsdl:message name="getEventHistoryResponse">
    <wsdl:part name="parameters" element="eig:getEventHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveCommentsRequest">
    <wsdl:part name="parameters" element="eig:retrieveComments" />
  </wsdl:message>
  <wsdl:message name="retrieveCommentsResponse">
    <wsdl:part name="parameters" element="eig:retrieveCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="addEventRequest">
    <wsdl:part name="parameters" element="eig:addEvent" />
  </wsdl:message>
  <wsdl:message name="addEventResponse">
    <wsdl:part name="parameters" element="eig:addEventResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveAllEventTypesRequest">
    <wsdl:part name="parameters" element="eig:retrieveAllEventTypes" />
  </wsdl:message>
  <wsdl:message name="retrieveAllEventTypesResponse">
    <wsdl:part name="parameters" element="eig:retrieveAllEventTypesResponse" />
  </wsdl:message>
  <wsdl:message name="getRequestCount">
    <wsdl:part name="parameters" element="eig:getRequestCount" />
  </wsdl:message>
  <wsdl:message name="getRequestCountResponse">
    <wsdl:part name="parameters" element="eig:getRequestCountResponse" />
  </wsdl:message>
  <wsdl:message name="getGeneratedPasswordResponse">
    <wsdl:part name="parameters" element="eig:getGeneratedPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getGeneratedPasswordRequest">
    <wsdl:part name="parameters" element="eig:getGeneratedPassword" />
  </wsdl:message>
  <wsdl:message name="addAuditAndEventRequest">
    <wsdl:part name="parameters" element="eig:addAuditAndEvent" />
  </wsdl:message>
  <wsdl:message name="addAuditAndEventResponse">
    <wsdl:part name="parameters" element="eig:addAuditAndEventResponse" />
  </wsdl:message>
  <wsdl:portType name="RequestPortType">
    <wsdl:operation name="createRequest">
      <wsdl:input message="eig:createRequest" />
      <wsdl:output message="eig:createRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveRequest">
      <wsdl:input message="eig:retrieveRequestRequest" />
      <wsdl:output message="eig:retrieveRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateRequest">
      <wsdl:input message="eig:updateRequestRequest" />
      <wsdl:output message="eig:updateRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteRequest">
      <wsdl:input message="eig:deleteRequestRequest" />
      <wsdl:output message="eig:deleteRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchRequest">
      <wsdl:input message="eig:searchRequest" />
      <wsdl:output message="eig:searchRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEventHistory">
      <wsdl:input message="eig:getEventHistoryRequest" />
      <wsdl:output message="eig:getEventHistoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveComments">
      <wsdl:input message="eig:retrieveCommentsRequest" />
      <wsdl:output message="eig:retrieveCommentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="addEvent">
      <wsdl:input message="eig:addEventRequest" />
      <wsdl:output message="eig:addEventResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveAllEventTypes">
      <wsdl:input message="eig:retrieveAllEventTypesRequest" />
      <wsdl:output message="eig:retrieveAllEventTypesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRequestCount">
      <wsdl:input message="eig:getRequestCount" />
      <wsdl:output message="eig:getRequestCountResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGeneratedPassword">
      <wsdl:input message="eig:getGeneratedPasswordRequest" />
      <wsdl:output message="eig:getGeneratedPasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="addAuditAndEvent">
      <wsdl:input message="eig:addAuditAndEventRequest" />
      <wsdl:output message="eig:addAuditAndEventResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ROIRequestSoapBinding" type="eig:RequestPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/createRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/updateRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/searchRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventHistory">
      <soap:operation soapAction="urn:eig.mckesson.com/getEventHistory" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveComments">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveComments" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEvent">
      <soap:operation soapAction="urn:eig.mckesson.com/addEvent" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAllEventTypes">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllEventTypes" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequestCount">
      <soap:operation soapAction="urn:eig.mckesson.com/getRequestCount" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeneratedPassword">
      <soap:operation soapAction="urn:eig.mckesson.com/getGeneratedPassword" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAuditAndEvent">
      <soap:operation soapAction="urn:eig.mckesson.com/addAuditAndEvent" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestService">
    <wsdl:documentation>

      This service implements all ROI Request Service Calls
      </wsdl:documentation>
    <wsdl:port name="requestPort" binding="eig:ROIRequestSoapBinding">
      <soap:address location="http://eigdev188:8080/roi/services/RequestService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>