src/client/McK.EIG.ROI.Client/Web References/Web_References.HPFPatientWS/patient.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:eig="urn:eig.mckesson.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:element name="trackSession" type="xsd:boolean" />
      <xsd:element name="searchPatients">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="lastname" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="firstname" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="dob" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="dateFormat" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ssn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="epn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="mrn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="facility" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="encounter" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchPatientsByExactMatch">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="fullname" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="dob" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="ssn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="epn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="mrn" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="facility" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="dateFormat" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientDetail">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="mrn" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="facility" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="dateFormat" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="facilityPatient">
        <xsd:sequence>
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="epn" type="xsd:string" />
          <xsd:element name="fullName" type="xsd:string" />
          <xsd:element name="dob" type="xsd:string" />
          <xsd:element name="ssn" type="xsd:string" />
          <xsd:element name="gender" type="xsd:string" />
          <xsd:element name="patientLocked" type="xsd:boolean" />
          <xsd:element name="encounterLocked" type="xsd:boolean" />
          <xsd:element name="vip" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="facilityPatientDetail">
        <xsd:complexContent mixed="false">
          <xsd:extension base="eig:facilityPatient">
            <xsd:sequence>
              <xsd:element name="address1" type="xsd:string" />
              <xsd:element name="address2" type="xsd:string" />
              <xsd:element name="address3" type="xsd:string" />
              <xsd:element name="city" type="xsd:string" />
              <xsd:element name="state" type="xsd:string" />
              <xsd:element name="zip" type="xsd:string" />
              <xsd:element name="homephone" type="xsd:string" />
              <xsd:element name="workphone" type="xsd:string" />
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="facilityPatients">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="facilityPatient" type="eig:facilityPatient" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="enterprisePatient">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="facilityPatients" type="eig:facilityPatients" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="enterprisePatients">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="enterprisePatient" type="eig:enterprisePatient" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="patientList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="facilityPatients" type="eig:facilityPatients" />
          <xsd:element minOccurs="0" maxOccurs="1" name="enterprisePatients" type="eig:enterprisePatients" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchPatientsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="patientList" type="eig:patientList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchPatientsByExactMatchResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="facilityPatients" type="eig:facilityPatients" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPatientDetailResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="facilityPatientDetail" type="eig:facilityPatientDetail" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="searchPatientsRequest">
    <wsdl:part name="parameters" element="eig:searchPatients" />
  </wsdl:message>
  <wsdl:message name="searchPatientsResponse">
    <wsdl:part name="parameters" element="eig:searchPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="searchPatientsByExactMatchRequest">
    <wsdl:part name="parameters" element="eig:searchPatientsByExactMatch" />
  </wsdl:message>
  <wsdl:message name="searchPatientsByExactMatchResponse">
    <wsdl:part name="parameters" element="eig:searchPatientsByExactMatchResponse" />
  </wsdl:message>
  <wsdl:message name="getPatientDetailRequest">
    <wsdl:part name="parameters" element="eig:getPatientDetail" />
  </wsdl:message>
  <wsdl:message name="getPatientDetailResponse">
    <wsdl:part name="parameters" element="eig:getPatientDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="PatientPortType">
    <wsdl:operation name="searchPatients">
      <wsdl:input message="eig:searchPatientsRequest" />
      <wsdl:output message="eig:searchPatientsResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchPatientsByExactMatch">
      <wsdl:input message="eig:searchPatientsByExactMatchRequest" />
      <wsdl:output message="eig:searchPatientsByExactMatchResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPatientDetail">
      <wsdl:input message="eig:getPatientDetailRequest" />
      <wsdl:output message="eig:getPatientDetailResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PatientSoapBinding" type="eig:PatientPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchPatients">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchPatientsByExactMatch">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPatientDetail">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PatientService">
    <wsdl:port name="patient" binding="eig:PatientSoapBinding">
      <soap:address location="http://192.168.6.126:8081/portal/eig/iservices/patient" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>