trunk_JarUpgrade/prototype/src/server-roi/webapp/src/main/webapp/WEB-INF/eig/roi/securitylogon.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:eig.mckesson.com"
	xmlns:eig="urn:eig.mckesson.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified"
			targetNamespace="urn:eig.mckesson.com">

			<xsd:import namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
				schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />

			<xsd:element name="transactionId" type="xsd:long" />

 			<xsd:complexType name="userAccount">
				<xsd:sequence>
					<xsd:element name="invalidLogonCount" type="xsd:int" />
					<xsd:element name="userId" type="xsd:int" />
                    <xsd:element name="epnEnabled" type="xsd:boolean" />
                    <xsd:element name="epnPrefix" type="xsd:string" />
                    <xsd:element name="facilities"  type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="freeFormFacilities"  type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="securityRightsMap"
                                 type="eig:rightsMap"
                                 minOccurs="0"
                                 maxOccurs ="unbounded"/>
                    <xsd:element name="maskSSN" type="xsd:boolean" />
                    <xsd:element name="maskBy" type="xsd:string" />

 				</xsd:sequence>
			</xsd:complexType>

 			<xsd:complexType name="rightsMap">
				<xsd:sequence>
					<xsd:element name="facility" type="xsd:string" />
                    <xsd:element name="securityIdsMap"
                                 type="eig:rightIds"
                                 minOccurs="0"
                                 maxOccurs="unbounded"/>
 				</xsd:sequence>
			</xsd:complexType>

 			<xsd:complexType name="rightIds">
				<xsd:sequence>
					<xsd:element name="securityId" type="xsd:int" />
                    <xsd:element name="status" type="xsd:boolean" />
 				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="logon">
				<xsd:complexType>
					<xsd:sequence />
				</xsd:complexType>
			</xsd:element>

			<xsd:element name="logonResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="userAccount" type="eig:userAccount"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="header">
		<wsdl:part element="wsse:Security" name="wssHeader" />
		<wsdl:part element="eig:transactionId" name="transIdHeader" />
	</wsdl:message>

	<wsdl:message name="logonRequest">
		<wsdl:documentation>Input parameter of logon operation</wsdl:documentation>
		<wsdl:part element="eig:logon" name="parameters" />
	</wsdl:message>

	<wsdl:message name="logonResponse">
		<wsdl:documentation>Output parameter of logon operation</wsdl:documentation>
		<wsdl:part element="eig:logonResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="SecurityLogonPortType">
		<wsdl:operation name="logon">
			<wsdl:documentation>Used for user logon</wsdl:documentation>
			<wsdl:input message="eig:logonRequest" />
			<wsdl:output message="eig:logonResponse" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="SecurityLogonSoapBinding" type="eig:SecurityLogonPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        	<wsdl:operation name="logon">
			<soap:operation soapAction="urn:eig.mckesson.com/logon"/>
			<wsdl:input>
				<soap:header message="eig:header" part="wssHeader" use="literal"/>
				<soap:header message="eig:header" part="transIdHeader" use="literal"/>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output><soap:body use="literal"/></wsdl:output>
		</wsdl:operation>
    </wsdl:binding>

	<wsdl:service name="SecurityLogonService">
		<wsdl:documentation>This is the web service that handles the incoming
		soap authentication request</wsdl:documentation>
		<wsdl:port binding="eig:SecurityLogonSoapBinding" name="SecurityLogon">
			<soap:address location="http://host/context/services/securitylogon" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

