src/prototype/src/server-roi/webapp/src/main/webapp/WEB-INF/eig/roi/roi.output.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:eig.mckesson.com"
	name="ROIOutputService" xmlns:eig="urn:eig.mckesson.com"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<wsdl:documentation>
		This WSDL contains the ROI Output Service
	</wsdl:documentation>

	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
			<xsd:import
				namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
				schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />

			<xsd:element name="transactionId" type="xsd:long" />

			<xsd:complexType name="OutputRequest">
				<xsd:sequence>
					<xsd:element name="requestParts" type="eig:RequestPart" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="destId" type="xsd:int" />
					<xsd:element name="destName" type="xsd:string" />
					<xsd:element name="destType" type="xsd:string" />
					<xsd:element name="properties" type="eig:MapModel" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="labels" type="eig:MapModel" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="requestId" type="xsd:string" />
					<xsd:element name="submitInfo" type="eig:SubmitInfo" />
					<xsd:element name="outputTransforms" type="eig:OutputTransform" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="RequestPart">
				<xsd:sequence>
					<xsd:element name="contentId" type="xsd:string" />
					<xsd:element name="contentSourceName" type="xsd:string" />
					<xsd:element name="contentSourceType" type="xsd:string" />
					<xsd:element name="properties" type="eig:MapModel" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="outputTransforms" type="eig:OutputTransform" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="OutputTransform">
				<xsd:sequence>
					<xsd:element name="properties" type="eig:MapModel" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="transformName" type="xsd:string" />
					<xsd:element name="transformType" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="MapModel">
				<xsd:sequence>
					<xsd:element name="key" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
   			 <xsd:complexType name="SubmitInfo">
				<xsd:sequence>
					<xsd:element name="application"  type="xsd:string"/>
					<xsd:element name="submitDate" type="xsd:dateTime"/>
					<xsd:element name="submitMachine"  type="xsd:string"/>
					<xsd:element name="submitterData"  type="xsd:string"/>
					<xsd:element name="user"  type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="StatusInfo">
				<xsd:sequence>
					<xsd:element name="statusCode" type="xsd:int" />
					<xsd:element name="status" type="xsd:string" />
					<xsd:element name="detail" type="xsd:string" />
					<xsd:element name="statusDate" type="xsd:dateTime" />
					<xsd:element name="statusSource" type="xsd:string" />
					<xsd:element name="statusData" type="eig:MapModel"  minOccurs="0" maxOccurs="unbounded" />
					
				</xsd:sequence>
			</xsd:complexType>
            
			<xsd:element name="submitOutputRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OutputRequest" type="eig:OutputRequest" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="submitOutputRequestResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="jobId" type="xsd:long"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			 
			<xsd:element name="getServiceProperties">
				<xsd:complexType>
					<xsd:sequence>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getServicePropertiesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="OutputFeature" type="eig:OutputFeature"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="OutputFeature">
				<xsd:sequence>
					<xsd:element name="outputFeatureId" type="xsd:long" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="attributes" type="eig:map" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="map">
				<xsd:sequence>
					<xsd:element name="key" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="queryOutputJob">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="job" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="queryOutputJobResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="xsd:long"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getDestinations">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="typeName"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:element name="getDestinationsResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DestInfoList" type="eig:DestInfoList"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<xsd:complexType name="PropertyDef">
				<xsd:sequence>
					<xsd:element name="propertyName" type="xsd:string" />
					<xsd:element name="label" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="dataType" type="xsd:string" />
					<xsd:element name="defaultValue" type="xsd:string" />
					<xsd:element name="required" type="xsd:string" />
					<xsd:element name="bindingProperty" type="xsd:string" />
					<xsd:element name="possibleValues" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="index" type="xsd:string" />
					<xsd:element name="pairPropertyName" type="xsd:string" />
					<xsd:element name="rowCount" type="xsd:string" />
					<xsd:element name="contextMenu" type="xsd:string"  minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="jsAction" type="xsd:string" />
					<xsd:element name="size" type="xsd:string" />
					<xsd:element name="maxLength" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="DestInfoList">
				<xsd:sequence>
					<xsd:element name="destInfoList" type="eig:DestInfo" minOccurs="0" maxOccurs="unbounded" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="DestInfo">
				<xsd:sequence>
					<xsd:element name="serviceId" type="xsd:string" />
					<xsd:element name="statusInfo" type="eig:StatusInfo" />
					<xsd:element name="propertyDefs" type="eig:PropertyDef" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="jobOptionDefs" type="eig:PropertyDef" minOccurs="0" maxOccurs="unbounded" />
					<xsd:element name="id" type="xsd:int" />
					<xsd:element name="name" type="xsd:string" />
					<xsd:element name="type" type="xsd:string" />
					<xsd:element name="description" type="xsd:string" />
					<xsd:element name="properties" type="eig:propertyMap" minOccurs="0" maxOccurs="unbounded" />
					
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="propertyMap">
				<xsd:sequence>
					<xsd:element name="key" type="xsd:string" />
					<xsd:element name="value" type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			

	</xsd:schema>
	</wsdl:types>

	<wsdl:message name="header">
		<wsdl:part name="wssHeader" element="wsse:Security" />
		<wsdl:part name="transIdHeader" element="eig:transactionId" />
	</wsdl:message>

	<wsdl:message name="submitOutputRequest">
		<wsdl:part name="parameters" element="eig:submitOutputRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="submitOutputRequestResponse">
		<wsdl:part name="parameters" element="eig:submitOutputRequestResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getServicePropertiesRequest">
		<wsdl:part name="parameters" element="eig:getServiceProperties"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getServicePropertiesResponse">
		<wsdl:part name="parameters" element="eig:getServicePropertiesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryOutputJobRequest">
		<wsdl:part name="parameters" element="eig:queryOutputJob"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryOutputJobResponse">
		<wsdl:part name="parameters" element="eig:queryOutputJobResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getDestinationsRequest">
		<wsdl:part name="parameters" element="eig:getDestinations"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getDestinationsResponse">
		<wsdl:part name="parameters" element="eig:getDestinationsResponse"></wsdl:part>
	</wsdl:message>
	
	
	<wsdl:portType name="ROIOutputPortType">

		<!--ROI Output service Operations -->

		<wsdl:operation name="submitOutputRequest">
			<wsdl:input message="eig:submitOutputRequest"></wsdl:input>
			<wsdl:output message="eig:submitOutputRequestResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getServiceProperties">
			<wsdl:input message="eig:getServicePropertiesRequest"></wsdl:input>
			<wsdl:output message="eig:getServicePropertiesResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryOutputJob">
			<wsdl:input message="eig:queryOutputJobRequest"></wsdl:input>
			<wsdl:output message="eig:queryOutputJobResponse"></wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getDestinations">
			<wsdl:input message="eig:getDestinationsRequest"></wsdl:input>
			<wsdl:output message="eig:getDestinationsResponse"></wsdl:output>
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="ROIOutputSoapBinding" type="eig:ROIOutputPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<!-- binding -->

		<wsdl:operation name="submitOutputRequest">
			<soap:operation soapAction="urn:eig.mckesson.com/submitOutputRequest" />
			<wsdl:input>
				<soap:header message="eig:header" part="transIdHeader"
					use="literal" />
				<soap:header message="eig:header" part="wssHeader" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		
		<wsdl:operation name="getServiceProperties">
			<soap:operation soapAction="urn:eig.mckesson.com/getServiceProperties" />
			<wsdl:input>
				<soap:header message="eig:header" part="transIdHeader"
					use="literal" />
				<soap:header message="eig:header" part="wssHeader" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryOutputJob">
			<soap:operation soapAction="urn:eig.mckesson.com/queryOutputJob" />
			<wsdl:input>
				<soap:header message="eig:header" part="transIdHeader"
					use="literal" />
				<soap:header message="eig:header" part="wssHeader" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="getDestinations">
			<soap:operation soapAction="urn:eig.mckesson.com/getDestinations" />
			<wsdl:input>
				<soap:header message="eig:header" part="transIdHeader"
					use="literal" />
				<soap:header message="eig:header" part="wssHeader" use="literal" />
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="ROIOutputService">
		<wsdl:documentation>
			This service implements all ROI output Service Calls with respect to
			ROI output service
    	</wsdl:documentation>
		<wsdl:port binding="eig:ROIOutputSoapBinding" name="ROIOutput">
			<soap:address location="http://host/context/services/ROIOutputService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>