src/client/McK.EIG.ROI.Client/Web References/Web_References.ROIRequestCoreWS/RequestCoreService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:eig="urn:eig.mckesson.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RequestCoreService" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>

        This WSDL contains the Request Services
     </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:complexType name="Request">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="status" type="xsd:string" />
          <xsd:element name="receiptDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="completedDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="statusReason" type="xsd:string" />
          <xsd:element name="requestReason" type="xsd:string" />
          <xsd:element name="requestReasonAttribute" type="xsd:string" />
          <xsd:element name="statusChangedDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="requestPassword" type="xsd:string" />
          <xsd:element name="createdBy" type="xsd:long" />
          <xsd:element name="modifiedBy" type="xsd:long" />
          <xsd:element name="modifiedDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="modifiedByUser" nillable="true" type="xsd:string" />
          <xsd:element name="createdDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="defaultFacility" type="xsd:string" />
          <xsd:element name="defaultFacilityCode" type="xsd:string" />
          <xsd:element name="requestorDetail" type="eig:Requestor" />
          <xsd:element name="releaseCount" type="xsd:long" />
          <xsd:element name="hasDraftRelease" type="xsd:boolean" />
          <xsd:element name="balanceDue" type="xsd:double" />
          <xsd:element name="authDoc" type="xsd:string" />
          <xsd:element name="authDocName" type="xsd:string" />
          <xsd:element name="authDocSubtitle" type="xsd:string" />
          <xsd:element name="authDocDateTime" nillable="true" type="xsd:dateTime" />
          <xsd:element name="conversionSource" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Requestor">
        <xsd:sequence>
          <xsd:element name="requestorId" type="xsd:long" />
          <xsd:element name="requestorType" type="xsd:long" />
          <xsd:element name="requestorTypeName" type="xsd:string" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="middleName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="workPhone" type="xsd:string" />
          <xsd:element name="homePhone" type="xsd:string" />
          <xsd:element name="cellPhone" type="xsd:string" />
          <xsd:element name="contactName" type="xsd:string" />
          <xsd:element name="contactPhone" type="xsd:string" />
          <xsd:element name="fax" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ROILoV">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="domainType" type="xsd:string" />
          <xsd:element name="domainSource" type="xsd:string" />
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
          <xsd:element name="child" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestorInvoice">
        <xsd:sequence>
          <xsd:element name="requestId" type="xsd:long" />
          <xsd:element name="invoiceType" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="charge" type="xsd:double" />
          <xsd:element name="adjustmentAmount" type="xsd:double" />
          <xsd:element name="paymentAmount" type="xsd:double" />
          <xsd:element name="adjustmentPaymentTotal" type="xsd:double" />
          <xsd:element name="balance" type="xsd:double" />
          <xsd:element name="invoiceStatus" type="xsd:string" />
          <xsd:element name="unBillableAmount" type="xsd:double" />
          <xsd:element name="paymentDescription" type="xsd:string" />
          <xsd:element name="paymentMethod" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestorAdjPay" type="eig:RequestorAdjustmentsPayments" />
          <xsd:element name="invoiceId" type="xsd:long" />
          <xsd:element name="createdBy" type="xsd:long" />
          <xsd:element name="modifiedBy" type="xsd:long" />
          <xsd:element name="createdDt" type="xsd:dateTime" />
          <xsd:element name="modifiedDt" type="xsd:dateTime" />
          <xsd:element name="recordVersion" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestorInvoicesList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestorInvoices" type="eig:RequestorInvoice" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestorAdjustmentsPayments">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="date" type="xsd:dateTime" />
          <xsd:element name="paymentAmount" type="xsd:double" />
          <xsd:element name="appliedAmount" type="xsd:double" />
          <xsd:element name="txnType" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="paymentMethod" type="xsd:string" />
          <xsd:element name="invoiceId" type="xsd:long" />
          <xsd:element name="unAppliedAmt" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestPatient">
        <xsd:sequence>
          <xsd:element name="patientSeq" type="xsd:long" />
          <xsd:element name="requestId" type="xsd:long" />
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="freeformFacility" type="xsd:string" />
          <xsd:element name="dob" nillable="true" type="xsd:dateTime" />
          <xsd:element name="gender" type="xsd:string" />
          <xsd:element name="epn" type="xsd:string" />
          <xsd:element name="ssn" type="xsd:string" />
          <xsd:element name="patientLocked" type="xsd:boolean" />
          <xsd:element name="encounterLocked" type="xsd:boolean" />
          <xsd:element name="isVip" type="xsd:boolean" />
          <xsd:element name="hpf" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="roiEncounters" type="eig:RequestEncounter" />
          <xsd:element name="supplementalId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attachments" type="eig:RequestSupplementalAttachment" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="nonHpfDocuments" type="eig:RequestSupplementalDocument" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="globalDocuments" type="eig:RequestDocument" />
          <xsd:element name="firstName" type="xsd:string" />
          <xsd:element name="lastName" type="xsd:string" />
          <xsd:element name="address1" type="xsd:string" />
          <xsd:element name="address2" type="xsd:string" />
          <xsd:element name="address3" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="zip" type="xsd:string" />
          <xsd:element name="homePhone" type="xsd:string" />
          <xsd:element name="workPhone" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestEncounter">
        <xsd:sequence>
          <xsd:element name="encounterSeq" type="xsd:long" />
          <xsd:element name="patientSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="roiDocuments" type="eig:RequestDocument" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="patientType" type="xsd:string" />
          <xsd:element name="patientService" type="xsd:string" />
          <xsd:element name="isVip" type="xsd:boolean" />
          <xsd:element name="isLocked" type="xsd:boolean" />
          <xsd:element name="hasDeficiency" type="xsd:boolean" />
          <xsd:element name="admitdate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="dischargeDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestDocument">
        <xsd:sequence>
          <xsd:element name="documentSeq" type="xsd:long" />
          <xsd:element name="encounterSeq" type="xsd:long" />
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="encounter" type="xsd:string" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="subtitle" type="xsd:string" />
          <xsd:element name="chartOrder" type="xsd:string" />
          <xsd:element name="docId" type="xsd:long" />
          <xsd:element name="docTypeId" type="xsd:long" />
          <xsd:element name="dateTime" nillable="true" type="xsd:dateTime" />
          <xsd:element name="patientSeq" type="xsd:long" />
          <xsd:element name="globalDocument" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="roiVersions" type="eig:RequestVersion" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestVersion">
        <xsd:sequence>
          <xsd:element name="versionSeq" type="xsd:long" />
          <xsd:element name="documentSeq" type="xsd:long" />
          <xsd:element name="docId" type="xsd:long" />
          <xsd:element name="versionNumber" type="xsd:long" />
          <xsd:element name="globalDocument" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="roiPages" type="eig:RequestPage" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestPage">
        <xsd:sequence>
          <xsd:element name="pageSeq" type="xsd:long" />
          <xsd:element name="versionSeq" type="xsd:long" />
          <xsd:element name="contentCount" type="xsd:long" />
          <xsd:element name="imnetId" type="xsd:string" />
          <xsd:element name="isSelectedForRelease" type="xsd:boolean" />
          <xsd:element name="isReleased" type="xsd:boolean" />
          <xsd:element name="pageNumber" type="xsd:int" />
          <xsd:element name="globalDocument" type="xsd:boolean" />
          <xsd:element name="pageNumberRequested" type="xsd:int" />
          <xsd:element name="deleted" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestPatientsList">
        <xsd:sequence>
          <xsd:element name="requestId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestPatients" type="eig:RequestPatient" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreSearchCriteria">
        <xsd:sequence>
          <xsd:element name="requestId" type="xsd:long" />
          <xsd:element name="patientLastName" type="xsd:string" />
          <xsd:element name="patientFirstName" type="xsd:string" />
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="patientSsn" type="xsd:string" />
          <xsd:element name="encounter" type="xsd:string" />
          <xsd:element name="patientEpn" type="xsd:string" />
          <xsd:element name="patientId" type="xsd:long" />
          <xsd:element name="patientDob" nillable="true" type="xsd:dateTime" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="requestStatus" type="xsd:string" />
          <xsd:element name="requestReason" type="xsd:string" />
          <xsd:element name="invoiceNumber" type="xsd:long" />
          <xsd:element name="balanceDue" type="xsd:double" />
          <xsd:element name="balanceDueOperator" type="xsd:string" />
          <xsd:element name="requestorName" type="xsd:string" />
          <xsd:element name="requestorTypeName" type="xsd:string" />
          <xsd:element name="requestorType" type="xsd:long" />
          <xsd:element name="requestorId" type="xsd:long" />
          <xsd:element name="completedDateFrom" nillable="true" type="xsd:dateTime" />
          <xsd:element name="completedDateTo" nillable="true" type="xsd:dateTime" />
          <xsd:element name="receiptDateFrom" nillable="true" type="xsd:dateTime" />
          <xsd:element name="receiptDateTo" nillable="true" type="xsd:dateTime" />
          <xsd:element name="paginationData" type="eig:PaginationData" />
          <xsd:element name="maxCount" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PaginationData">
        <xsd:sequence>
          <xsd:element name="startIndex" type="xsd:int" />
          <xsd:element name="count" type="xsd:int" />
          <xsd:element name="isDesc" type="xsd:boolean" />
          <xsd:element name="domainType" type="xsd:string" />
          <xsd:element name="sortBy" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreSearchResult">
        <xsd:sequence>
          <xsd:element name="requestId" type="xsd:long" />
          <xsd:element name="receiptDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="requestStatus" type="xsd:string" />
          <xsd:element name="requestorName" type="xsd:string" />
          <xsd:element name="requestorType" type="xsd:long" />
          <xsd:element name="requestorTypeName" type="xsd:string" />
          <xsd:element name="subtitle" type="xsd:string" />
          <xsd:element name="lastUpdated" nillable="true" type="xsd:dateTime" />
          <xsd:element name="updatedBy" type="xsd:string" />
          <xsd:element name="balance" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="patients" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="encounters" type="xsd:string" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="patientLocked" type="xsd:boolean" />
          <xsd:element name="vip" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreSearchResultList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestCoreSearchResult" type="eig:RequestCoreSearchResult" />
          <xsd:element name="maxCountExceeded" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestSupplementalAttachment">
        <xsd:sequence>
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="patientSeq" type="xsd:long" />
          <xsd:element name="supplementalId" type="xsd:long" />
          <xsd:element name="attachmentSeq" type="xsd:long" />
          <xsd:element name="attachmentCoreSeq" type="xsd:long" />
          <xsd:element name="billingTierId" type="xsd:long" />
          <xsd:element name="type" type="xsd:string" />
          <xsd:element name="encounter" type="xsd:string" />
          <xsd:element name="docFacility" type="xsd:string" />
          <xsd:element name="freeformfacility" type="xsd:string" />
          <xsd:element name="subtitle" type="xsd:string" />
          <xsd:element name="isDeleted" type="xsd:string" />
          <xsd:element name="pageCount" type="xsd:string" />
          <xsd:element name="dateOfService" nillable="true" type="xsd:dateTime" />
          <xsd:element name="attachmentDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="uuid" type="xsd:string" />
          <xsd:element name="volume" type="xsd:string" />
          <xsd:element name="path" type="xsd:string" />
          <xsd:element name="filename" type="xsd:string" />
          <xsd:element name="filetype" type="xsd:string" />
          <xsd:element name="fileext" type="xsd:string" />
          <xsd:element name="printable" type="xsd:string" />
          <xsd:element name="submittedBy" type="xsd:string" />
          <xsd:element name="comment" type="xsd:string" />
          <xsd:element name="isSelectedForRelease" type="xsd:boolean" />
          <xsd:element name="isReleased" type="xsd:boolean" />
          <xsd:element name="externalSource" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestSupplementalDocument">
        <xsd:sequence>
          <xsd:element name="documentSeq" type="xsd:long" />
          <xsd:element name="documentCoreSeq" type="xsd:long" />
          <xsd:element name="supplementalId" type="xsd:long" />
          <xsd:element name="patientSeq" type="xsd:long" />
          <xsd:element name="billingTierId" type="xsd:long" />
          <xsd:element name="mrn" type="xsd:string" />
          <xsd:element name="facility" type="xsd:string" />
          <xsd:element name="docName" type="xsd:string" />
          <xsd:element name="encounter" type="xsd:string" />
          <xsd:element name="docFacility" type="xsd:string" />
          <xsd:element name="freeformfacility" type="xsd:string" />
          <xsd:element name="department" type="xsd:string" />
          <xsd:element name="subtitle" type="xsd:string" />
          <xsd:element name="pageCount" type="xsd:string" />
          <xsd:element name="dateOfService" nillable="true" type="xsd:dateTime" />
          <xsd:element name="comment" type="xsd:string" />
          <xsd:element name="isSelectedForRelease" type="xsd:boolean" />
          <xsd:element name="isReleased" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PageListMap">
        <xsd:sequence>
          <xsd:element name="pageSeq" type="xsd:long" />
          <xsd:element name="isSelectedForRelease" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DeletePatientList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="pageSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="encounterSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="patientSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="docSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="versionSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attachmentSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="documentSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supplementalAttachmentSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supplementalDocumentSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supplementalPatientSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="darPatientSeq" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="darSuppPatientSeq" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SaveRequestPatientList">
        <xsd:sequence>
          <xsd:element name="requestId" type="xsd:long" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="updatePatients" type="eig:RequestPatient" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="updateEncounters" type="eig:RequestEncounter" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="updateDocuments" type="eig:RequestDocument" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="updatePages" type="eig:RequestPage" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="updateVersions" type="eig:RequestVersion" />
          <xsd:element name="deletePatient" type="eig:DeletePatientList" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="updateSupplementalDocument" type="eig:RequestSupplementalDocument" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="updateSupplementalAttachement" type="eig:RequestSupplementalAttachment" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreCharges">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="createdBy" type="xsd:long" />
          <xsd:element name="modifiedBy" type="xsd:long" />
          <xsd:element name="createdDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="modifiedDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element name="requestCoreSeq" type="xsd:long" />
          <xsd:element name="previouslyReleasedCost" type="xsd:double" />
          <xsd:element name="releaseDate" nillable="true" type="xsd:dateTime" />
          <xsd:element name="releaseCost" type="xsd:double" />
          <xsd:element name="totalPages" type="xsd:int" />
          <xsd:element name="totalRequestCost" type="xsd:double" />
          <xsd:element name="balanceDue" type="xsd:double" />
          <xsd:element name="totalPagesReleased" type="xsd:int" />
          <xsd:element name="salesTaxAmount" type="xsd:double" />
          <xsd:element name="salesTaxPercentage" type="xsd:double" />
          <xsd:element name="billingType" type="xsd:string" />
          <xsd:element name="originalBalance" type="xsd:double" />
          <xsd:element name="paymentAmount" type="xsd:double" />
          <xsd:element name="creditAdjustmentAmount" type="xsd:double" />
          <xsd:element name="debitAdjustmentAmount" type="xsd:double" />
          <xsd:element name="billingLocCode" type="xsd:string" />
          <xsd:element name="billingLocName" type="xsd:string" />
          <xsd:element name="applySalesTax" type="xsd:boolean" />
          <xsd:element name="displayBillingPaymentInfo" type="xsd:boolean" />
          <xsd:element name="invoiceBaseCharge" type="xsd:double" />
          <xsd:element name="invoiceAutoAdjustment" type="xsd:double" />
          <xsd:element name="released" type="xsd:boolean" />
          <xsd:element name="hasUnReleasedInvoices" type="xsd:boolean" />
          <xsd:element name="invoicesBalance" type="xsd:double" />
          <xsd:element name="invoicesSalesTaxAmount" type="xsd:double" />
          <xsd:element name="unbillable" type="xsd:boolean" />
          <xsd:element name="hasInvoices" type="xsd:boolean" />
          <xsd:element name="totalUnappliedPaymentAmount" type="xsd:double" />
          <xsd:element name="totalUnappliedAdjustmentAmount" type="xsd:double" />
          <xsd:element name="totalUnappliedAmount" type="xsd:double" />
          <xsd:element name="salesTaxSummary" type="eig:SalesTaxSummary" />
          <xsd:element name="requestCoreChargesBilling" type="eig:RequestCoreChargesBilling" />
          <xsd:element name="requestCoreChargesShipping" type="eig:RequestCoreChargesShipping" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreChargesBilling">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestCoreChargesFee" type="eig:RequestCoreChargesFee" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestCoreChargesDocument" type="eig:RequestCoreChargesDocument" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreChargesDocument">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="createdBy" type="xsd:long" />
          <xsd:element name="modifiedBy" type="xsd:long" />
          <xsd:element name="createdDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="modifiedDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element name="requestCoreChargesSeq" type="xsd:long" />
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="copies" type="xsd:int" />
          <xsd:element name="billingTierName" type="xsd:string" />
          <xsd:element name="totalPages" type="xsd:int" />
          <xsd:element name="pages" type="xsd:int" />
          <xsd:element name="billingtierId" type="xsd:string" />
          <xsd:element name="releaseCount" type="xsd:int" />
          <xsd:element name="isElectronic" type="xsd:boolean" />
          <xsd:element name="removeBaseCharge" type="xsd:boolean" />
          <xsd:element name="hasSalesTax" type="xsd:boolean" />
          <xsd:element name="salesTaxAmount" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreChargesFee">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="createdBy" type="xsd:long" />
          <xsd:element name="modifiedBy" type="xsd:long" />
          <xsd:element name="createdDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="modifiedDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element name="requestCoreChargesSeq" type="xsd:long" />
          <xsd:element name="amount" type="xsd:double" />
          <xsd:element name="isCustomFee" type="xsd:boolean" />
          <xsd:element name="feeType" type="xsd:string" />
          <xsd:element name="hasSalesTax" type="xsd:boolean" />
          <xsd:element name="salesTaxAmount" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreChargesShipping">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="createdBy" type="xsd:long" />
          <xsd:element name="modifiedBy" type="xsd:long" />
          <xsd:element name="createdDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="modifiedDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element name="requestCoreChargesSeq" type="xsd:long" />
          <xsd:element name="shippingCharge" type="xsd:double" />
          <xsd:element name="postalCode" type="xsd:string" />
          <xsd:element name="addressType" type="xsd:string" />
          <xsd:element name="state" type="xsd:string" />
          <xsd:element name="shippingUrl" type="xsd:string" />
          <xsd:element name="address1" type="xsd:string" />
          <xsd:element name="address2" type="xsd:string" />
          <xsd:element name="shippingWeight" type="xsd:double" />
          <xsd:element name="trackingNumber" type="xsd:string" />
          <xsd:element name="address3" type="xsd:string" />
          <xsd:element name="city" type="xsd:string" />
          <xsd:element name="countryCode" type="xsd:string" />
          <xsd:element name="countryName" type="xsd:string" />
          <xsd:element name="newCountry" type="xsd:boolean" />
          <xsd:element name="willReleaseShipped" type="xsd:boolean" />
          <xsd:element name="shippingMethod" type="xsd:string" />
          <xsd:element name="outputMethod" type="xsd:string" />
          <xsd:element name="shippingMethodId" type="xsd:long" />
          <xsd:element name="nonPrintableAttachmentQueue" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreChargesInvoice">
        <xsd:sequence>
          <xsd:element name="test" type="xsd:string" />
          <xsd:element name="requestCoreDeliveryChargesId" type="xsd:long" />
          <xsd:element name="invoiceCreatedDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="invoicedAmount" type="xsd:double" />
          <xsd:element name="paymentAmount" type="xsd:double" />
          <xsd:element name="isInvoice" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestCoreDeliveryChargesAdjustmentPayment" type="eig:RequestCoreDeliveryChargesAdjustmentPayment" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreChargesInvoicesList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestCoreChargesInvoice" type="eig:RequestCoreChargesInvoice" />
          <xsd:element name="isInvoiced" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestCoreDeliveryChargesAdjustmentPayment">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="createdBy" type="xsd:long" />
          <xsd:element name="modifiedBy" type="xsd:long" />
          <xsd:element name="createdDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="modifiedDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element name="requestorId" type="xsd:long" />
          <xsd:element name="requestCoreDeliveryChargesId" type="xsd:long" />
          <xsd:element name="invoiceAppliedAmount" type="xsd:double" />
          <xsd:element name="baseAmount" type="xsd:double" />
          <xsd:element name="totalUnappliedAmount" type="xsd:double" />
          <xsd:element name="paymentMode" type="xsd:string" />
          <xsd:element name="description" type="xsd:string" />
          <xsd:element name="paymentDate" type="xsd:dateTime" />
          <xsd:element name="transactionType" type="xsd:string" />
          <xsd:element name="isDebit" type="xsd:boolean" />
          <xsd:element name="newlyAdded" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SalesTaxReason">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="createdBy" type="xsd:long" />
          <xsd:element name="modifiedBy" type="xsd:long" />
          <xsd:element name="createdDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="modifiedDt" nillable="true" type="xsd:dateTime" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element name="requestCoreChargesSeq" type="xsd:long" />
          <xsd:element name="reason" type="xsd:string" />
          <xsd:element name="reasonDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuditEvent">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="eventId" type="xsd:long" />
          <xsd:element minOccurs="0" name="domainId" type="xsd:long" />
          <xsd:element minOccurs="0" name="componentId" type="xsd:long" />
          <xsd:element minOccurs="0" name="userId" type="xsd:long" />
          <xsd:element minOccurs="0" name="eventStart" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="eventEnd" nillable="true" type="xsd:dateTime" />
          <xsd:element minOccurs="0" name="eventStatus" nillable="true" type="xsd:long" />
          <xsd:element minOccurs="0" name="location" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="objectId" nillable="true" type="xsd:long" />
          <xsd:element minOccurs="0" name="comment" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="workflowReason" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="actionCode" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="encounter" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="facility" nillable="true" type="xsd:string" />
          <xsd:element minOccurs="0" name="mrn" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AuditAndEventList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="events" type="eig:RequestEvent" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="auditEvent" type="eig:AuditEvent" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SalesTaxSummary">
        <xsd:sequence>
          <xsd:element name="test" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="salesTaxReason" type="eig:SalesTaxReason" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EventTypes">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="eventType" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestEvent">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
          <xsd:element minOccurs="0" name="name" type="xsd:string" />
          <xsd:element minOccurs="0" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="originator" type="xsd:string" />
          <xsd:element minOccurs="0" name="modifiedDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestEvents">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="events" type="eig:RequestEvent" />
          <xsd:element name="eventsCount" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Comments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="comment" type="eig:Comment" />
          <xsd:element name="commentsCount" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Comment">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="requestId" type="xsd:long" />
          <xsd:element minOccurs="0" name="type" type="xsd:string" />
          <xsd:element minOccurs="0" name="description" type="xsd:string" />
          <xsd:element minOccurs="0" name="originator" type="xsd:string" />
          <xsd:element minOccurs="0" name="createdDate" nillable="true" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="searchRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCoreSearchCriteria" type="eig:RequestCoreSearchCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCoreSearchResultList" type="eig:RequestCoreSearchResultList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCore" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCore" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
            <xsd:element name="isSearchRetrieve" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCore" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRequestResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCore" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateRequestResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCore" type="eig:Request" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequestPatient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequestPatientResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestPatientsList" type="eig:RequestPatientsList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="saveRequestPatient">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="saveRequestPatientsList" type="eig:SaveRequestPatientList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="saveRequestPatientResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestPatientsList" type="eig:RequestPatientsList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="saveRequestCoreCharges">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCoreChargesReq" type="eig:RequestCoreCharges" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="saveRequestCoreChargesResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequestCoreCharges">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequestCoreChargesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCoreChargesReq" type="eig:RequestCoreCharges" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInvoicesAndAdjPay">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCoreId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveInvoicesAndAdjPayResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCoreChargesInvoicesList" type="eig:RequestCoreChargesInvoicesList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveComments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveCommentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="comments" type="eig:Comments" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEventHistory">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getEventHistoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestEvents" type="eig:RequestEvents" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveAllEventTypes">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveAllEventTypesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="eventType" type="eig:EventTypes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRequestCount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCoreSearchCriteria" type="eig:RequestCoreSearchCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getRequestCountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getRequestCountResult" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addEvent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="events" type="eig:RequestEvent" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addEventResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="events" type="eig:RequestEvent" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getGeneratedPassword">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getGeneratedPasswordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="getGeneratedPasswordResult" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addAuditAndEvent">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="auditAndEventList" type="eig:AuditAndEventList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="addAuditAndEventResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveReleasedDocumentChargesByBillingTier">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveReleasedDocumentChargesByBillingTierResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="requestCoreChargesDocument" type="eig:RequestCoreChargesDocument" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequestInvoices">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestCoreId" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveRequestInvoicesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="requestorInvoicesList" type="eig:RequestorInvoicesList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hasSecurityRightsForRelease">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="hasSecurityRightsForReleaseResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="searchRequest">
    <wsdl:part name="parameters" element="eig:searchRequest" />
  </wsdl:message>
  <wsdl:message name="searchRequestResponse">
    <wsdl:part name="parameters" element="eig:searchRequestResponse" />
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part name="parameters" element="eig:createRequest" />
  </wsdl:message>
  <wsdl:message name="createRequestResponse">
    <wsdl:part name="parameters" element="eig:createRequestResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveRequest">
    <wsdl:part name="parameters" element="eig:retrieveRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveRequestResponse">
    <wsdl:part name="parameters" element="eig:retrieveRequestResponse" />
  </wsdl:message>
  <wsdl:message name="deleteRequestRequest">
    <wsdl:part name="parameters" element="eig:deleteRequest" />
  </wsdl:message>
  <wsdl:message name="deleteRequestResponse">
    <wsdl:part name="parameters" element="eig:deleteRequestResponse" />
  </wsdl:message>
  <wsdl:message name="updateRequestRequest">
    <wsdl:part name="parameters" element="eig:updateRequest" />
  </wsdl:message>
  <wsdl:message name="updateRequestResponse">
    <wsdl:part name="parameters" element="eig:updateRequestResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveRequestPatientRequest">
    <wsdl:part name="parameters" element="eig:retrieveRequestPatient" />
  </wsdl:message>
  <wsdl:message name="retrieveRequestPatientResponse">
    <wsdl:part name="parameters" element="eig:retrieveRequestPatientResponse" />
  </wsdl:message>
  <wsdl:message name="saveRequestPatientRequest">
    <wsdl:part name="parameters" element="eig:saveRequestPatient" />
  </wsdl:message>
  <wsdl:message name="saveRequestPatientResponse">
    <wsdl:part name="parameters" element="eig:saveRequestPatientResponse" />
  </wsdl:message>
  <wsdl:message name="saveRequestCoreChargesRequest">
    <wsdl:part name="parameters" element="eig:saveRequestCoreCharges" />
  </wsdl:message>
  <wsdl:message name="saveRequestCoreChargesResponse">
    <wsdl:part name="parameters" element="eig:saveRequestCoreChargesResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveRequestCoreChargesRequest">
    <wsdl:part name="parameters" element="eig:retrieveRequestCoreCharges" />
  </wsdl:message>
  <wsdl:message name="retrieveRequestCoreChargesResponse">
    <wsdl:part name="parameters" element="eig:retrieveRequestCoreChargesResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveInvoicesAndAdjPayRequest">
    <wsdl:part name="parameters" element="eig:retrieveInvoicesAndAdjPay" />
  </wsdl:message>
  <wsdl:message name="retrieveInvoicesAndAdjPayResponse">
    <wsdl:part name="parameters" element="eig:retrieveInvoicesAndAdjPayResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveCommentsRequest">
    <wsdl:part name="parameters" element="eig:retrieveComments" />
  </wsdl:message>
  <wsdl:message name="retrieveCommentsResponse">
    <wsdl:part name="parameters" element="eig:retrieveCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="getEventHistoryRequest">
    <wsdl:part name="parameters" element="eig:getEventHistory" />
  </wsdl:message>
  <wsdl:message name="getEventHistoryResponse">
    <wsdl:part name="parameters" element="eig:getEventHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveAllEventTypesRequest">
    <wsdl:part name="parameters" element="eig:retrieveAllEventTypes" />
  </wsdl:message>
  <wsdl:message name="retrieveAllEventTypesResponse">
    <wsdl:part name="parameters" element="eig:retrieveAllEventTypesResponse" />
  </wsdl:message>
  <wsdl:message name="getRequestCount">
    <wsdl:part name="parameters" element="eig:getRequestCount" />
  </wsdl:message>
  <wsdl:message name="getRequestCountResponse">
    <wsdl:part name="parameters" element="eig:getRequestCountResponse" />
  </wsdl:message>
  <wsdl:message name="addEventRequest">
    <wsdl:part name="parameters" element="eig:addEvent" />
  </wsdl:message>
  <wsdl:message name="addEventResponse">
    <wsdl:part name="parameters" element="eig:addEventResponse" />
  </wsdl:message>
  <wsdl:message name="getGeneratedPasswordResponse">
    <wsdl:part name="parameters" element="eig:getGeneratedPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="getGeneratedPasswordRequest">
    <wsdl:part name="parameters" element="eig:getGeneratedPassword" />
  </wsdl:message>
  <wsdl:message name="addAuditAndEventRequest">
    <wsdl:part name="parameters" element="eig:addAuditAndEvent" />
  </wsdl:message>
  <wsdl:message name="addAuditAndEventResponse">
    <wsdl:part name="parameters" element="eig:addAuditAndEventResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveReleasedDocumentChargesByBillingTierRequest">
    <wsdl:part name="parameters" element="eig:retrieveReleasedDocumentChargesByBillingTier" />
  </wsdl:message>
  <wsdl:message name="retrieveReleasedDocumentChargesByBillingTierResponse">
    <wsdl:part name="parameters" element="eig:retrieveReleasedDocumentChargesByBillingTierResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveRequestInvoicesRequest">
    <wsdl:part name="parameters" element="eig:retrieveRequestInvoices" />
  </wsdl:message>
  <wsdl:message name="retrieveRequestInvoicesResponse">
    <wsdl:part name="parameters" element="eig:retrieveRequestInvoicesResponse" />
  </wsdl:message>
  <wsdl:message name="hasSecurityRightsForReleaseRequest">
    <wsdl:part name="parameters" element="eig:hasSecurityRightsForRelease" />
  </wsdl:message>
  <wsdl:message name="hasSecurityRightsForReleaseResponse">
    <wsdl:part name="parameters" element="eig:hasSecurityRightsForReleaseResponse" />
  </wsdl:message>
  <wsdl:portType name="RequestCorePortType">
    <wsdl:operation name="searchRequest">
      <wsdl:input message="eig:searchRequest" />
      <wsdl:output message="eig:searchRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="createRequest">
      <wsdl:input message="eig:createRequest" />
      <wsdl:output message="eig:createRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveRequest">
      <wsdl:input message="eig:retrieveRequest" />
      <wsdl:output message="eig:retrieveRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteRequest">
      <wsdl:input message="eig:deleteRequestRequest" />
      <wsdl:output message="eig:deleteRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateRequest">
      <wsdl:input message="eig:updateRequestRequest" />
      <wsdl:output message="eig:updateRequestResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveRequestPatient">
      <wsdl:input message="eig:retrieveRequestPatientRequest" />
      <wsdl:output message="eig:retrieveRequestPatientResponse" />
    </wsdl:operation>
    <wsdl:operation name="saveRequestPatient">
      <wsdl:input message="eig:saveRequestPatientRequest" />
      <wsdl:output message="eig:saveRequestPatientResponse" />
    </wsdl:operation>
    <wsdl:operation name="saveRequestCoreCharges">
      <wsdl:input message="eig:saveRequestCoreChargesRequest" />
      <wsdl:output message="eig:saveRequestCoreChargesResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveRequestCoreCharges">
      <wsdl:input message="eig:retrieveRequestCoreChargesRequest" />
      <wsdl:output message="eig:retrieveRequestCoreChargesResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveInvoicesAndAdjPay">
      <wsdl:input message="eig:retrieveInvoicesAndAdjPayRequest" />
      <wsdl:output message="eig:retrieveInvoicesAndAdjPayResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveComments">
      <wsdl:input message="eig:retrieveCommentsRequest" />
      <wsdl:output message="eig:retrieveCommentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getEventHistory">
      <wsdl:input message="eig:getEventHistoryRequest" />
      <wsdl:output message="eig:getEventHistoryResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveAllEventTypes">
      <wsdl:input message="eig:retrieveAllEventTypesRequest" />
      <wsdl:output message="eig:retrieveAllEventTypesResponse" />
    </wsdl:operation>
    <wsdl:operation name="getRequestCount">
      <wsdl:input message="eig:getRequestCount" />
      <wsdl:output message="eig:getRequestCountResponse" />
    </wsdl:operation>
    <wsdl:operation name="addEvent">
      <wsdl:input message="eig:addEventRequest" />
      <wsdl:output message="eig:addEventResponse" />
    </wsdl:operation>
    <wsdl:operation name="getGeneratedPassword">
      <wsdl:input message="eig:getGeneratedPasswordRequest" />
      <wsdl:output message="eig:getGeneratedPasswordResponse" />
    </wsdl:operation>
    <wsdl:operation name="addAuditAndEvent">
      <wsdl:input message="eig:addAuditAndEventRequest" />
      <wsdl:output message="eig:addAuditAndEventResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveReleasedDocumentChargesByBillingTier">
      <wsdl:input message="eig:retrieveReleasedDocumentChargesByBillingTierRequest" />
      <wsdl:output message="eig:retrieveReleasedDocumentChargesByBillingTierResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveRequestInvoices">
      <wsdl:input message="eig:retrieveRequestInvoicesRequest" />
      <wsdl:output message="eig:retrieveRequestInvoicesResponse" />
    </wsdl:operation>
    <wsdl:operation name="hasSecurityRightsForRelease">
      <wsdl:input message="eig:hasSecurityRightsForReleaseRequest" />
      <wsdl:output message="eig:hasSecurityRightsForReleaseResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ROIRequestCoreSoapBinding" type="eig:RequestCorePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/searchRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/createCoreRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveCoreRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteCoreRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRequest">
      <soap:operation soapAction="urn:eig.mckesson.com/updateCoreRequest" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveRequestPatient">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveRequestPatient" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRequestPatient">
      <soap:operation soapAction="urn:eig.mckesson.com/saveRequestPatient" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveRequestCoreCharges">
      <soap:operation soapAction="urn:eig.mckesson.com/saveRequestCoreCharges" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveRequestCoreCharges">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveRequestCoreCharges" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveInvoicesAndAdjPay">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveInvoicesAndAdjPay" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveComments">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveComments" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEventHistory">
      <soap:operation soapAction="urn:eig.mckesson.com/getEventHistory" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveAllEventTypes">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAllEventTypes" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRequestCount">
      <soap:operation soapAction="urn:eig.mckesson.com/getRequestCount" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addEvent">
      <soap:operation soapAction="urn:eig.mckesson.com/addEvent" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGeneratedPassword">
      <soap:operation soapAction="urn:eig.mckesson.com/getGeneratedPassword" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addAuditAndEvent">
      <soap:operation soapAction="urn:eig.mckesson.com/addAuditAndEvent" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveReleasedDocumentChargesByBillingTier">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveReleasedDocumentChargesByBillingTier" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveRequestInvoices">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveRequestInvoices" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="hasSecurityRightsForRelease">
      <soap:operation soapAction="urn:eig.mckesson.com/hasSecurityRightsForRelease" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RequestCoreService">
    <wsdl:documentation>

      This service implements all ROI Request Service Calls
      </wsdl:documentation>
    <wsdl:port name="requestCorePort" binding="eig:ROIRequestCoreSoapBinding">
      <soap:address location="http://127.0.0.1:18080/roi/services/RequestCoreService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>