src/client/McK.EIG.ROI.Client/Web References/Web_References.ConfigurationWS/configuration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:eig="urn:eig.mckesson.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:element name="trackSession" type="xsd:boolean" />
      <xsd:element name="getConfiguration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCodeSet">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDepartment">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDocumentTypesByCodeId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="setId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="item">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="items">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="eig:item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="configuration">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="items" type="eig:items" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="codeSet">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="items" type="eig:items" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="documentTypes">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="items" type="eig:items" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="department">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="items" type="eig:items" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getConfigurationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="configuration" type="eig:configuration" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCodeSetResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="codeSet" type="eig:codeSet" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDepartmentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="department" type="eig:department" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getDocumentTypesByCodeIdResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentTypes" type="eig:documentTypes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getConfigurationRequest">
    <wsdl:part name="parameters" element="eig:getConfiguration" />
  </wsdl:message>
  <wsdl:message name="getConfigurationResponse">
    <wsdl:part name="parameters" element="eig:getConfigurationResponse" />
  </wsdl:message>
  <wsdl:message name="getCodeSetRequest">
    <wsdl:part name="parameters" element="eig:getCodeSet" />
  </wsdl:message>
  <wsdl:message name="getCodeSetResponse">
    <wsdl:part name="parameters" element="eig:getCodeSetResponse" />
  </wsdl:message>
  <wsdl:message name="getDocumentTypesByCodeIdRequest">
    <wsdl:part name="parameters" element="eig:getDocumentTypesByCodeId" />
  </wsdl:message>
  <wsdl:message name="getDocumentTypesByCodeIdResponse">
    <wsdl:part name="parameters" element="eig:getDocumentTypesByCodeIdResponse" />
  </wsdl:message>
  <wsdl:message name="getDepartmentRequest">
    <wsdl:part name="parameters" element="eig:getDepartment" />
  </wsdl:message>
  <wsdl:message name="getDepartmentResponse">
    <wsdl:part name="parameters" element="eig:getDepartmentResponse" />
  </wsdl:message>
  <wsdl:portType name="ConfigurationPortType">
    <wsdl:operation name="getConfiguration">
      <wsdl:input message="eig:getConfigurationRequest" />
      <wsdl:output message="eig:getConfigurationResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCodeSet">
      <wsdl:input message="eig:getCodeSetRequest" />
      <wsdl:output message="eig:getCodeSetResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentTypesByCodeId">
      <wsdl:input message="eig:getDocumentTypesByCodeIdRequest" />
      <wsdl:output message="eig:getDocumentTypesByCodeIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="getDepartment">
      <wsdl:input message="eig:getDepartmentRequest" />
      <wsdl:output message="eig:getDepartmentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConfigurationSoapBinding" type="eig:ConfigurationPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getConfiguration">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCodeSet">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentTypesByCodeId">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDepartment">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConfigurationService">
    <wsdl:port name="configuration" binding="eig:ConfigurationSoapBinding">
      <soap:address location="http://eigdev548:5869/portal/eig/iservices/configuration" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>