OC-113529/client/McK.EIG.ROI.Client/Web References/Web_References.MedicalRecordWS/medicalRecord.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:eig="urn:eig.mckesson.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:element name="trackSession" type="xsd:boolean" />
      <xsd:complexType name="values">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getSelfPayEncountersForMrns">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="mrns" type="eig:values" />
            <xsd:element minOccurs="1" maxOccurs="1" name="facility" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getSelfPayEncountersForMrnsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="encounterResultList" type="eig:values" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getCustomFields">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="type" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="field" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="facility" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMedicalRecord">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="mrn" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="facility" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="dateFormat" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="includeDocuments" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMedicalRecordForMrnFacility">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="mrn" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="facility" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="dateFormat" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="includeDocuments" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPagesForDocument">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="docId" type="xsd:int" />
            <xsd:element minOccurs="1" maxOccurs="1" name="includeVersions" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPagesForDocuments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="userid" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="userpassword" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="time" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="key" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="docIds" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="includeVersions" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="item">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="items">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="item" type="eig:item" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="customFields">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="items" type="eig:items" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="page">
        <xsd:sequence>
          <xsd:element name="imnet" type="xsd:string" />
          <xsd:element name="pageNumber" type="xsd:int" />
          <xsd:element name="contentCount" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="pages">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="page" type="eig:page" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="version">
        <xsd:sequence>
          <xsd:element name="versionNumber" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="pages" type="eig:pages" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="versions">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="version" type="eig:version" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="document">
        <xsd:sequence>
          <xsd:element name="docId" type="xsd:long" />
          <xsd:element name="subtitle" type="xsd:string" />
          <xsd:element name="dateTime" type="xsd:string" />
          <xsd:element name="docName" type="xsd:string" />
          <xsd:element name="chartOrder" type="xsd:integer" />
          <xsd:element name="docTypeId" type="xsd:integer" />
          <xsd:element minOccurs="0" maxOccurs="1" name="versions" type="eig:versions" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="documents">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="document" type="eig:document" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="documentList">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="documents" type="eig:documents" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="globalDocuments">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="document" type="eig:document" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="encounter">
        <xsd:sequence>
          <xsd:element name="encounterNumber" type="xsd:string" />
          <xsd:element name="facilityCode" type="xsd:string" />
          <xsd:element name="admitDate" type="xsd:string" />
          <xsd:element name="dischargeDate" type="xsd:string" />
          <xsd:element name="patientType" type="xsd:string" />
          <xsd:element name="patientService" type="xsd:string" />
          <xsd:element name="clinic" type="xsd:string" />
          <xsd:element name="disposition" type="xsd:string" />
          <xsd:element name="financialClass" type="xsd:string" />
          <xsd:element name="balance" type="xsd:string" />
          <xsd:element name="vip" type="xsd:boolean" />
          <xsd:element name="locked" type="xsd:boolean" />
          <xsd:element name="hasDeficiency" type="xsd:boolean" />
          <xsd:element name="selfPay" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="documents" type="eig:documents" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="encounters">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="encounter" type="eig:encounter" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="medicalRecord">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="encounters" type="eig:encounters" />
          <xsd:element minOccurs="0" maxOccurs="1" name="globalDocuments" type="eig:globalDocuments" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="getCustomFieldsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="customFields" type="eig:customFields" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMedicalRecordResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="medicalRecord" type="eig:medicalRecord" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getMedicalRecordForMrnFacilityResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="medicalRecord" type="eig:medicalRecord" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPagesForDocumentResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="document" type="eig:document" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getPagesForDocumentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="documentList" type="eig:documentList" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getSelfPayEncountersForMrnsRequest">
    <wsdl:part name="parameters" element="eig:getSelfPayEncountersForMrns" />
  </wsdl:message>
  <wsdl:message name="getSelfPayEncountersForMrnsResponse">
    <wsdl:part name="parameters" element="eig:getSelfPayEncountersForMrnsResponse" />
  </wsdl:message>
  <wsdl:message name="getCustomFieldsRequest">
    <wsdl:part name="parameters" element="eig:getCustomFields" />
  </wsdl:message>
  <wsdl:message name="getCustomFieldsResponse">
    <wsdl:part name="parameters" element="eig:getCustomFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="getMedicalRecordRequest">
    <wsdl:part name="parameters" element="eig:getMedicalRecord" />
  </wsdl:message>
  <wsdl:message name="getMedicalRecordResponse">
    <wsdl:part name="parameters" element="eig:getMedicalRecordResponse" />
  </wsdl:message>
  <wsdl:message name="getMedicalRecordForMrnFacilityRequest">
    <wsdl:part name="parameters" element="eig:getMedicalRecordForMrnFacility" />
  </wsdl:message>
  <wsdl:message name="getMedicalRecordForMrnFacilityResponse">
    <wsdl:part name="parameters" element="eig:getMedicalRecordForMrnFacilityResponse" />
  </wsdl:message>
  <wsdl:message name="getPagesForDocumentRequest">
    <wsdl:part name="parameters" element="eig:getPagesForDocument" />
  </wsdl:message>
  <wsdl:message name="getPagesForDocumentResponse">
    <wsdl:part name="parameters" element="eig:getPagesForDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="getPagesForDocumentsRequest">
    <wsdl:part name="parameters" element="eig:getPagesForDocuments" />
  </wsdl:message>
  <wsdl:message name="getPagesForDocumentsResponse">
    <wsdl:part name="parameters" element="eig:getPagesForDocumentsResponse" />
  </wsdl:message>
  <wsdl:portType name="MedicalRecordPortType">
    <wsdl:operation name="getSelfPayEncountersForMrns">
      <wsdl:input message="eig:getSelfPayEncountersForMrnsRequest" />
      <wsdl:output message="eig:getSelfPayEncountersForMrnsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getCustomFields">
      <wsdl:input message="eig:getCustomFieldsRequest" />
      <wsdl:output message="eig:getCustomFieldsResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMedicalRecord">
      <wsdl:input message="eig:getMedicalRecordRequest" />
      <wsdl:output message="eig:getMedicalRecordResponse" />
    </wsdl:operation>
    <wsdl:operation name="getMedicalRecordForMrnFacility">
      <wsdl:input message="eig:getMedicalRecordForMrnFacilityRequest" />
      <wsdl:output message="eig:getMedicalRecordForMrnFacilityResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPagesForDocument">
      <wsdl:input message="eig:getPagesForDocumentRequest" />
      <wsdl:output message="eig:getPagesForDocumentResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPagesForDocuments">
      <wsdl:input message="eig:getPagesForDocumentsRequest" />
      <wsdl:output message="eig:getPagesForDocumentsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MedicalRecordSoapBinding" type="eig:MedicalRecordPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getSelfPayEncountersForMrns">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCustomFields">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMedicalRecord">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMedicalRecordForMrnFacility">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPagesForDocument">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPagesForDocuments">
      <soap:operation soapAction="" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MedicalRecordService">
    <wsdl:port name="medicalRecord" binding="eig:MedicalRecordSoapBinding">
      <soap:address location="http://192.168.6.126:8081/portal/eig/iservices/medicalRecord" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>