trunk_JarUpgrade/client/McK.EIG.ROI.Client/Web References/Web_References.ROISupplementalWS/ROISupplementalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:eig="urn:eig.mckesson.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="ROISupplementalService" targetNamespace="urn:eig.mckesson.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>

        This WSDL contains the ROI supplemental Services
     </wsdl:documentation>
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:eig.mckesson.com">
      <xsd:import schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />
      <xsd:element name="transactionId" type="xsd:long" />
      <xsd:complexType name="attachment">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element name="supplementId" type="xsd:long" />
          <xsd:element name="docId" type="xsd:long" />
          <xsd:element minOccurs="0" name="volume" type="xsd:string" />
          <xsd:element minOccurs="0" name="path" type="xsd:string" />
          <xsd:element minOccurs="0" name="filename" type="xsd:string" />
          <xsd:element minOccurs="0" name="ext" type="xsd:string" />
          <xsd:element name="createAttachment" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ROISupplemental">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="details" type="xsd:string" />
          <xsd:element name="recordVersion" type="xsd:int" />
          <xsd:element name="hasRequest" type="xsd:boolean" />
          <xsd:element minOccurs="0" name="auditMessage" type="xsd:string" />
          <xsd:element minOccurs="0" name="auditCode" type="xsd:string" />
          <xsd:element minOccurs="0" name="facility" type="xsd:string" />
          <xsd:element minOccurs="0" name="mrn" type="xsd:string" />
          <xsd:element minOccurs="0" name="encounter" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="lovs" type="eig:ROILoV" />
          <xsd:element minOccurs="0" name="releasedSupplementalDocIds" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="attachments" type="eig:attachment" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ROILoV">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long" />
          <xsd:element minOccurs="0" name="domainType" type="xsd:string" />
          <xsd:element name="domainSource" type="xsd:string" />
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
          <xsd:element name="child" type="xsd:long" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchLov">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="domainType" type="xsd:string" />
          <xsd:element name="domainSource" type="xsd:string" />
          <xsd:element name="key" type="xsd:string" />
          <xsd:element name="condition" type="xsd:string" />
          <xsd:element name="dataType" type="xsd:string" />
          <xsd:element name="value" type="xsd:string" />
          <xsd:element name="valueTo" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SearchLoVCriteria">
        <xsd:sequence>
          <xsd:element name="maxCount" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="searchlovs" type="eig:SearchLov" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="SupplementalSearchResult">
        <xsd:sequence>
          <xsd:element name="maxCountExceeded" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="supplementals" type="eig:ROISupplemental" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="createROISupplemental">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplemental" type="eig:ROISupplemental" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createROISupplementalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveROISupplemental">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveROISupplementalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplemental" type="eig:ROISupplemental" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateROISupplemental">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplemental" type="eig:ROISupplemental" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateROISupplementalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplemental" type="eig:ROISupplemental" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteROISupplemental">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplemental" type="eig:ROISupplemental" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteROISupplementalResponse">
        <xsd:complexType>
          <xsd:sequence />
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkDuplicates">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="id" type="xsd:long" />
            <xsd:element name="roilov" type="eig:ROILoV" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="checkDuplicatesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchROISupplemental">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="criteria" type="eig:SearchLoVCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchROISupplementalResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchResult" type="eig:SupplementalSearchResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveSupplementalDocuments">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="criteria" type="eig:SearchLoVCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="retrieveSupplementalDocumentsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="supplemental" nillable="true" type="eig:ROISupplemental" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchMatchingSupplementals">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="criteria" type="eig:SearchLoVCriteria" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="searchMatchingSupplementalsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="searchResult" type="eig:SupplementalSearchResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="header">
    <wsdl:part name="wssHeader" element="wsse:Security" />
    <wsdl:part name="transIdHeader" element="eig:transactionId" />
  </wsdl:message>
  <wsdl:message name="createROISupplementalRequest">
    <wsdl:part name="parameters" element="eig:createROISupplemental" />
  </wsdl:message>
  <wsdl:message name="createROISupplementalResponse">
    <wsdl:part name="parameters" element="eig:createROISupplementalResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveROISupplementalRequest">
    <wsdl:part name="parameters" element="eig:retrieveROISupplemental" />
  </wsdl:message>
  <wsdl:message name="retrieveROISupplementalResponse">
    <wsdl:part name="parameters" element="eig:retrieveROISupplementalResponse" />
  </wsdl:message>
  <wsdl:message name="deleteROISupplementalRequest">
    <wsdl:part name="parameters" element="eig:deleteROISupplemental" />
  </wsdl:message>
  <wsdl:message name="deleteROISupplementalResponse">
    <wsdl:part name="parameters" element="eig:deleteROISupplementalResponse" />
  </wsdl:message>
  <wsdl:message name="updateROISupplementalRequest">
    <wsdl:part name="parameters" element="eig:updateROISupplemental" />
  </wsdl:message>
  <wsdl:message name="updateROISupplementalResponse">
    <wsdl:part name="parameters" element="eig:updateROISupplementalResponse" />
  </wsdl:message>
  <wsdl:message name="checkDuplicatesRequest">
    <wsdl:part name="parameters" element="eig:checkDuplicates" />
  </wsdl:message>
  <wsdl:message name="checkDuplicatesResponse">
    <wsdl:part name="parameters" element="eig:checkDuplicatesResponse" />
  </wsdl:message>
  <wsdl:message name="searchROISupplementalRequest">
    <wsdl:part name="parameters" element="eig:searchROISupplemental" />
  </wsdl:message>
  <wsdl:message name="searchROISupplementalResponse">
    <wsdl:part name="parameters" element="eig:searchROISupplementalResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveSupplementalDocumentsRequest">
    <wsdl:part name="parameters" element="eig:retrieveSupplementalDocuments" />
  </wsdl:message>
  <wsdl:message name="retrieveSupplementalDocumentsResponse">
    <wsdl:part name="parameters" element="eig:retrieveSupplementalDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="searchMatchingSupplementalsRequest">
    <wsdl:part name="parameters" element="eig:searchMatchingSupplementals" />
  </wsdl:message>
  <wsdl:message name="searchMatchingSupplementalsResponse">
    <wsdl:part name="parameters" element="eig:searchMatchingSupplementalsResponse" />
  </wsdl:message>
  <wsdl:portType name="ROISupplementalPortType">
    <wsdl:operation name="createROISupplemental">
      <wsdl:input message="eig:createROISupplementalRequest" />
      <wsdl:output message="eig:createROISupplementalResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveROISupplemental">
      <wsdl:input message="eig:retrieveROISupplementalRequest" />
      <wsdl:output message="eig:retrieveROISupplementalResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteROISupplemental">
      <wsdl:input message="eig:deleteROISupplementalRequest" />
      <wsdl:output message="eig:deleteROISupplementalResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateROISupplemental">
      <wsdl:input message="eig:updateROISupplementalRequest" />
      <wsdl:output message="eig:updateROISupplementalResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkDuplicates">
      <wsdl:input message="eig:checkDuplicatesRequest" />
      <wsdl:output message="eig:checkDuplicatesResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchROISupplemental">
      <wsdl:input message="eig:searchROISupplementalRequest" />
      <wsdl:output message="eig:searchROISupplementalResponse" />
    </wsdl:operation>
    <wsdl:operation name="retrieveSupplementalDocuments">
      <wsdl:input message="eig:retrieveSupplementalDocumentsRequest" />
      <wsdl:output message="eig:retrieveSupplementalDocumentsResponse" />
    </wsdl:operation>
    <wsdl:operation name="searchMatchingSupplementals">
      <wsdl:input message="eig:searchMatchingSupplementalsRequest" />
      <wsdl:output message="eig:searchMatchingSupplementalsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ROISupplementalSoapBinding" type="eig:ROISupplementalPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createROISupplemental">
      <soap:operation soapAction="urn:eig.mckesson.com/createROISupplemental" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveROISupplemental">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveROISupplemental" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteROISupplemental">
      <soap:operation soapAction="urn:eig.mckesson.com/deleteROISupplemental" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateROISupplemental">
      <soap:operation soapAction="urn:eig.mckesson.com/updateROISupplemental" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkDuplicates">
      <soap:operation soapAction="urn:eig.mckesson.com/checkDuplicates" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchROISupplemental">
      <soap:operation soapAction="urn:eig.mckesson.com/searchROISupplemental" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="retrieveSupplementalDocuments">
      <soap:operation soapAction="urn:eig.mckesson.com/retrieveSupplementalDocuments" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchMatchingSupplementals">
      <soap:operation soapAction="urn:eig.mckesson.com/searchMatchingSupplementals" />
      <wsdl:input>
        <soap:header message="eig:header" part="transIdHeader" use="literal" />
        <soap:header message="eig:header" part="wssHeader" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ROISupplementalService">
    <wsdl:documentation>

      This service implements all ROI Supplemental Service Calls
      </wsdl:documentation>
    <wsdl:port name="roiSupplementalPort" binding="eig:ROISupplementalSoapBinding">
      <soap:address location="http://127.0.0.1:8080/roi/services/ROISupplementalService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>