src/serverandcommon-pt/src/server-roi/webapp/src/main/webapp/WEB-INF/eig/roi/roi.attachment.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:eig.mckesson.com"
  name="ROIAttachmentService"
  xmlns:eig="urn:eig.mckesson.com"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <wsdl:documentation>
    This WSDL contains the ROIAttachment Services
  </wsdl:documentation>
  
   <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
    	targetNamespace="urn:eig.mckesson.com">

    	<xsd:import
    		namespace="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"
    		schemaLocation="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" />

    	<xsd:element name="transactionId" type="xsd:long" />

    	<!--   ROI Attachment Complex Data Types -->

    	<xsd:complexType name="ROIAttachment">
    		<xsd:sequence>
    			<xsd:element name="id" type="xsd:long"></xsd:element>
    			<xsd:element name="volume" type="xsd:string"></xsd:element>
    			<xsd:element name="path" type="xsd:string"></xsd:element>
    			<xsd:element name="uuid" type="xsd:string"></xsd:element>
    			<xsd:element name="fileext" type="xsd:string"></xsd:element>
    			<xsd:element name="dateReceived" type="xsd:date"></xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>


    	<xsd:complexType name="AttachmentInfoList">
    		<xsd:sequence>
    			<xsd:element name="attachment"
    				type="eig:ROIAttachment" minOccurs="0" maxOccurs="unbounded">
    			</xsd:element>
    		</xsd:sequence>
    	</xsd:complexType>

    	<xsd:complexType name="AttachmentDeleteStatus">
    		<xsd:sequence>
    			<xsd:element name="attachmentId" type="xsd:long" />
    			<xsd:element name="deleteLog" type="xsd:string" />
    			<xsd:element name="deleted" type="xsd:boolean" />
    		</xsd:sequence>
    	</xsd:complexType>


    	<xsd:complexType name="AttachmentDeleteStatusList">
    		<xsd:sequence>
    			<xsd:element name="deletedAttachmentList" type="eig:AttachmentDeleteStatus" minOccurs="0" maxOccurs="unbounded" />
    		</xsd:sequence>
    	</xsd:complexType>

    	<xsd:complexType name="AttachmentSequenceList">
    		<xsd:sequence>
    			<xsd:element name="attachmentIds" type="xsd:long" minOccurs="0" maxOccurs="unbounded" />
    		</xsd:sequence>
    	</xsd:complexType>

    	<xsd:element name="getAllAttachments">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="mrn" type="xsd:string"></xsd:element>
    				<xsd:element name="facility" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>

    	<xsd:element name="getAllAttachmentsResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="AttachmentInfoList" type="eig:AttachmentInfoList"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	
    	<xsd:element name="deleteROIAttachments">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="AttachmentSequenceList" type="eig:AttachmentSequenceList" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	
    	<xsd:element name="deleteROIAttachmentsResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="AttachmentDeleteStatusList" type="eig:AttachmentDeleteStatusList" />
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>

    	<xsd:element name="retrieveAttachmentsInfo">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="mrn" type="xsd:string"></xsd:element>
    				<xsd:element name="facility" type="xsd:string"></xsd:element>
    				<xsd:element name="encounter" type="xsd:string"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	
    	<xsd:element name="retrieveAttachmentsInfoResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="AttachmentInfoList" type="eig:AttachmentInfoList"></xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	</xsd:schema>
	</wsdl:types>

	<wsdl:message name="header">
	  <wsdl:part name="wssHeader" element="wsse:Security" />
	  <wsdl:part name="transIdHeader" element="eig:transactionId" />
	</wsdl:message>
	
	<wsdl:message name="retrieveAttachmentsInfoRequest">
		<wsdl:part name="parameters" element="eig:retrieveAttachmentsInfo"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="retrieveAttachmentsInfoResponse">
		<wsdl:part name="parameters" element="eig:retrieveAttachmentsInfoResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getAllAttachmentsRequest">
		<wsdl:part name="parameters" element="eig:getAllAttachments"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="getAllAttachmentsResponse">
		<wsdl:part name="parameters" element="eig:getAllAttachmentsResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="deleteROIAttachmentsRequest">
		<wsdl:part name="parameters" element="eig:deleteROIAttachments"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="deleteROIAttachmentsResponse">
		<wsdl:part name="parameters" element="eig:deleteROIAttachmentsResponse"></wsdl:part>
	</wsdl:message>
	  
	<wsdl:portType name="ROIAttachmentPortType">
	
		<!--Attachment Method Operations-->
	
	    <wsdl:operation name="retrieveAttachmentsInfo">
	       <wsdl:input message="eig:retrieveAttachmentsInfoRequest"></wsdl:input>
	       <wsdl:output message="eig:retrieveAttachmentsInfoResponse"></wsdl:output>
	    </wsdl:operation>
	
	    <wsdl:operation name="getAllAttachments">
	       <wsdl:input message="eig:getAllAttachmentsRequest"></wsdl:input>
	       <wsdl:output message="eig:getAllAttachmentsResponse"></wsdl:output>
	    </wsdl:operation>
    
	    <wsdl:operation name="deleteROIAttachments">
	       <wsdl:input message="eig:deleteROIAttachmentsRequest"></wsdl:input>
	       <wsdl:output message="eig:deleteROIAttachmentsResponse"></wsdl:output>
	    </wsdl:operation>
    
	</wsdl:portType>

	<wsdl:binding name="ROIAttachmentSoapBinding" type="eig:ROIAttachmentPortType">
  		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />

	<!--Attachment Method bindings-->

	    <wsdl:operation name="retrieveAttachmentsInfo">
	      <soap:operation soapAction="urn:eig.mckesson.com/retrieveAttachmentsInfo" />
	      <wsdl:input>
	        <soap:header message="eig:header" part="transIdHeader" use="literal" />
	        <soap:header message="eig:header" part="wssHeader" use="literal" />
	        <soap:body use="literal" />
	      </wsdl:input>
	      <wsdl:output>
	        <soap:body use="literal" />
	      </wsdl:output>
	    </wsdl:operation>
	    
	    <wsdl:operation name="getAllAttachments">
	      <soap:operation soapAction="urn:eig.mckesson.com/getAllAttachments" />
	      <wsdl:input>
	        <soap:header message="eig:header" part="transIdHeader" use="literal" />
	        <soap:header message="eig:header" part="wssHeader" use="literal" />
	        <soap:body use="literal" />
	      </wsdl:input>
	      <wsdl:output>
	        <soap:body use="literal" />
	      </wsdl:output>
	    </wsdl:operation>

	    <wsdl:operation name="deleteROIAttachments">
	      <soap:operation soapAction="urn:eig.mckesson.com/deleteROIAttachments" />
	      <wsdl:input>
	        <soap:header message="eig:header" part="transIdHeader" use="literal" />
	        <soap:header message="eig:header" part="wssHeader" use="literal" />
	        <soap:body use="literal" />
	      </wsdl:input>
	      <wsdl:output>
	        <soap:body use="literal" />
	      </wsdl:output>
	    </wsdl:operation>
	    
	</wsdl:binding>
    
     <wsdl:service name="ROIAttachmentService">
	    <wsdl:documentation>
	      This service implements all ROI Attachment Service Calls
	    </wsdl:documentation>
	    <wsdl:port binding="eig:ROIAttachmentSoapBinding" name="roiAttachmentPort">
	      <soap:address
	        location="http://host/context/services/ROIAttachmentService" />
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>

	  
	  